{% extends_admingenerated "VlanceAccountBundle:AdminTaxIdShow:index.html.twig" %}
{% block object %}
    {{ parent() }}
    <!-- popup verify -->
    <div id="popup-verify-ad" class="modal popup fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <b id="myModalLabel">XÁC THỰC MÃ SỐ THUẾ TNCN</b>
        </div>
        <div class="modal-body">
            <div>
                <b>Admin</b> đôi khi bị <i>thiếu cẩn thận</i> do nhiều nguyên nhân.<br/> Bạn chắc chắn xác thực mã số thuế?
            </div>
            <div class="message-working">
                Đang thực hiện xác thực.
            </div>
        </div>
        <div class="modal-footer">
            <a id="btn-close" class="btn btn-link" data-dismiss="modal" aria-hidden="true">Xin lỗi đội vLance, tôi click nhầm</a>
            <a id="btn-verify" class="btn btn-primary btn-ok">Đồng ý</a>
        </div>
    </div>
    
    <!-- popup decline-->
    <div id="popup-comment" class="modal popup fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <b id="myModalLabel">XÁC NHẬN MÃ SỐ THUẾ TNCN</b>
        </div>
        <div class="modal-body">
            <div class="reason-status input">
                <div class="text"> Lý do từ chối:</div>
                <div>
                    <textarea id="comment" name="comment"></textarea>
                </div>
            </div>
            <div class="reason-status working">
                <p>Yêu cầu đang được thực hiện</p>
            </div>
        </div>
        <div class="modal-footer">
            <a id="btn-close" class="btn btn-link" data-dismiss="modal" aria-hidden="true">Đóng</a>
            <a id="btn-decline" class="btn btn-primary btn-ok">Từ chối</a>
        </div>
    </div>
    
    <!-- popup noti-->
    <div id="popup-noti" class="modal popup fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <b id="myModalLabel">XÁC NHẬN CHỨNG MINH NHÂN DÂN</b>
        </div>
        <div class="modal-body">
            <div class="status verify-success">
                <p>Xác thực mã số thuế TNCN thành công.</p>
            </div>
            <div class="status decline-success">
                <p>Từ chối xác thực mã số thuế TNCN thành công.</p>
            </div>
            <div class="status failed">
                <p>Đã có lỗi xảy ra. Vui lòng thử lại sau.</p>
            </div>
        </div>
        <div class="modal-footer">
            <a id="close-popup-noti" class="btn btn-link" data-dismiss="modal" aria-hidden="true">Đóng</a>
        </div>
    </div>
    
    <script type="text/javascript">
        jQuery(document).ready(function ($){
            /* Verify */
            var verify_button = '.object-actions-TaxId a[data-original-title="Verify"]';
            $(verify_button).data('href', $(verify_button).attr('href'));
            $(verify_button).removeAttr('href');   //hide href
            $(verify_button).click(function(){
                $("#popup-verify-ad").modal("show");
                $("#popup-verify-ad .message-working").hide();
            });
            
            $("#btn-verify").click(function(){
                $("#btn-verify").addClass('disabled');
                $("#btn-close").addClass('disabled');
                $(".message-working").show();
                $.ajax({
                    url: $('.object-actions-TaxId a[data-original-title="Verify"]').data('href'),
                }).done(function(result){
                    if(result.error == 0){
                        verifySuccess();
                    } else {
                        verifyFailed();
                    }
                }).fail(function(result){
                    verifyFailed();
                }).always(function(result){
                });
            });
            
            /* Decline */
            var decline_button = '.object-actions-TaxId a[data-original-title="Decline"]';
            $(decline_button).data('href', $(decline_button).attr('href'));
            $(decline_button).removeAttr('href');   //hide href
            $(decline_button).click(function(){
                $("#popup-comment").modal("show");
                popupInput();
            });
            
            $("#btn-decline").click(function(){
                $("#btn-decline").addClass('disabled');
                $("#btn-close").addClass('disabled');
                popupWorking();
                $.ajax({
                    url: $('.object-actions-TaxId a[data-original-title="Decline"]').data('href'),
                    data: {
                        comment: $("#comment").val(),
                    }
                }).done(function(result){
                    if(result.error == 0){
                        declineSuccess();
                    } else {
                        declineFailed();
                    }
                }).fail(function(result){
                    declineFailed();
                }).always(function(result){
                });
            });
            
            //reload lại trang xác thực
            $("#close-popup-noti").click(function(){
                location.reload();
            });
        });
        
        function popupInput(){
            $(".reason-status").hide();
            $(".reason-status.input").show();
        }
        
        function popupWorking(){
            $(".reason-status").hide();
            $(".reason-status.working").show();
        }
        
        function declineSuccess(){
            $("#popup-comment").modal("hide");
            $("#popup-noti").modal("show");
            $(".status").hide();
            $(".status.decline-success").show();
        }

        function declineFailed(){
            $("#popup-comment").modal("hide");
            $("#popup-noti").modal("show");
            $(".status").hide();
            $(".status.failed").show();
        }
        
        function verifySuccess(){
            $("#popup-verify-ad").modal("hide");
            $("#popup-noti").modal("show");
            $(".status").hide();
            $(".status.verify-success").show();
        }

        function verifyFailed(){
            $("#popup-verify-ad").modal("hide");
            $("#popup-noti").modal("show");
            $(".status").hide();
            $(".status.failed").show();
        }
    </script>
{% endblock %}