{% extends "VlanceBaseBundle::layout_email.html.twig" %}
{% block subject %}
{% autoescape false %}
{{ jobs|length }} việc mới đầu tuần đang chờ bạn trên vLance.vn - {{ "now"|date("d/m/Y") }}
{% endautoescape %}
{% endblock %}
{% block body_email %}
<div style="min-height: 350px;">               
    <div>
        <p>Chào <i>{{ account.fullName }}</i>,</p>
        <p>Một tuần mới đã bắt đầu. vLance xin gửi tới bạn <i><strong>{{ jobs|length }} công việc </strong></i> vừa được đăng. Hãy gửi chào giá ngay hôm nay để có cơ hội sớm nhất được khách hàng lựa chọn.</p>
        <p>Bạn có biết? Những việc mới này được hệ thống tự động phân loại dựa theo kỹ năng và chuyên môn của bạn. Để có cơ hội nhận những công việc phù hợp nhất, bạn chỉ cần điền chính xác những các <i>kỹ năng, lĩnh vực chuyên môn</i> của mình, đồng thời cập nhật đầy đủ các thông tin trong <a href="{{ url('account_show_freelancer', {'hash': account.hash}) }}?ap=newjob" style="text-decoration: none; color: #429fdd">hồ sơ việc làm</a>.</p>
        <p>Chúc bạn một tuần mới làm việc hiệu quả.</p>
        <br/>
        {% for job in jobs %}
            {% if job.type == 2 %}
                {% set job_url = url('job_onsite_view', {'hash': job.hash}) %}
                <div style="padding: 1px 20px 20px 20px; margin-bottom: 20px; background-color: #f5fafd; border: 1px solid #d8e8f2;border-bottom: 5px solid #d8e8f2;border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;">
                    <h2 style="margin-top: 1.1em;margin-bottom: 0;"><a href="{{ job_url }}" target="_blank" style="color: #429fdd; text-transform: uppercase; font-weight: normal;text-decoration: none;">{{ job.title }}</a>
                    <span style="font-size:11px;font-weight:bold;background:#f76d22;color:#FFF;font-family:'Open Sans',sans-serif;padding:1px 4px 0 4px;border-radius:2px;text-transform:uppercase;display: inline-block;line-height: 14px; background-color:#7d528f;">Onsite</span></h2>
                    <p style="font-size: 14px; font-style: italic; margin-top: 0.5em;">{{ job.onsiteCompanyName }} | {{ job.budget|number_format(0, ",", ".") }} VNĐ - {{ job.budgetMax|number_format(0, ",", ".") }} VNĐ | {{ job.city.name }} | {{ job.duration }} Tháng</p>
                    <p>{{ job.description[:200]}}... <a href="{{ job_url }}" target="_blank" style="text-decoration: none; color: #429fdd">Xem thêm</a></p>
                    <p style="text-align: center; margin-top: 40px"><a target="_blank" href="{{ job_url }}"
                       style="text-decoration: none; color: black; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; padding: 14px 22px 9px; background-color: #71b7e6; font-size: 16px; border-bottom: 4px solid #4292dd; text-transform: uppercase; color: #ffffff; text-shadow: 0px 1px 1px rgba(0,0,0,0.4);">Gửi CV</a></p>
                </div>
            {% endif %}
            {% if job.type == 1 %}
                {% if job.valid == 1 %}
                    {% set job_url = url('job_contest_view', {'hash': job.hash}) %}
                    <div style="padding: 1px 20px 20px 20px; margin-bottom: 20px; border: 1px solid #f1f1df;border-bottom: 5px solid #f1f1df;border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; background-color: #ffffeb;">
                        <h2 style="margin-top: 1.1em;margin-bottom: 0;"><a href="{{ job_url }}" target="_blank" style="color: #429fdd; text-transform: uppercase; font-weight: normal;text-decoration: none;">{{ job.title }}</a>
                        <span style="font-size:11px;font-weight:bold;background:#f76d22;color:#FFF;font-family:'Open Sans',sans-serif;padding:1px 4px 0 4px;border-radius:2px;text-transform:uppercase;display: inline-block;line-height: 14px; background-color:#fbbf00;">Cuộc thi</span></h2>
                        <p style="font-size: 14px; font-style: italic; margin-top: 0.5em;">{{ job.category.title }} | {{ job.budget|number_format(0, ",", ".") }} VNĐ | {{ job.city.name }}</p>
                        <p>{{ job.description[:200]}}... <a href="{{ job_url }}" target="_blank" style="text-decoration: none; color: #429fdd">Xem thêm</a></p>
                        <p style="text-align: center; margin-top: 40px"><a target="_blank" href="{{ job_url }}"
                           style="text-decoration: none; color: black; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; padding: 14px 22px 9px; background-color: #fbbf00; font-size: 16px; border-bottom: 4px solid #e8a205; text-transform: uppercase; color: #ffffff; text-shadow: 0px 1px 1px rgba(0,0,0,0.4);">Tham gia cuộc thi</a></p>
                    </div>
                {% endif %}
            {% endif %}
            {% if job.type == 0 %}
                {% set job_url = url('job_show_freelance_job', {'hash': job.hash}) %}
                <div style="padding: 1px 20px 20px 20px; margin-bottom: 20px; background-color: #f5fafd; border: 1px solid #d8e8f2;border-bottom: 5px solid #d8e8f2;border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;">
                    <h2 style="margin-top: 1.1em;margin-bottom: 0;"><a href="{{ job_url }}" target="_blank" style="color: #429fdd; text-transform: uppercase; font-weight: normal;text-decoration: none;">{{ job.title }}</a></h2>
                    <p style="font-size: 14px; font-style: italic; margin-top: 0.5em;">{{ job.category.title }} | {{ job.budget|number_format(0, ",", ".") }} VNĐ | {{ job.city.name }}</p>
                    <p>{{ job.description[:200]}}... <a href="{{ job_url }}" target="_blank" style="text-decoration: none; color: #429fdd">Xem thêm</a></p>
                    <p style="text-align: center; margin-top: 40px"><a target="_blank" href="{{ job_url }}"
                       style="text-decoration: none; color: black; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; padding: 14px 22px 9px; background-color: #71b7e6; font-size: 16px; border-bottom: 4px solid #4292dd; text-transform: uppercase; color: #ffffff; text-shadow: 0px 1px 1px rgba(0,0,0,0.4);">Gửi chào giá</a></p>
                </div>
            {% endif %}
        {% endfor %}
            <p style="font-size: 0.9em; color: #888;">Thành thật xin lỗi nếu mail này đã làm phiền bạn. Bạn có thể từ chối tiếp nhận mail<a style="text-decoration: none; color: #429fdd" href="{{url('unsubscribe_email_user', {'encryption' : encryption })}}"> tại đây</a>.</p>
    </div>
</div>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=job-newsletter-{{ "now"|date("Ymd") }}-newweek&cs=newsletter&cm=email&cn=job-newsletter-{{ "now"|date("Ymd") }}&uid={{account.id}}"/>
    {#<img src="http://api.mixpanel.com/track/?data={{mixpanel_tracking}}&ip=1&img=1" width="1" height="1"/>#}
{% endblock %}