<!DOCTYPE html>
<html>
    {{ render(controller('VlanceBaseBundle:Block:head')) }}
    <body class="one-column error-page">
        {{ render(controller('VlanceBaseBundle:Block:header')) }}
        <!-- about page -->
		<div class="error-section container">
            <div class="row-fluid">
                <h1>LỖI 404</h1>
                <p>Có vẻ như bạn đã lạc đường, hãy theo đường <a href="{{ url('vlance_homepage') }}">link</a> này để trở lại trang chủ</p>
                <div class="map-error">
                    <div>Bạn đang ở đây</div>
                </div>
            </div>
		</div>
		<!-- End about page -->
		
		
		<!-- Footer -->
        {{ render(controller('VlanceBaseBundle:Block:footer')) }}
        <!-- javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
    </body>
</html>