<!DOCTYPE html>
<html>
    {{ render(controller('VlanceBaseBundle:Block:head')) }}
    <body class="one-column error-page-500">
        {{ render(controller('VlanceBaseBundle:Block:header')) }}
        <!-- about page -->
		<div class="error-section container">
            <div class="row-fluid">
                <h1>OOOOOOOOOOOPS!</h1>
                <p>Rất tiếc, trang web bạn muốn truy cập hiện đang gặp lỗi.</p>
                <p>Hãy theo đường <a href="{{ url('vlance_homepage') }}">link</a> này để trở lại trang chủ. Cám ơn bạn đã</p>
                <p>cho vLance cớ để trừ lương các bạn lập trình viên.</p>
                <div class="map-error-500">
                </div>
            </div>
		</div>
		<!-- End about page -->
		
		
		<!-- Footer -->
		{{ render(controller('VlanceBaseBundle:Block:footer')) }}
        <!-- javascript
    </body>
</html>
