{% trans_default_domain 'vlance' %}
{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
[vLance.vn] Xác nhận giao dịch chuyển tiền vào ví vLance
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{ transaction.receiver.fullName }}</i>,<br/>
    <br/>
    vLance xin xác nhận giao dịch chuyển tiền vào ví vLance của bạn.<br/>
    <br/>
    Chi tiết giao dịch:<br/>
    <ul>
        <li>Số tiền: <b>{{transaction.amount | number_format(0,',','.')}} VNĐ</b></li>
        <li>Hình thức thanh toán: 
            <b>
                {% if transaction.paymentMethod.id == 1 %}
                    Chuyển khoản ngân hàng
                {% elseif transaction.paymentMethod.id == 2 %}
                    Nạp tiền trực tiếp
                {% endif %}
            </b>
        </li>
        <li>Ngày thanh toán: {{transaction.createdAt | date('H:s:i d/m/Y')}}</li>
    </ul>
    <br/>
    Số dư hiện tại của bạn là: <b>{{userCash.balance | number_format(0,',','.')}} VNĐ</b><br/>
    Bạn có thể theo dõi số dư của mình tại đây: <a href="http://www.vlance.vn/trans/withdraw">http://www.vlance.vn/trans/withdraw</a><br/>
    <br/>
    Chúc bạn có nhiều dự án thành công tại vLance.vn<br/>
    Thân mến,
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=usercash-admin-topup&cs=transaction&cm=email&cn=topup-usercash"/>
{% endblock %}

                    
