{% extends "VlanceBaseBundle:Email/cjca:cjca_layout.html.twig" %}
{% block subject %}
{% autoescape false %}
Bí quyết nào để dự án thu hút nhiều freelancer?
{% endautoescape %}
{% endblock %}
{% block body_email %}
<div style="min-height: 350px;">               
    <div>
        <p style="line-height:1.5em; margin-bottom: 24px;">Chúc mừng <strong>{{job_owner}}</strong>!</p>
        
        <p style="line-height:1.5em; margin-bottom: 24px;">Dự án đầu tiên của bạn trên vLance.vn (ID {{job_id}}) <strong>"{{job_name}}"</strong> vừa đăng thành công!
            Bạn có biết những bí quyết khi đăng dự án để hấp dẫn các freelancer hàng đầu?</p>
        
        <p style="line-height:1.5em; margin-bottom: 24px;"><strong>1) Viết tiêu đề ngắn gọn <10 từ, nói đúng việc cần làm</strong>
            <br/><img src="http://www.vlance.vn/newsletter/img/indent-no.png"/> Không nên viết: "Cần tìm kiếm 1 freelancer để vẽ 10 banner cho website học trực tuyến tiếng Anh"
            <br/><img src="http://www.vlance.vn/newsletter/img/indent-yes.png"/> Nên viết: "Thiết kế banner website học tiếng Anh"</p>
        
        <p style="line-height:1.5em; margin-bottom: 24px;"><strong>2) Mô tả rõ ràng</strong>
            <br/><img src="http://www.vlance.vn/newsletter/img/indent-yes.png"/> Viết tiếng Việt có dấu hoặc tiếng Anh chuẩn.
            <br/><img src="http://www.vlance.vn/newsletter/img/indent-yes.png"/> Mỗi yêu cầu thể hiện bằng một gạch đầu dòng (làm gì, làm trong bao lâu, yêu cầu gì về kinh nghiệm, v.v.).</p>
        
        <p style="line-height:1.5em; margin-bottom: 24px;"><strong>3) Có tag kỹ năng</strong>
            <br/><img src="http://www.vlance.vn/newsletter/img/indent-yes.png"/> Chọn 1 vài kỹ năng cần nhất với yêu cầu dự án.</p>
        
        <p style="line-height:1.5em; margin-bottom: 24px;"><strong>4) Ngân sách rõ ràng và hấp dẫn</strong>
            <br/><img src="http://www.vlance.vn/newsletter/img/indent-yes.png"/> Hãy đưa ra mức ngân sách bằng đúng khả năng chi trả của bạn.
            <br/><img src="http://www.vlance.vn/newsletter/img/indent-yes.png"/> Con số phải thực tế. Nếu thấp quá hoặc cao một cách phi lý, chắc chắn sẽ không có ai chào giá vì freelancer cho rằng bạn thiếu nghiêm túc.</p>
        
        <p style="line-height:1.5em; margin-bottom: 24px;">Bạn có thiếu một trong những điểm trên trong dự án vừa đăng? <strong>Bổ sung thông tin</strong> ngay để dự án của bạn hấp dẫn hơn với freelancer nhé.</p>
        
        {% set job_url = url('job_edit', {'id': job_id}) %}
        <p style="line-height:1.5em;text-align: center; margin: 45px 0 40px;">
            <a target="_blank" href="{{job_url}}?cta=cjca_m01" style="text-decoration: none; color: black; border-radius: 3px;
               -webkit-border-radius: 3px; -moz-border-radius: 3px; padding: 17px 30px 11px; background-color: #0188cc; 
               font-size: 16px; border-bottom: 4px solid #006ea1; text-transform: uppercase; color: #ffffff; 
               text-shadow: 0px 1px 1px rgba(0,0,0,0.4);">
               BỔ SUNG THÔNG TIN
            </a>
        </p>
        
        <p style="font-style:italic;line-height:1.5em; margin-bottom: 24px;"><strong style="color:#e20000;text-transform:uppercase;">Lưu ý:</strong> 
            <strong>10h00 sáng</strong> hàng ngày vLance.vn sẽ gửi các dự án mới tới tất cả những freelancer phù hợp yêu cầu của bạn. Vì vậy hãy bổ sung ngay để không bỏ lỡ cơ hội nhé!
        </p>
    </div>
</div>
{% endblock %}
{% block ga_tracker %}
    {% if pixel_tracking is defined %}
        <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=cjca-m01&cs=cjca&cm=email&cn=cjca-m01" width="1" height="1"/>
        <img src="http://api.mixpanel.com/track/?data={{mixpanel_tracking}}&ip=1&img=1" width="1" height="1"/>
    {% endif %}
{% endblock %}