{% extends "VlanceBaseBundle:Email/cjca:cjca_layout.html.twig" %}
{% block subject %}
{% autoescape false %}
Dự án đã có freelancer chào giá, xem ngay thôi!
{% endautoescape %}
{% endblock %}
{% block body_email %}
<div style="min-height: 350px;">               
    <div>
        <div>
            <p style="line-height:1.5em; margin-bottom: 24px;">Chúc mừng <strong>{{job_owner}}</strong>!</p>

            <p style="line-height:1.5em; margin-bottom: 24px;">Dự án ID {{job_id}} <strong>"{{job_name}}"</strong> của bạn đã nhận được chào giá đầu tiên!</p>

            <p style="line-height:1.5em; margin-bottom: 24px;">Bạn cần liên hệ với freelancer? Hãy bấm vào <strong>Gửi tin nhắn</strong> cho freelancer trong mỗi chào giá để trao đổi cụ thể hơn về yêu cầu công việc, thời gian, ngân sách, v.v. trước khi chọn freelancer.</p>

            <p style="line-height:1.5em; margin-bottom: 24px;">vLance cũng xin giới thiệu đây là 4 freelancer có kỹ năng và kinh nghiệm phù hợp nhất với dự án của bạn! Bấm <strong>MỜI LÀM</strong> để mời họ chào giá dự án ngay nhé!</p>
        </div
        <div style="margin-bottom:15px;float:left;">
            {% for fl in suggest_freelancers %}
                <div style="float: left;  width: 235px;  margin-right: 5px; margin-top:25px;">
                    <div class="avatar" style="float: left;  width: 80px;">
                        <img src="{{ fl.avatar }}" width="80" height="80"/>
                    </div>
                    <div class="info" style="float:left;width: 145px;margin-left: 10px;">
                        <div class="name" style="float:left;margin-top: 3px;margin-bottom: 4px;">{{fl.fullName}}</div>
                        {% if fl.isCertificated == true %}
                            <div style="float: left;width: 20px; height: 20px;margin-left: 2px;" >
                                <img style="width: 20px; height: 20px;" 
                                     src="http://www.vlance.vn/img/logo_certificated.png" 
                                     alt="Đã được Xác thực" title="Đã được Xác thực"/>
                            </div>
                        {% endif %}
                        <div class="rating" style="float: left;width: 100%;" title="{{fl.rating}} trên 5">
                            <div style="width: 89px;height: 17px;background: url(http://www.vlance.vn/img/star1.png) 0 0 repeat-x;text-indent: -999em;overflow: hidden;">
                                <div class="rating" style="width:{{fl.rating * 20}}%;float: left;height: 17px;background: url(http://www.vlance.vn/img/star1.png) 0 100% repeat-x;"></div>
                            </div>
                        </div>
                        <div style="float:left;margin-top:10px;">
                            <a href="{{url('jobinvite_createinvite', {'jobId': jobHash, 'accountId': fl.accountHash})}}"
                               style="display:block;text-decoration: none; color: black; border-radius: 4px;
                                        -webkit-border-radius: 4px; -moz-border-radius: 4px; padding: 8px 24px 5px; background-color: #0188cc; 
                                        font-size: 13px; border-bottom: 2px solid #006ea1; text-transform: uppercase; color: #ffffff; 
                                        text-shadow: 0px 1px 1px rgba(0,0,0,0.4);">
                                Mời làm
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div>
            <p style="line-height:1.5em; margin-bottom: 24px;">Ngoài ra, bạn cũng có thể vào mục <a href="{{url('freelancer_list')}}">Thuê freelancer</a> để mời freelancer khác làm việc nữa! Chỉ cần bấm <strong>MỜI LÀM</strong> hiển thị trên hồ sơ của freelancer đó.</p>

            <p style="line-height:1.5em; margin-bottom: 24px;">Chúc bạn một ngày tốt lành!</p>
        </div>
    </div>
</div>
{% endblock %}
{% block ga_tracker %}
    {% if pixel_tracking is defined %}
        <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=cjca-m02&cs=cjca&cm=email&cn=cjca-m02" width="1" height="1"/>
        <img src="http://api.mixpanel.com/track/?data={{mixpanel_tracking}}&ip=1&img=1" width="1" height="1"/>
    {% endif %}
{% endblock %}