{% trans_default_domain 'vlance' %} 
{% block body_text %}
{% autoescape false %}
{% endautoescape %}
{% endblock %}
{% block body_html %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="robots" content="noindex,nofollow">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <title>vlance.vn</title>
        <style>@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,vietnamese);</style>
    </head>
    <body style="background-color:#f0f0f0; margin:0px auto; padding:25px 0; font-family:'Open Sans',sans-serif; font-size:13px; width:100%;">
        <div class="container" style="background-color: white;margin: 0 auto;width: 480px;padding: 35px;">
            <!-- Header -->
            <div style="text-align: center;width: 480px;height: 115px;">
                <a href="http://www.vlance.vn" style="width: 167px;height: 115px;">
                    <img src="http://www.vlance.vn/newsletter/img/logo.png" style="width: 167px;height: 115px;">
                </a>
            </div>
             <!-- //end Header -->
             
            <!-- content -->
            {% block body_email %}{% endblock %}
            <!-- end content -->
            
            <!-- Footer -->
            <div style="display: block;">
                <div style="min-height: 85px;  clear: both;  border: 1px solid #e6e6e6;  border-width: 1px 0 0 0;  margin-top: 30px;height: 85px;clear: both;">
                    <div style="float: left;margin-top: 15px;">
                        Bạn cần trợ giúp? Liên hệ với chúng tôi<br/>
                        Email: <strong><a target="_blank" style="text-decoration: none;color: #000;" href="mailto:hotro@vlance.vn">hotro@vlance.vn</a></strong><br/>
                        Tel: <strong>04-6684-1818</strong>
                    </div>
                    <ul class="img_face" style="float: right;list-style: none;margin-top: 15px;padding-left:0px;">
                        <li style="float: left;margin-left: 5px;">
                            <a target="_blank" style="text-decoration: none;" href="https://www.youtube.com/user/vlancevietnam"><img src="http://www.vlance.vn/newsletter/img/mail_youtube.png"></a>
                        </li>
                        <li style="float: left;margin-left: 5px;">
                            <a target="_blank" style="text-decoration: none;" href="https://plus.google.com/+VlanceVn"><img src="http://www.vlance.vn/newsletter/img/mail_gplus.png"></a>
                        </li>
                        <li style="float: left;margin-left: 5px;">
                            <a target="_blank" style="text-decoration: none;" href="https://www.linkedin.com/groups/vLancevn-Làm-freelance-kiếm-thêm-4699959"><img src="http://www.vlance.vn/newsletter/img/mail_linkedin.png"></a>
                        </li>
                        <li style="float: left;margin-left: 5px;">
                            <a target="_blank" style="text-decoration: none;" href="https://www.facebook.com/vlance.vn"><img src="http://www.vlance.vn/newsletter/img/mail_facebook1.png"></a>
                        </li>
                        <li style="float: left;margin-left: 5px;">
                            <a target="_blank" style="text-decoration: none;" href="https://twitter.com/vlancevn"><img src="http://www.vlance.vn/newsletter/img/mail_tiw1.png"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            <div class="container" style="color: #999999;margin: 8px auto;width: 550px;  text-align: right;">
                © 2013 - 2017 vLance.vn
            </div>
        {% block ga_tracker %}{% endblock %}
    </body>
</html>
{% endblock %}