{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
[admin] [ID:{{cid}}] Cuộc thi {{ctitle}} vượt quá thời gian tiến trình.
{% endautoescape %}
{% endblock %}
{% block body_email %}
<div style="padding-top:40px; padding-bottom: 72px;padding-left:40px; padding-right:40px;">
    <p style="text-align: center;font-size:30px;line-height: 40px;padding-bottom:48px">Chúng tôi đã sẵn sàng làm việc</p>
    <p style="margin-bottom:24px;font-size:18px;line-height:24px;">Chào <span style="font-weight:bold;">%%full_name%%</span></p>
    <p style="font-size:18px;line-height:24px;">Cảm ơn bạn đã đặt hàng dịch vụ "<span style="font-weight:bold;">Viết bài cho fanpage</span>". Các đối tác chúng tôi đã sẵn sàng làm việc cùng với bạn.</p>
    <p style="margin-top:24px;font-size:18px;line-height:24px;">Hiện chúng tôi đã tìm ra được 4 người phù hợp nhất với yêu cầu của bạn. Bạn chỉ việc click vào nút "<span style="font-weight:bold;">Chọn đối tác</span>" bên dưới đây để lựa chọn ra người mà bạn muốn làm việc cùng nhất.</p>
    <p style="margin-top:24px;font-size:18px;line-height:24px;">Công việc sẽ bắt đầu ngay sau khi bạn xác nhận sự lựa chọn của mình.</p>
    <p style="margin:58px auto 24px; text-align:center;">
        <a href="" 
            style="border-radius: 5px; text-align: center;text-shadow: 0px 1px 1px rgb(255, 255, 255); 
                    background-color: #f77d0e; padding: 17px 92px 17px 92px; text-decoration: none; color: #ffffff; width: 120px; 
                    margin-top: 10px;-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.05);
                    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.05);
                    box-shadow: inset 0 1px 0 rgba(255,255,255,0.75), 0 1px 2px rgba(0,0,0,0.05);text-shadow: none;">
            <strong style="font-size:18px;">Chọn đối tác</strong>
        </a>
    </p>
    <p style="margin-top:36px;font-size:18px;line-height:24px;color:#999999;">Lưu ý, bạn sẽ có 24h để đưa ra lựa chọn của mình. Quá thời hạn trên, ThuêNgay.vn sẽ tự động giao việc cho đối tác đã từng được thuê nhiều nhất.</p>
</div>
{% endblock %}
