{% extends "VlanceBaseBundle:Email:layout_email_thuengay.html.twig" %}
{% block subject %}
{% autoescape false %}
Xác nhận đơn hàng
{% endautoescape %}
{% endblock %}
{% block body_email %}
<div style="padding-top:40px; padding-bottom: 72px;padding-left:40px; padding-right:40px;">
    <p style="text-align: center;font-size:30px;line-height: 40px;padding-bottom:48px">Xác nhận đơn hàng</p>
    <p style="margin-bottom:24px;font-size:18px;line-height:24px;">Chào <span style="font-weight:bold;">%%full_name%%</span>,</p>
    <p style="font-size:18px;line-height:24px;letter-spacing: -0.02em;">Chúng tôi xác nhận bạn đã thanh toán đơn hàng <span style="font-weight:bold;">AEF4H4</span></p>
    <p style="font-size:18px;line-height:24px;letter-spacing: -0.02em;">Ngày thanh toán: 16h32 10/08/2016</p>
    <p style="font-size:18px;line-height:24px;letter-spacing: -0.02em;">Hình thức thanh toán: Chuyển khoản ngân hàng.</p>   
    <p >Thông tin chi tiết đơn hàng:</p>
    <div style="background: #fafafa;padding:20px;">
        <div style="border-bottom: 1px solid #e6e6e6;">
            <p style="font-size:14px;line-height: 20px;letter-spacing: -0.02em;float:left;">Tên dịch vụ</p>
            <p style="font-size:14px;line-height: 20px;letter-spacing: -0.02em;text-align: right;">Thành tiền</p>
        </div>
        <div>
            <p style="font-size:14px;font-weight:700;line-height: 20px;letter-spacing: -0.02em;float:left">Viết bài cho fanpage <span style="font-weight:400;">x2</span></p>
            <p style="font-size:14px;line-height: 20px;letter-spacing: -0.02em;text-align: right;">400.000 ₫</p>
        </div>
        <div style="border-bottom: 1px solid #e6e6e6;">
            <p style="font-size:14px;line-height: 20px;letter-spacing: -0.02em;">Gói siêu tốc: Giao sản phẩm trong 1 ngày</p>
            <p style="font-size:14px;line-height: 20px;letter-spacing: -0.02em;">Thêm 3 bản nháp (+2 ngày)</p>
        </div>
        <div>
            <p style="font-size:14px;font-weight:700;line-height: 20px;letter-spacing: -0.02em;float:left">Viết bài chuẩn SEO cho web Tiếng Việt <span style="font-weight:400;">x2</span></p>
            <p style="font-size:14px;line-height: 20px;letter-spacing: -0.02em;text-align: right;">500.000 ₫</p>
        </div>    
        <div style="border-bottom: 1px solid #e6e6e6;">
            <p style="font-size:14px;line-height: 20px;letter-spacing: -0.02em;">Gói siêu tốc: Giao sản phẩm trong 1 ngày</p>
            <p style="font-size:14px;line-height: 20px;letter-spacing: -0.02em;">Thêm 3 bản nháp (+2 ngày)</p>
        </div>
    </div>
</div>
{% endblock %}
