{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
[admin] [ID:{{cid}}] Cuộc thi {{ctitle}} vượt quá thời gian tiến trình.
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Chào admin,<br/>
    <br/>
    Khách hàng {{cmess}}<br/>
    <br/>
    Thông tin công việc: <br/>
    <b>ID</b>: {{cid}} <br/>
    <b>Title</b>: {{ctitle}} <br/>
    <b>Link</b>: {{curl}}<br/>
    <br/>
    Chào thân ái Admin và quyết thắng!!<br/>
</p>
{% endblock %}
