{% extends "VlanceBaseBundle:Email:layout_email_thuengay.html.twig" %}
{% block subject %}
{% autoescape false %}
Chuyển khoản ngân hàng
{% endautoescape %}
{% endblock %}
{% block body_email %}
<div style="padding-top:40px; padding-bottom: 72px;padding-left:12px; padding-right:12px;">
    <p style="text-align: center;font-size:30px;line-height: 40px;padding-bottom:48px">Chuyển khoản ngân hàng</p>
    <p style="margin-bottom:24px;font-size:18px;line-height: 24px;">Chào <span style="font-weight:bold;">{{payer.fullName}}</span>,</p>
    <p style="font-size:18px;line-height:24px;letter-spacing: -0.02em;">Bạn đã đặt mua thành công dịch vụ "<span style="font-weight:bold;">{{service_pack.title}}</span>" bằng hình thức chuyển khoản ngân hàng. Ngay bây giờ, bạn cần ra ngân hàng để chuyển khoản thanh toán cho dịch vụ.</p> 
    <div style="background: #fafafa;margin:auto;padding:20px 90px;text-align: center;">
        <p style="font-size:16px;line-height: 24px;letter-spacing: -0.02em;">Khi thanh toán vui lòng ghi mã số đơn hàng của bạn vào nội dung chuyển khoản:</p>
        <p style="font-size:30px;font-weight: 700;text-transform: uppercase;color:#1996d7;letter-spacing: -0.02em;">{{code}}</p>
    </div>
    <p style="padding-top:10px;font-size: 14px;font-style: italic;color:#666666;line-height:24px;letter-spacing: -0.02em">Ví dụ minh họa nội dung chuyển khoản: <span style="font-weight:bold;">“Thanh toan cho don hang {{code}}”</span></p>
    <div>
        <p style="margin-top:24px;font-size:16px;line-height: 32px;">Thông tin chuyển khoản</p>
        <div>
            <p style="width:87px;margin: 0px;padding-right:20px;font-size:14px;line-height: 32px;letter-spacing: -0.02em;float:left;text-align: right;">Chủ tài khoản</p>
            <p style="font-size:14px;font-weight:bold;line-height: 32px;">Trần Ngọc Tuân</p>
        </div>
        <div>
            <p style="width:87px;margin: 0px;padding-right:20px;font-size:14px;line-height: 32px;letter-spacing: -0.02em;float:left;text-align: right;">Số tài khoản</p>
            <p style="font-size:14px;font-weight:bold;line-height: 32px;">0011004141791</p>
        </div>
        <div>
            <p style="width:87px;margin: 0px;padding-right:20px;font-size:14px;line-height: 32px;letter-spacing: -0.02em;float:left;text-align: right;">Chi nhánh</p>
            <p style="font-size:14px;font-weight:bold;line-height: 32px;">Sở giao dịch Hà Nội - Ngân hàng TMCP Ngoại Thương Vietcombank</p>
        </div>
        <div>
            <p style="width:87px;margin: 0px;padding-right:20px;font-size:14px;line-height: 32px;letter-spacing: -0.02em;float:left;text-align: right">Ngân hàng</p>
            <p style="font-size:14px;font-weight:bold;line-height: 32px;">Ngân hàng thương mại cổ phần Ngoại Thương - Vietcombank</p>
        </div>
    </div>
</div>
{% endblock %}
