<option value="">Nhập tiêu đề công việc</option>
{%- for job in jobs -%}
<option value="{{ job['id'] }}" {% if value is defined and value == job['id'] %}selected="selected"{% endif %}>{{ job['title'] }}</option>
{%- endfor -%}