<script type="text/javascript">
    $(document).ready(function() {
        $('#{{ id }}').select2({
            placeholder: "Nhập tiêu đề công việc",
            minimumInputLength: 5
        });
    });
</script>
