{% extends_admingenerated "VlanceAccountBundle:AdminPersonIdShow:index.html.twig" %}
{% block show_column_fullName %}
    {{PersonId.fullName}} <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Ngày sinh:</b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span> {{PersonId.account.birthday|date("d-m-Y")}}
{% endblock %}
{% block show_column_filenameFront %}
    <a id="front"><img id="img_front" src="/uploads/personid/{{ PersonId.path }}/{{ PersonId.storednameFront }}" style="max-width: 800px; max-height: 800px;"/></a>
{% endblock %}
{% block show_column_filenameBack %}
    <a id="back"><img id="img_back" src="/uploads/personid/{{ PersonId.path }}/{{ PersonId.storednameBack }}" style="max-width: 800px; max-height: 800px;"/></a>
{% endblock %}
{% block show_column_type %}
    {% if PersonId.type ==  1 %}
        <p>Chứng minh nhân dân (giấy)</p>
    {% elseif PersonId.type == 2 %}
        <p>Chứng minh nhân dân (thẻ nhựa)</p>
    {% elseif PersonId.type == 3 %}
        <p>Căn cước công dân</p>
    {% endif %}
{% endblock %}
{% block show_column_createdAt %}
    {{ PersonId.createdAt|date("d-m-Y") }}
{% endblock %}
{% block show_column_idNumber %}
    <span style="font-size: 20px">{{ PersonId.idNumber}}</span> <span style="color: #14d76e;"><b> {{ existed_verified_id }} </b></span>
{% endblock %}
{% block show_column_issuedDate %}
    {{ PersonId.issuedDate|date("d-m-Y") }}
{% endblock %}
{% block show_column_comment %}
    {% if PersonId.getArrayComment is iterable %}
        {% for c in PersonId.getArrayComment %}
            {% if c.date is defined %}
                <li>{{ c.date }}  ||  {{ c.verify }}  ||  {{ c.reason }}</li>
            {% else %}
                {{PersonId.getComment}}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
{% block object %}
    {{ parent() }}
    <!-- popup verify -->
    <div id="popup-verify-ad" class="modal popup fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <b id="myModalLabel">XÁC NHẬN CHỨNG MINH NHÂN DÂN</b>
        </div>
        <div class="modal-body">
            <div>
                <b>Admin</b> đôi khi bị <i>thiếu cẩn thận</i> do nhiều nguyên nhân.<br/> Bạn chắc chắn xác thực CMND?
            </div>
            <div class="message-working">
                Đang thực hiện xác thực.
            </div>
        </div>
        <div class="modal-footer">
            <a id="btn-close" class="btn btn-link" data-dismiss="modal" aria-hidden="true">Đóng</a>
            <a id="btn-verify" class="btn btn-primary btn-ok">Đồng ý</a>
        </div>
    </div>
    
    <!-- popup decline-->
    <div id="popup-comment" class="modal popup fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <b id="myModalLabel">XÁC NHẬN CHỨNG MINH NHÂN DÂN</b>
        </div>
        <div class="modal-body">
            <div class="reason-status input">
                <div class="text" style="font-size: 20px"> Lý do từ chối:</div>
                <div style="text-align: left; margin-left: 10px;">
                    <div class="row-fluid">
                        <label style="font-weight: 300"><input name="reason" type="checkbox" value='Ảnh chụp CMND không rõ ràng (bị nghiêng, bị mờ, bị lóa, hoặc bị cắt xén)'> Ảnh chụp CMND không rõ ràng (bị nghiêng, bị mờ, bị lóa, hoặc bị cắt xén) </label>
                    </div>
                    <div class="row-fluid">
                        <label style="font-weight: 300"><input name="reason" type="checkbox" value='Kích thước ảnh chụp CMND không phù hợp'> Kích thước ảnh chụp CMND không phù hợp</label>
                    </div>
                    <div class="row-fluid">
                        <label style="font-weight: 300;"><input name="reason" type="checkbox" value='Sai "Loại thẻ"'> Sai "Loại thẻ"</label>
                        <label style="font-weight: 300; margin-left: 30px"><input name="reason" type="checkbox" value='Sai "Họ và Tên"'> Sai "Họ và Tên"</label>
                        <label style="font-weight: 300; margin-left: 60px"><input name="reason" type="checkbox" value='Sai "Ngày sinh"'> Sai "Ngày sinh"</label>
                    </div>
                    <div class="row-fluid">
                        <label style="font-weight: 300;"><input name="reason" type="checkbox" value='Sai số CMND'> Sai số CMND</label>
                        <label style="font-weight: 300; margin-left: 30px"><input name="reason" type="checkbox" value='Sai Ngày cấp CMND'> Sai Ngày cấp CMND </label>
                        <label style="font-weight: 300; margin-left: 30px"><input name="reason" type="checkbox" value='Sai Nơi cấp CMND'> Sai Nơi cấp CMND</label>
                    </div>
                    <div class="row-fluid">
                        <label style="font-weight: 300"><input name="reason" type="checkbox" value='Số CMND đã được xác thực cho tài khoản khác.'> Số CMND đã được xác thực cho tài khoản khác.</label>
                    </div>
                    <div class="row-fluid">
                        <label style="font-weight: 300"><input name="reason" type="checkbox" value='Cần sử dụng Tiếng Việt có dấu.'> Cần sử dụng Tiếng Việt có dấu.</label>
                    </div>
                    <div class="row-fluid">
                        <label style="font-weight: 300"><input name="reason" type="checkbox" value='Ảnh chụp bị mờ, cần chụp lại ảnh mới rõ ràng hơn.'> Ảnh chụp bị mờ, cần chụp lại ảnh mới rõ ràng hơn.</label>
                    </div>
                    <div class="row-fluid">
                        <label style="font-weight: 300"><input name="reason" type="checkbox" value='Cần chụp ảnh CMND thật thay vì bản photocopy.'> Cần chụp ảnh CMND thật thay vì bản photocopy.</label>
                    </div>
                    <div class="row-fluid">
{#                    <input id="comment-reason" name="reason" type="checkbox" value='' onclick="clickAddReason(this)"> Khác <br/>#}
                        <div id='block-comment'>
                            <textarea id="comment" name="comment" placeholder="Admin hãy viết theo đúng cấu trúc sau: Lí do 1 - Lí do 2 - Lí do 3 - etc.. . Cảm ơn đã thông cảm cho bên phát triển phần mềm. Chúng tôi sẽ cố gắng cải thiện sau."></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reason-status working">
                <p>Yêu cầu đang được thực hiện</p>
            </div>
        </div>
        <div class="modal-footer">
            <a id="btn-close" class="btn btn-link" data-dismiss="modal" aria-hidden="true">Đóng</a>
            <a id="btn-decline" class="btn btn-primary btn-ok">Từ chối</a>
        </div>
    </div>
    
    <!-- popup noti-->
    <div id="popup-noti" class="modal popup fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <b id="myModalLabel">XÁC NHẬN CHỨNG MINH NHÂN DÂN</b>
        </div>
        <div class="modal-body">
            <div class="status verify-success">
                <p>Xác thực CMND thành công.</p>
            </div>
            <div class="status decline-success">
                <p>Từ chối xác thực CMND thành công.</p>
            </div>
            <div class="status failed">
                <p>Đã có lỗi xảy ra. Vui lòng thử lại sau.</p>
            </div>
        </div>
        <div class="modal-footer">
            <a id="close-popup-noti" class="btn btn-link" data-dismiss="modal" aria-hidden="true">Đóng</a>
        </div>
    </div>
    
    
    
    <script type="text/javascript">
        jQuery(document).ready(function ($){
            rotateImage('front');
            rotateImage('back');
            
            var verified = $('.form-group.form_field.field_isVerified').find('i');
            if(verified.attr("class") == "glyphicon glyphicon-ok"){
                $('.object-actions-PersonId a[data-original-title="Verify"]').css("display","none");
                $('.object-actions-PersonId a[data-original-title="Decline"]').css("display","none");
            }
            /* Verify */
            var verify_button = '.object-actions-PersonId a[data-original-title="Verify"]';
            $(verify_button).data('href', $(verify_button).attr('href'));
            $(verify_button).removeAttr('href');   //hide href
            $(verify_button).click(function(){
                $("#popup-verify-ad").modal("show");
                $("#popup-verify-ad .message-working").hide();
            });
            
            $("#btn-verify").click(function(){
                $("#btn-verify").addClass('disabled');
                $("#btn-close").addClass('disabled');
                $(".message-working").show();
                $.ajax({
                    url: $('.object-actions-PersonId a[data-original-title="Verify"]').data('href'),
                }).done(function(result){
                    if(result.error == 0){
                        verifySuccess();
                        //location.replace('http://vlance.vn/admin/vlance_account_bundle/AdminPersonId');
                    } else {
                        verifyFailed();
                    }
                }).fail(function(result){
                    verifyFailed();
                }).always(function(result){
                });
            });
            
            /* Decline */
            var decline_button = '.object-actions-PersonId a[data-original-title="Decline"]';
            $(decline_button).data('href', $(decline_button).attr('href'));
            $(decline_button).removeAttr('href');   //hide href
            $(decline_button).click(function(){
                $("#popup-comment").modal("show");
                popupInput();
            });
            
            $("#btn-decline").click(function(){
                var value = getReason();
                var comment = $('#comment').val();
                var reason;
                if(comment != ""){
                    if(value == ""){
                        reason = value.concat('Lý do khác: ',comment);
                    } else {
                        reason = value.concat(' - Lý do khác: ',comment);
                    }
                } else {
                    reason = value;
                }
                
                $("#btn-decline").addClass('disabled');
                $("#btn-close").addClass('disabled');
                popupWorking();
                $.ajax({
                    url: $('.object-actions-PersonId a[data-original-title="Decline"]').data('href'),
                    data: {
                        comment: reason,
                    }
                }).done(function(result){
                    location.replace('http://vlance.vn/admin/vlance_account_bundle/AdminPersonId');
                    {#if(result.error == 0){
                        declineSuccess();
                    } else {
                        declineFailed();
                    }#}
                }).fail(function(result){
                    declineFailed();
                }).always(function(result){
                });
            });
            
            //reload lại trang xác thực
            $("#close-popup-noti").click(function(){
                //location.replace('http://vlance.dev.localhost.com/admin/vlance_account_bundle/AdminPersonId/');//localhost
                location.replace('http://vlance.vn/admin/vlance_account_bundle/AdminPersonId');
            });          
        });
        
        $(window).on("load", function() {
            dimension();
        });
        
        function popupInput(){
            $(".reason-status").hide();
            $(".reason-status.input").show();
        }
        
        function popupWorking(){
            $('.modal.popup').css('max-height', '350px');
            $('.modal-footer').css('margin-top', '15px')
            $(".reason-status").hide();
            $(".reason-status.working").show();
        }
        
        function declineSuccess(){
            $('.modal.popup').css('max-height', '250px');
            $('.modal-footer').css('margin-top', '0px')
            $("#popup-comment").modal("hide");
            $("#popup-noti").modal("show");
            $("#popup-noti .modal-body").css("background","#d9f3f9");
            $(".status").hide();
            $(".status.decline-success").show();
        }

        function declineFailed(){
            $('.modal.popup').css('max-height', '250px');
            $('.modal-footer').css('margin-top', '0px')
            $("#popup-comment").modal("hide");
            $("#popup-noti").modal("show");
            $("#popup-noti .modal-body").css("background","#ff0000");
            $(".status").hide();
            $(".status.failed").show();
        }
        
        function verifySuccess(){
            $('.modal.popup').css('max-height', '250px');
            $('.modal-footer').css('margin-top', '15px')
            $("#popup-verify-ad").modal("hide");
            $("#popup-noti").modal("show");
            $("#popup-noti .modal-body").css("background","#00FF00");
            $(".status").hide();
            $(".status.verify-success").show();
        }

        function verifyFailed(){
            $('.modal-footer').css('margin-top', '0px')
            $("#popup-verify-ad").modal("hide");
            $("#popup-noti").modal("show");
            $("#popup-noti .modal-body").css("background","#ff0000");
            $(".status").hide();
            $(".status.failed").show();
        }
        
        function dimension(){
            var picB = document.getElementById('img_back');
            dimB = '<div class="row"><div class="col-md-2 text-right"><strong>Kích thước CMND mặt sau</strong></div><div class="col-md-10"><div>' + picB.naturalWidth + ' x ' + picB.naturalHeight +'px</div></div>'
            $('.form_block.form_fieldset_ThôngTinCMND.tab-pane').prepend(dimB);
            var picF = document.getElementById('img_front');
            dimF = '<div class="row"><div class="col-md-2 text-right"><strong>Kích thước CMND mặt trước</strong></div><div class="col-md-10"><div>' + picF.naturalWidth + ' x ' + picF.naturalHeight +'px</div></div>'
            $('.form_block.form_fieldset_ThôngTinCMND.tab-pane').prepend(dimF);
        }
        
        function rotateImage(id){
            var angle = 0;
            $('#'+id+"").click(function(){
                angle += 90;
                if(id == 'front'){
                    $('#img_front').css('transform','rotate(' + angle + 'deg)');
                } else if(id == 'back') {
                    $('#img_back').css('transform','rotate(' + angle + 'deg)');
                }
            });
        }
        
        function getReason(){
            var checkedValues = $('input:checkbox:checked').map(function() {
                return this.value;
            }).get().join(' - ');
            return checkedValues;
        }
        
        {#function clickAddReason(a){
            if(a.checked){
                if($("#comment").val() == ""){
                    $('#comment').change(function(){
                        document.getElementById(a.id).value = $("#comment").val();
                    });
                } else {
                    document.getElementById(a.id).value = $("#comment").val();
                }
            }
        }#}
    </script>
{% endblock %}