//trang vlance-accesstrade

.vlance-accesstrade {}
.vlance-accesstrade {width:auto;margin:auto;letter-spacing: -0.02em;}
.vlance-accesstrade h3 {font-family: 'Open Sans',sans-serif;font-size:32px;font-weight:400;letter-spacing: -0.03em;color:#000000;}
.vlance-accesstrade .btn-hire-freelancer {padding:18px 53px;font-size:20px;font-weight:700;color:#ffffff;text-shadow:none;}
.vlance-accesstrade .jumbotron-vlance-section {background: url("../image/vlance-banner-top.jpg") center no-repeat;background-size:cover;min-height: 500px;height:100%;width:100%;}
.vlance-accesstrade .separator{border: 8px solid #f6ce85;}
.jumbotron-vlance-section .container {width:960px;margin:auto;text-align: center;color:#ffffff;}
.jumbotron-vlance-section h1 {margin:96px 0 56px;font-family: 'Open Sans',sans-serif;font-size:46px;font-weight:300;letter-spacing: -0.04em;}
.jumbotron-vlance-section h1 span {font-weight:700;}
.jumbotron-vlance-section .list-job-vlance {width:20%;margin-left:0px;}
.jumbotron-vlance-section .list-job-vlance .job-freelancer {background: url("../image/sprites.png") no-repeat;height:100px;width:100px;}
.jumbotron-vlance-section .list-job-vlance h4 {margin-top:20px;font-size:16px;font-family: 'Open Sans',sans-serif;}
.jumbotron-vlance-section .job-freelancer.job-one {width:50px;margin:auto;background-position: 0 0;height:56px;}
.jumbotron-vlance-section .job-freelancer.job-two {width:48px;margin:auto;background-position: 0px -90px;height:56px;}
.jumbotron-vlance-section .job-freelancer.job-three {width:52px;margin:auto;background-position: 0px -188px;height:56px;}
.jumbotron-vlance-section .job-freelancer.job-four {width:56px;margin:auto;background-position: 0px -276px;height:56px;}
.jumbotron-vlance-section .job-freelancer.job-five {width:52px;margin:auto;background-position: 0px -378px;height:56px;}
.jumbotron-vlance-section .jumbotron-vlance-button {margin:56px 0 40px;;}
.jumbotron-vlance-section .btn-hire-freelancer {border:1px solid #dc6600;background-color:#ff6600;background-image:none;-webkit-box-shadow:none;box-shadow:none;}
.jumbotron-vlance-section .btn-hire-freelancer:hover {background-color:#eb5e00;background-image: none;}
.jumbotron-vlance-section .vlance-accesstrade-logo p {font-size:12px;text-transform: uppercase;color:#999999;}
.jumbotron-vlance-section .vlance-accesstrade-logo img {width:160;height:37px;margin-bottom:30px;}

.vlance-explain-section {background-color:#f8eedc;}
.vlance-explain-section .container {width:1000px;margin:auto;padding:96px 0 88px;;text-align: center;}
.vlance-explain-section  h3 {margin:0px 0 28px;font-size:32px;font-family: 'Open Sans',sans-serif;}
.vlance-explain-section  p {font-size:16px;text-align: left;line-height:24px;}

.vlance-benefit-section {background-color:#fba60d;}
.vlance-benefit-section .container {width:1000px;margin:auto;text-align: initial;}
.vlance-benefit-section h3 {margin:96px 0 64px;font-size:32px;font-family: 'Open Sans',sans-serif;text-align: center;}
.vlance-benefit-section p {margin-bottom:40px;text-align: left;line-height: 24px;color:#000000;}
.vlance-benefit-section p .fa-check {margin-right:10px;color:#ff6600;}
.vlance-benefit-section b {margin-left:24px;font-weight:400;}
.vlance-benefit-section span {margin-left:24px;color:#4c4c4c;}
.vlance-benefit-section img {width:485px;height:235px;}
.vlance-benefit-section .btn-hire-freelancer {margin:16px 0 120px;border:1px solid #106ab4;background-color:#3399cc;background-image: linear-gradient(to bottom, #3399cc, #3399cc);background-image: -webkit-linear-gradient(top, #3399cc, #3399cc);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3399cc), to(#3399cc));background-image: -o-linear-gradient(top, #3399cc, #3399cc);-webkit-box-shadow:none;box-shadow:none;}
.vlance-benefit-section .btn-hire-freelancer:hover {background-color:#2f8dbc;background-image: linear-gradient(to bottom, #2f8dbc, #2f8dbc);background-image: -webkit-linear-gradient(top, #2f8dbc, #2f8dbc);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2f8dbc), to(#2f8dbc));background-image: -o-linear-gradient(top, #2f8dbc, #2f8dbc);}

.vlance-accesstrade .start-hire-section {background: url(../image/banner-icon-pattern.jpg) center no-repeat;background-size:cover;}
.start-hire-section .container {width:620px;text-align: center;}
.start-hire-section h3 {margin:96px 0 32px;color:#ffffff;}
.start-hire-section .btn-hire-freelancer {margin-bottom:88px;border:1px solid #cb5e00;background-color:#ff6600;background-image: linear-gradient(to bottom, #ff6600, #ff6600);background-image: -webkit-linear-gradient(top, #ff6600, #ff6600);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff6600), to(#ff6600));background-image: -o-linear-gradient(top, #ff6600, #ff6600);-webkit-box-shadow:none;box-shadow:none;}
.start-hire-section .btn-hire-freelancer:hover {background-color:#eb5e00;background-image: linear-gradient(to bottom, #eb5e00, #eb5e00);background-image: -webkit-linear-gradient(top, #eb5e00, #eb5e00);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eb5e00), to(#eb5e00));background-image: -o-linear-gradient(top, #eb5e00, #eb5e00);}

@media (max-width: 976px) {
    .jumbotron-vlance-section .container {width:750px;}
    .jumbotron-vlance-section h1 {line-height: 56px;}
    .vlance-explain-section .container {width:750px;}
    .vlance-benefit-section .container {width:750px;}
    .vlance-benefit-section p {margin-bottom:30px;}
    .vlance-benefit-section img {width:auto;height:auto;}
}

@media (max-width: 768px) {
    .jumbotron-vlance-section .container {width:620px;}
    .vlance-explain-section .container {width:620px;}
    .vlance-benefit-section .container {width:620px;}
}

@media (max-width: 639px) {
    .jumbotron-vlance-section .container {width:320px;}
    .jumbotron-vlance-section h1 {font-size:34px;line-height:48px;}
    .jumbotron-vlance-section .list-job-vlance {width:50%;margin-bottom:20px;}
    .jumbotron-vlance-section .list-job-vlance.mobi {width:100%;}
    .vlance-explain-section .container {width:320px;}
    .vlance-explain-section p {padding:0 10px 0;}
    .vlance-benefit-section .container {width:320px;}
    .vlance-benefit-section h3 {margin:50px 0 36px;}
    .vlance-benefit-section .span6{width:100%;padding:0 10px 0;}
    .vlance-benefit-section p .fa-check {margin-right:5px;}
    .vlance-benefit-section b {margin-left:0px;}
    .vlance-benefit-section span {margin-left:0px;}
    .vlance-benefit-section .hire-freelancer {text-align:center;}
    .vlance-benefit-section .btn-hire-freelancer {margin:40px 0 90px;}
    .start-hire-section .container {width:320px;}
}