{% trans_default_domain 'vlance' %} 
{% block body_text %}
{% autoescape false %}
{% endautoescape %}
{% endblock %}
{% block body_html %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="robots" content="noindex,nofollow">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <title>vlance.vn</title>
    </head>
    <body style="margin: 0px auto;padding: 0px;padding-top:24px;font-family: 'Open sans', sans-serif;font-size: 13px;width: auto;background-color:#fafafa;">
        <!-- Header -->
        <div style="margin: 0 auto;width: 600px;padding: 0px;background-color:#ffffff;">
            <div style="height: 140px; margin: 0 auto;margin: 0px 40px;">
                <div style="text-align: center;">
                    <a href="http://www.vlance.vn" style="height: 140px;">
                        <img src="http://www.vlance.vn/newsletter/img/logo.png" style="width: auto;padding-top:10px;">
                    </a>
                </div>
            </div>
        </div>
         <!-- //end Header -->
        <!-- content -->
        <div style="margin: 0 auto;width: 600px;padding: 0px;background-color:#ffffff;">
            {% block body_email %}{% endblock %}
        </div>
        <!-- end content -->
        <!-- Footer -->
        <footer style="display: block;">
            <div style="width: 600px;margin: 0 auto 30px;font-size:14px">
                <div style="height: 85px;clear: both;">
                    <div style="float: left;margin-top: 18px;">
                        Bạn cần trợ giúp? <strong>Liên hệ với chúng tôi</strong><br/>
                        Email: <a target="_blank" style="text-decoration: none;color: #429fdd;" href="mailto:hotro@vlance.vn">hotro@vlance.vn</a><br/>
                        Tel: 04-6684-1818
                    </div>
                    <ul class="img_face" style="float: right;list-style: none;margin-top: 18px;padding-left:0px;">
                        <li style="float: left;margin-left: 3px;">
                            <a target="_blank" style="text-decoration: none;" href="https://plus.google.com/+VlanceVn"><img src="http://www.vlance.vn/newsletter/img/mail_gplus.png"></a>
                        </li>
                        <li style="float: left;margin-left: 3px;">
                            <a target="_blank" style="text-decoration: none;" href="https://www.linkedin.com/groups/vLancevn-Làm-freelance-kiếm-thêm-4699959"><img src="http://www.vlance.vn/newsletter/img/mail_linkedin.png"></a>
                        </li>
                        <li style="float: left;margin-left: 3px;">
                            <a target="_blank" style="text-decoration: none;" href="https://www.facebook.com/vlance.vn"><img src="http://www.vlance.vn/newsletter/img/mail_facebook1.png"></a>
                        </li>
                        <li style="float: left;margin-left: 3px;">
                            <a target="_blank" style="text-decoration: none;" href="https://twitter.com/vlancevn"><img src="http://www.vlance.vn/newsletter/img/mail_tiw1.png"></a>
                        </li>
                    </ul>
                </div>
                <div style="text-align: center; margin-top: 20px;clear:both;">
                    © 2013 - 2017 vLance.vn <br/>
                    Địa chỉ: Tầng 4, số 2, ngõ 68, đường Nam Đồng, phường Nam Đồng, quận Đống Đa, Hà Nội.
                </div>
            </div>
        </footer>
        {% block ga_tracker %}{% endblock %}
    </body>
</html>
{% endblock %}