{% trans_default_domain 'vlance' %} 
{% block body_text %}
{% autoescape false %}
{% endautoescape %}
{% endblock %}
{% block body_html %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="robots" content="noindex,nofollow">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <title>vlance.vn</title>
    </head>
    <body style="background-color:#f0f0f0; margin:0px auto; padding:25px 0; font-family:'Open Sans','Arial',sans-serif; font-size:13px; width:100%;">
        <div style="padding: 20px;background-color:#f0f0f0">
            <div class="container" style="background-color: white;margin: 0 auto;width: 650px;padding-top:50px;padding-bottom:0px;font-size: 17px;line-height: 24px; letter-spacing: -0.02em;">
                <!-- Header -->
                <div style="text-align: center;width: 650px;height: 115px;">
                    <a href="http://www.vlance.vn" style="width: 167px;height: 115px;">
                        <img src="http://www.vlance.vn/newsletter/img/logo.png" style="width: 167px;height: 115px;">
                    </a>
                </div>
                 <!-- //end Header -->

                <!-- content -->
                <div style="padding: 20px 40px 80px;font-size: 17px;">
                    {% block body_email %}{% endblock %}
                </div>
                <!-- end content -->

                <!-- Footer -->
                <div style="display: block;background:#f0f0f0;">
                    <div style="min-height: 85px;  clear: both;  border-width: 1px 0 0 0;  margin-top: 0px;padding-top:10px;padding-left:10px; padding-right:10px;height: 85px;clear: both;">
                        <div style="float:left;margin-top:15px;font-size: 17px;">
                            Bạn cần trợ giúp? Liên hệ với chúng tôi<br/>
                            Email: <a target="_blank" style="text-decoration: none;color: #0088cc;" href="mailto:hotro@vlance.vn">hotro@vlance.vn</a><br/>
                            Tel: 04-6684-1818
                        </div>
                        <ul class="img_face" style="float: right;list-style: none;margin-top: 15px;padding-left:0px;">
                            <li style="float: left;margin-left: 5px;">
                                <a target="_blank" style="text-decoration: none;" href="https://www.youtube.com/user/vlancevietnam"><img src="http://www.vlance.vn/newsletter/img/mail_youtube.png"></a>
                            </li>
                            <li style="float: left;margin-left: 5px;">
                                <a target="_blank" style="text-decoration: none;" href="https://plus.google.com/+VlanceVn"><img src="http://www.vlance.vn/newsletter/img/mail_gplus.png"></a>
                            </li>
                            <li style="float: left;margin-left: 5px;">
                                <a target="_blank" style="text-decoration: none;" href="https://www.linkedin.com/groups/vLancevn-Làm-freelance-kiếm-thêm-4699959"><img src="http://www.vlance.vn/newsletter/img/mail_linkedin.png"></a>
                            </li>
                            <li style="float: left;margin-left: 5px;">
                                <a target="_blank" style="text-decoration: none;" href="https://www.facebook.com/vlance.vn"><img src="http://www.vlance.vn/newsletter/img/mail_facebook1.png"></a>
                            </li>
                            <li style="float: left;margin-left: 5px;">
                                <a target="_blank" style="text-decoration: none;" href="https://twitter.com/vlancevn"><img src="http://www.vlance.vn/newsletter/img/mail_tiw1.png"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="container" style="background:#f0f0f0;color:#999999;margin:8px auto;text-align:center;padding-top: 24px;margin-top:0;font-size:16px;">
                    © 2013 - 2017 vLance.vn
                </div>
            </div>
        </div>
        {% block ga_tracker %}{% endblock %}
    </body>
</html>
{% endblock %}