{% extends_admingenerated "VlancePaymentBundle:AdminTransactionList:row.html.twig" %}
{% block list_td_column_sender %}
    {% if Transaction.sender %}
        #{{  Transaction.sender.id }} - {{  Transaction.sender.email }}
    {% endif %}
{% endblock %}
{% block list_td_column_receiver %}
    {% if Transaction.receiver %}
        #{{  Transaction.receiver.id }} - {{  Transaction.receiver.email }}
    {% endif %}
{% endblock %}
{% block list_td_column_job %}
    {% if Transaction.job %}
        #{{  Transaction.job.id }} - {{  Transaction.job.title }}
    {% endif %}
{% endblock %}