{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
{{user.fullName}}, đây là quà tặng từ vLance dành cho bạn
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Chúc mừng <i><b>{{user.fullName}}</b></i>,<br/>
    <br/>
    vLance xin gửi đến bạn một quà tặng giá trị, là bản quyền trọn đời của phần mềm Money Lover phiên bản Premium (giá bán lẻ trên các chợ ứng dụng là <b>99.000</b> VNĐ).<br/>
    <br/>
    Mã kích hoạt: <b>{{code}}</b><br/>
    Hạn kích hoạt: <b>{{expired_date}}</b><br/>
    <br/>
    Để kích hoạt, bạn vui lòng làm theo các hướng dẫn tại đây:
</p>
<p style="text-align: center;margin: 30px 0;border-radius: 5px;">
    <span style="padding: 15px 30px; background: #CCFFC5; border-radius: 5px;"><span style="padding: 0;">
        <a href="{{url('partner_moneylover_gift')}}">{{url('partner_moneylover_gift')}}</a>
    </span></span>
</p>
<p>
    Thân mến,<br/>
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://api.mixpanel.com/track/?data={{pixel_tracking}}&ip=1&img=1" width="1" height="1"/>
{% endblock %}

                    
