{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Thông tin liên hệ của khách hàng "{{client.fullName}}"
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{ payer.fullName }}</i>,<br/>
    <br/>
    Đây là thông tin của khách hàng <b><i><a style="text-decoration: none" href="{{ url('account_show_client', {'hash': client.hash}) }}">{{client.fullName}}</a></i></b>:<br/>
    <br/>
    - SĐT: {{ client.telephone }}<br/>
    - Email: {{ client.email }}<br/>
    <br/>
    Chúc bạn và khách hàng có những dự án thành công.<br/>
    Thân mến,<br/>
    <br/>
    <br/>
    <b>Lưu ý:</b><br/>
    - Hãy yêu cầu khách hàng đăng việc vào đặt cọc dự án qua vLance để bạn được đảm bảo thanh toán sau khi làm việc.<br/>
    - Nếu nhận việc, hãy đảm bảo dịch vụ của bạn có chất lượng cao nhất. vLance sẽ tạm ngưng dịch vụ từ với những tài khoản freelancer bị khách hàng gửi nhiều cảnh báo xấu về chất lượng công việc.
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=pay-contactclient-payer&cs=transaction&cm=email&cn=contactclient"/>
{% endblock %}

                    
