{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Freelancer {{payer.fullName}} muốn liên hệ với bạn
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{ client.fullName }}</i>,<br/>
    <br/>
    Freelancer <b><i><a style="text-decoration: none" href="{{ url('account_show_freelancer', {'hash': payer.hash}) }}">{{payer.fullName}}</a></i></b> muốn được làm việc với bạn.<br/>
    Freelancer sẽ liên hệ với bạn qua một trong các hình thức sau:<br/>
    <br/>
        - Điện thoại: {{ client.telephone }}<br/>
        - Email: {{ client.email }}<br/>
    <br/>
    Chúc bạn và freelancer có những dự án thành công.<br/>
    Thân mến,<br/>
    <br/>
    <br/>
    <b>Lưu ý:</b><br/>
        - Nếu freelancer yêu cầu thanh toán hoặc thanh toán bên ngoài hệ thống vLance, hãy từ chối và thông báo cho chúng tôi vì rất có khả năng đó là lừa đảo.<br/>
</p>
<div style="padding: 25px 30px 20px; background: #E4E4E4; margin: 50px 30px 20px;">
    <p style="margin-bottom:30px;">Freelancer đề nghị tạm ứng tiền trước khi bắt đầu dự án? Hãy <a href="{{url('job_new')}}?ref=acc_m1" style="word-wrap: break-word; color: #0088cc;text-decoration: none;">đăng dự án</a> và đặt cọc qua vLance để toàn bộ số tiền của bạn được bảo vệ.<br/>
        Đồng thời vLance cam kết hoàn lại 100% số tiền dự án đã đặt cọc của bạn trong trường hợp freelancer không hoàn thành được công việc theo đúng kế hoạch và chất lượng bạn yêu cầu.
    </p>
    <p><a href="{{url('job_new')}}?ref=acc_m2" 
          style="border-radius: 4px; background-color: #0088cc; padding: 16px 28px 14px; text-decoration: none; color: #ffffff; 
                -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.05);
                -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.05);
                box-shadow: inset 0 1px 0 rgba(255,255,255,0.75), 0 1px 2px rgba(0,0,0,0.05);">Đăng dự án</a></p>
</div>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=pay-contactclient-contact&cs=transaction&cm=email&cn=contactclient"/>
{% endblock %}

                    
