{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Thông tin liên hệ của freelancer {{freelancer.fullName}}
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{ payer.fullName }}</i>,<br/>
    <br/>
    Đây là thông tin liên lạc của freelancer <b>{{fname}}</b>.<br/>
    <br/>
    Điện thoại: {{ freelancer.telephone }}<br/>
    Email: {{ freelancer.email }}<br/>
    <br/>
    Chúc bạn và freelancer có những dự án thành công.<br/>
    Thân mến,<br/>
</p>

<div style="padding: 25px 30px 20px; background: #E4E4E4; margin: 50px 30px 20px;">
    <p style="margin-bottom:30px;">Freelancer đề nghị tạm ứng tiền trước khi bắt đầu dự án? Hãy <a href="{{url('job_new')}}?ref=acf_m1" style="word-wrap: break-word; color: #0088cc;text-decoration: none;">đăng dự án</a> và đặt cọc qua vLance để số tiền của bạn được bảo vệ <b>100%</b>.</p>
    <p><a href="{{url('job_new')}}?ref=acf_m2" 
          style="border-radius: 4px; background-color: #0088cc; padding: 16px 28px 14px; text-decoration: none; color: #ffffff; 
                -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.05);
                -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.05);
                box-shadow: inset 0 1px 0 rgba(255,255,255,0.75), 0 1px 2px rgba(0,0,0,0.05);">Đăng dự án</a></p>
</div>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=pay-contact-payer&cs=transaction&cm=email&cn=contact"/>
{% endblock %}

                    
