{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
[Liên hệ trực tiếp] Khách hàng {{client.fullName}} muốn làm việc với bạn
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{ freelancer.fullName }}</i>,<br/>
    <br/>
    Khách hàng <b><i><a style="text-decoration: none" href="{{ url('account_show_client', {'hash': client.hash}) }}?ap=newjob">{{client.fullName}}</a></i></b> muốn được làm việc với bạn.<br/>
    Khách đã sử dụng tính năng "<b>Liên hệ trực tiếp</b>" của vLance.vn. Và đây là các thông tin khách hàng đã có được, để có thể liên hệ với bạn:<br/>
    <br/>
    - Điện thoại: {{ freelancer.telephone }}<br/>
    - Email: {{ freelancer.email }}<br/>
    <br/>
    Chúc bạn và khách hàng có những dự án thành công.<br/>
    Thân mến,<br/>
    <br/>
    <br/>
    <b>Lưu ý:</b><br/>
    - Hãy từ chối lịch sự nếu bạn không thể nhận việc của khách hàng vào lúc này.
    - Nếu nhận việc, hãy đảm bảo dịch vụ của bạn có chất lượng cao nhất. vLance sẽ tạm ngưng dịch vụ từ với những tài khoản freelancer bị khách hàng gửi nhiều cảnh báo xấu về chất lượng công việc.
    - Bạn muốn được đảm bảo an toàn về thanh toán? Hãy đề nghị khách hàng đăng dự án và giao việc cho bạn qua vLance.vn.<br/>
    - Bạn đã thay đổi thông tin liên lạc? Hãy cập nhật tài khoản và Xác thực SĐT của bạn ngay để không bỏ lỡ bất kỳ khách hàng nào.<br/>
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=pay-contact-contact&cs=transaction&cm=email&cn=contact"/>
{% endblock %}

                    
