{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Yêu cầu xác thực mã số thuế đã bị từ chối
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
   <i>{{ fullname }}</i> thân mến,<br/>
    <br/>
    Yêu cầu xác thực mã số thuế TNCN của bạn không thành công.<br/>
    Lý do : {{reason}}.<br/>
    Hãy cập nhật lại mã số thuế TNCN của bạn.<br/>
    <br/>
    Trân trọng,<br/>
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=verify-tax-id&cs=transaction&cm=email&cn=verify-tax-id"/>
{% endblock %}