{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Chúc mừng, mã số thuế của bạn đã được xác thực
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
   <i>{{ fullname }}</i> thân mến,<br/>
    <br/>
    vLance đã xác thực mã số thuế TNCN của bạn.<br/>
    Chúc bạn nhận được nhiều dự án trên vLance.<br/>
    <br/>
    Trân trọng,<br/>
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=verify-tax-id&cs=transaction&cm=email&cn=verify-tax-id"/>
{% endblock %}