{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
[admin] Xác nhận thanh toán mua Credit bằng Usercash
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>Admin</i>,<br/>
    <br/>
    Có một User vừa mua Credit bằng Usercash:<br/>
    <br/>
    User ID: <b><a href="{{ url('account_show_freelancer', {'hash':payer.hash})}}">#{{payer.id}}</a></b><br/>
    Số tiền: <b>{{amount}} VNĐ</b><br/>
    Số dư Usercash hiện tại: <b>{{balance}} VNĐ</b><br/>
    Số Credits đã mua: <b>{{qty}}</b><br/>
    Số dư Credit hiện tại: <b>{{credit_balance}}</b><br/>
    ID giao dịch mua credit: <b>#{{trans.id}}</b><br/>
    Giao dịch lúc: <b>{{trans.createdAt|date("d/m/Y H:i:s")}}</b><br/>
    <br/>
    Admin kiểm tra lại giúp xem có vấn đề gì không nhé.<br/>
    Đừng quên cộng số tiền này vào cột Addon Revenue trong <b>Star Metrics</b> :)<br/>
    <br/>
    Thân mến,
</p>
{% endblock %}