{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Bạn vừa được tặng thêm Credít
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{ payer.fullName }}</i>,<br/>
    <br/>
    {{reason}}<br/>
    Tài khoản của bạn vừa nhận được tặng thêm <b>{{qty}}</b> Credits. Số dư Credit hiện tại của bạn là <b>{{credit_balance}}</b>.<br/>
    <br/>
    Chúc bạn có được nhiều công việc thành công cùng vLance.<br/>
    Thân mến,<br/>
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=pay-buy-credit-promo&cs=transaction&cm=email&cn=buy-credit"/>
{% endblock %}

                    
