{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Xác nhận thanh toán mua Credit bằng SMS
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{ payer.fullName }}</i>,<br/>
    <br/>
    Chúng tôi xác nhận bạn đã thanh toán {{amount}} VNĐ.<br/>
    Tài khoản của bạn vừa nhận được thêm <b>{{qty}}</b> Credits. Số dư Credit hiện tại của bạn là <b>{{credit_balance}}</b>.<br/>
    <br/>
    Chúc bạn có được nhiều công việc thành công cùng vLance.<br/>
    Thân mến,
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=pay-buy-credit-sms&cs=transaction&cm=email&cn=buy-credit"/>
{% endblock %}

                    
