{% extends_admingenerated "VlancePaymentBundle:AdminCreditBuyTransactionList:row.html.twig" %}
{% block list_td_column_payer %}
    <a href="{{  url("account_show_freelancer", {'hash' : CreditBuyTransaction.payer.hash}) }}" target="_blank">#{{  CreditBuyTransaction.payer.id }}</a><br/>
    {{  CreditBuyTransaction.payer.email }}
{% endblock %}
{% block list_td_column_discount %}
    {{  CreditBuyTransaction.discount }}%
{% endblock %}