{% extends_admingenerated "VlanceJobBundle:AdminJobEdit:form.html.twig" %}

{% block generic_actions_script %}
<script src="{{ asset("bundles/admingeneratorgenerator/js/admingenerator/generic-actions.js") }}"></script>
    <script type="text/javascript">
        ;(function(window, $, undefined) {
            $("#generic_actions").agen$genericActions({
                actionsSelector: 'a.btn'
            });
        })(this, jQuery);
    </script>
<script>
    $(document).ready(function() {
       var status = $('#edit_job_status option:selected').val(); 
       if( status != 7 ) {
           $('.field_sendEmail').css('display','none');
           $('.field_resonCancel').css('display', 'none');
       }
    });
</script>
{% endblock %}
   