{% extends_admingenerated "VlanceAccountBundle:AdminPersonIdList:row.html.twig" %}
{% block list_td_column_account %}
    id: <a href="{{  url("account_show_freelancer", {'hash' : PersonId.account.hash}) }}" target="_blank">{{ PersonId.account.id }}</a><br/>
    {{PersonId.account.getEmail}}
{% endblock %}
{% block list_td_column_type %}
    {% if PersonId.type == 1 %}
        <p>CMND - giấy<p>
    {% endif %}
    {% if PersonId.type == 2 %}
        <p>CMND - thẻ nhựa<p>
    {% endif %}
    {% if PersonId.type == 3 %}
        <p>Căn cước công dân<p>
    {% endif %}
{% endblock %}