{% extends_admingenerated "VlancePaymentBundle:AdminTransactionEdit:form.html.twig" %}
{% block form_file %}
    {{ form_row(form['file']) }}
    <div>
        File đã lưu:
        {% if form.vars.value.filePath != "" %}
            <a href="{{ asset('uploads/transaction/'~form.vars.value.filePath) }}">{{form.vars.value.filePath}}</a>
        {% else %}
            Chưa có
        {% endif %}
    </div>
{% endblock form_file %}

{% block form %}
    {% if form.vars.value.type == 1 or form.vars.value.type == 11 %}
        <b>HƯỚNG DẪN:</b><br/>
        Với các giao dịch <b style="color:green">1 - TRANS_TYPE_DEPOSIT</b> hoặc <b style="color:green">11 - TRANS_TYPE_DEPOSIT_UPFRONT</b>:
        <ol>
            <li>Điền số tiền thật sự mà vLance nhận được vào ô <b>Amount</b>
            <li>Chuyển <b>Status</b> từ <b>1</b> sang <b>4</b></li>
            <li>Không cần gửi <b>File Attachment</b></li>
            <li>Đánh dấu vào <b>Send mail</b></li>
            <li>Bấm <b>Save</b> để lưu giao dịch, và hệ thống tự động chuyển sang trạng thái tiếp theo, đồng thời gửi mail xác nhận tới người nạp tiền</li>
        </ol>
        <br/>
        <b>Thông tin về job:</b>
        <ul>
            <li>Job ID: <a href="{{ url('job_show_freelance_job', {'hash':form.vars.value.job.hash})}}" target="_blank">#{{ form.vars.value.job.id}}</a></li>
            <li>Ngân sách dự án lúc đăng: <a href="/admin/job/{{ form.vars.value.job.id}}/edit" target="_blank">{{ form.vars.value.job.budget | number_format(0, ",", ".")}} VNĐ</a></li>
            <li>Mức giá trúng thầu: {{ form.vars.value.job.budgetBided | number_format(0, ",", ".")}} VNĐ</li>
        </ul>
        <br/>
        <b>Thông tin về cash:</b>
        <ul>
            <li>Số dư Usercash người nạp tiền: <a href="/admin/usercash/{{ form.vars.value.job.account.cash.id}}/edit" target="_blank">{{ form.vars.value.job.account.cash.balance | number_format(0, ",", ".")}} VNĐ</a></li>
            <li>Số dư Jobcash của job này: <a href="/admin/jobcash/{{ form.vars.value.job.cash.id}}/edit" target="_blank">{{ form.vars.value.job.cash.balance | number_format(0, ",", ".")}} VNĐ</a></li>
        </ul>
        <br/>
        <b>Các link khác</b>
        <ul>
            <li><a href="{{ url('account_show_client', {'hash':form.vars.value.job.account.hash})}}" target="_blank">View profile người nạp tiền (/khach-hang)</a></li>
            <li><a href="{{ url('account_show_freelancer', {'hash':form.vars.value.job.account.hash})}}" target="_blank">View profile người nạp tiền (/freelancer)</a></li>
        </ul>
    {% elseif form.vars.value.type == 5 %}
        <b>HƯỚNG DẪN:</b><br/>
        Với các giao dịch <b style="color:blue">5 - TRANS_TYPE_WITHDRAW</b>:
        <ol>
            <li>Chuyển <b>Status</b> từ <b>1</b> sang <b>4</b></li>
            <li>Upload file scan biên lai chuyển tiền vào <b>File Attachment</b></li>
            <li>Đánh dấu vào <b>Send mail</b></li>
            <li>Bấm <b>Save</b> để lưu giao dịch, và hệ thống tự động xử lý và gửi thông báo tới người yêu cầu rút tiền qua email</li>
        </ol>
        <br/>
        <b>Các link liên quan</b>
        <ul>
            <li><a href="{{ url('account_show_client', {'hash':form.vars.value.receiver.hash})}}" target="_blank">Profile người rút tiền (/khach-hang)</a></li>
            <li><a href="{{ url('account_show_freelancer', {'hash':form.vars.value.receiver.hash})}}" target="_blank">Profile người rút tiền (/freelancer)</a></li>
            <li><a href="/admin/usercash/{{ form.vars.value.receiver.cash.id}}/edit" target="_blank">Usercash người rút tiền</a></li>
        </ul>
    {% endif %}
    {{parent()}}
{% endblock form %}