{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Khách hàng [{{account.id}}] gửi yêu cầu Admin giúp đăng việc
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    <p>
        Xin chào Admin,<br/>
        <br/>
        Bạn vừa nhận được yêu cầu trợ giúp đăng việc của <b>[{{account.id}}] {{account.fullName}}</b>.<br/>
        Số điện thoại yêu cầu: <b>{{tel}}</b>.<br/>
        Thời gian: {{time|date("d/m/Y H:i:s")}}.<br/><br/>
        Chúc Admin một ngày bận rộn. <br/>
    </p>
<p/>
{% endblock %}
