{% extends "VlanceBaseBundle:Email:layout_email.html.twig" %}
{% block subject %}
{% autoescape false %}
Mời tham gia vLance.vn, nhận quà tới 450.000 VNĐ*
{% endautoescape %}
{% endblock %}
{% block body_email %}
<div style="background:#fafafa;">    
    <div style="min-height: 350px; background:#ffffff;">    
        <div style="margin:0 auto;padding:0px;clear:both">
            <div style="min-height:654px;clear:both;font-size:18px;letter-spacing: -0.02em;">
                <div style="background: url(http://www.vlance.vn/newsletter/img/201603/bg-invite-email_02.jpg);height:176px;margin-bottom:24px;">
                    <h1 style="margin: auto;margin-bottom:40px;padding-top: 48px;text-align: center;font-size:28px;font-weight:400;width:476px;color:#ffffff;letter-spacing: -0.03em;">Bạn vừa nhận được lời mời tham gia vLance, nhận tới <b>450.000 VNĐ*</h1>
                </div>
                <p style="margin:32px auto 32px;width:520px;"><b>{{account.fullName}}</b> mời bạn tham gia vLance:</p>
                <div style="width:92px;height:auto;margin:auto;">
                    <img src="{{avatar}}" style="margin:auto;border-radius:100px;width:90px; height:90px;border: 1px solid #d9d9d9;" title="người mời">
                </div>
                <p style="margin:16px auto 20px;width:446px;line-height: 28px;">
                    <i>"Bạn có thể tìm kiếm việc làm hoặc thuê những chuyên gia để thực hiện công việc với một chi phí hợp lý"</i>
                </p>
                <p style="margin:32px auto 10px;width:520px;letter-spacing: -0.03em;line-height: 28px;">
                    *Tham gia vLance và nhận ngay quà tặng lên tới <b>30 Credit</b> (trị giá 450.000 VNĐ) ngay khi dự án đầu tiên của bạn được hoàn thành.
                </p>
                <p style="margin:52px auto 24px; text-align:center;">
                    <a href="{{url_ai}}?ref=invmail-vn" 
                        style="border-radius: 5px; text-align: center;text-shadow: 0px 1px 1px rgb(255, 255, 255); 
                                background-color: #f77d0e; padding: 16px 52px 16px 52px; text-decoration: none; color: #ffffff; width: 120px; 
                                margin-top: 10px;-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.05);
                                -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.05);
                                box-shadow: inset 0 1px 0 rgba(255,255,255,0.75), 0 1px 2px rgba(0,0,0,0.05);
                                border-color: #ffcc00 #ffcc00 #ffba10;">
                        <strong>Nhận quà tặng</strong>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div style="height:40px;background:#fafafa;"></div>                    
    <div style="min-height: 350px;background:#ffffff;">    
        <div style="margin:0 auto;padding:0px;clear:both">
            <div style="min-height:654px;clear:both;font-size:18px;letter-spacing: -0.02em;">
                <div style="background: url(http://www.vlance.vn/newsletter/img/201603/bg-invite-email_02.jpg);height:176px;margin-bottom:24px;">
                    <h1 style="margin: auto;margin-bottom:40px;padding-top: 48px;text-align: center;font-size:28px;font-weight:400;width:476px;color:#ffffff;letter-spacing: -0.03em;">You've just received an invitation to join vLance, receive up to <b>450.000 VND*</b></h1>
                </div>
                <p style="margin:32px auto 32px;width:520px;"><b>{{account.fullName}}</b>  is inviting you to vLance:</p> 
                <div style="width:92px;height:auto;margin:auto;">
                    <img src="{{avatar}}" style="margin:auto;border-radius:100px;width:90px; height:90px;border: 1px solid #d9d9d9;" title="người mời">
                </div>
                <p style="margin:16px auto 20px;width:446px;line-height: 28px;">
                    <i>"You can find jobs or hire professionals to work for you at a reasonable price"</i>
                </p>
                <p style="margin:32px auto 10px;width:520px;letter-spacing: -0.03em;line-height: 28px;">
                    *Join vLance and receive a gift of up to <b>30 Credit</b> which equal 450.000 VND once your first project is completed. 
                </p>
                <p style="margin:52px auto 24px; text-align:center;">
                    <a href="{{url_ai}}?ref=invmail-en" 
                        style="border-radius: 5px; text-align: center;text-shadow: 0px 1px 1px rgb(255, 255, 255); 
                                background-color: #f77d0e; padding: 16px 52px 16px 52px; text-decoration: none; color: #ffffff; width: 120px; 
                                margin-top: 10px;-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.05);
                                -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.05);
                                box-shadow: inset 0 1px 0 rgba(255,255,255,0.75), 0 1px 2px rgba(0,0,0,0.05);
                                border-color: #ffcc00 #ffcc00 #ffba10;">
                        <strong>Accept gift</strong>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>                    
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=account-invite&cs=transactional&cm=email&cn=account"/>
    {% if pixel_tracking is defined %}
        <img src="{{pixel_tracking.ga}}" width="1" height="1"/>
        <img src="{{pixel_tracking.mixpanel}}" width="1" height="1"/>
    {% endif %}
{% endblock %}