{% trans_default_domain 'vlance' %}
{% block subject %}
{% autoescape false %}
Triển khai dịch vụ Xác Thực Thông Tin trên vlance.vn
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
Xin chào {{ account.fullName }},
 
Chào mừng bạn đến với tiện ích Xác Thực Hồ Sơ của vLance.vn.

Bạn và 99 người đầu tiên nhận email này, có cơ hội trải nghiệm tiện ích mới Xác Thực Hồ Sơ của vLance.vn ngay bây giờ. Bạn đã sẵn sàng “nâng cấp” hồ sơ của mình chưa? Hãy click vào đây để bắt đầu. 

Bạn có từng băn khoăn: Tại sao hồ sơ của tôi trông rất đầy đủ và chuyên nghiệp mà không được khách hàng để mắt tới? Câu trả lời sẽ được gợi mở khi: Hồ sơ của bạn được đóng dấu Đã Xác Thực bởi vLance.vn.

Lợi ích của bạn là gì nào?
✓ Hồ sơ được “làm mới” để trở nên hấp dẫn, uy tín hơn.
✓ Được lên top vị trí đầu, nổi bật trong hàng ngàn freelancer khác.
✓ Thu hút, khiến hàng chú ý tìm kiếm và lựa chọn, kể cả những những khách hàng khó tính nhất.
✓ Cơ hội tăng thu nhập, những khoản thù lao “khủng” và xứng dáng.

Bạn hãy đăng nhập vào tài khoản trên vLance.vn, làm theo hướng dẫn để tăng cơ hội tìm kiếm cho hồ sơ của mình nhé. vLance.vn luôn đồng hành cùng thành công của bạn.

http://vlance.vn/login
 
Chúng tôi sẽ gửi thông báo hồ sơ đã được xác thực tới bạn trong thời gian sớm nhất.

Để biết thêm chi tiết về tiện ích Xác Thực Hồ Sơ, vui lòng click vào link dưới đây
{{ url("cms_page", {'slug':'xac-thuc-ho-so'}) }} 
Trân trọng,
 
vLance team

© 2013 - 2016 Công ty TNHH vLance Việt Nam 
Địa chỉ: Tầng 4, số 2, ngõ 68, đường Nam Đồng, phường Nam Đồng, quận Đống Đa, Hà Nội, Việt Nam 
Email: xinchao@vlance.vn | Điện thoại: (+84) 6684 1818
{% endautoescape %}
{% endblock %}
{% block body_html %}
{% set account_url = url('account_show_freelancer', {'hash': account.hash}) %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="robots" content="noindex,nofollow">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <title>{{ "account.certificate.email.titile.newsletter"|trans }} - Vlance</title>
    </head>
    <body style="margin: 0px auto;padding: 0px;font-family: 'Open sans', sans-serif;color: #303030;font-size: 14px;width: 600px;background: #F8F8F8;">
        <!-- Header -->
        <div class="wrapper" style="margin: 0 auto;width: 600px;padding: 0px;clear: both;">
            <div class="header" style="height: 140px;border-bottom: 1px solid #BDBDBD;">
                <div class="logo" style="text-align: center;height: 140px;">
                    <a href="http://www.vlance.vn" style="height: 140px;">
                        <img src="http://www.vlance.vn/newsletter/img/mail_logo.png" alt="Logo vLance" style="width: 140px;height: 140px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="wrapper" style="margin: 0 auto;width: 460px;padding: 0px;clear: both;">
            <!-- content -->
            <div class="content" style="min-height: 350px;width: 475px;clear: both;">               

                <div class="content-after-button" style="clear: both;float: left;">
                    <p>
                        Xin chào {{ account.fullName }},
                    </p>
                    <p>Chào mừng bạn đến với tiện ích <b>Xác Thực Hồ Sơ</b> của vLance.vn.</p>
                    <p><b>Bạn và 99 người đầu tiên</b> nhận email này, có cơ hội trải nghiệm tiện ích mới Xác Thực Hồ Sơ của vLance.vn ngay bây giờ. Bạn đã sẵn sàng “nâng cấp” hồ sơ của mình chưa? Hãy click <a href="{{ account_url }}">vào đây</a> để bắt đầu. </p>
                    <p>Bạn có từng băn khoăn: Tại sao hồ sơ của tôi trông rất đầy đủ và chuyên nghiệp mà không được khách hàng để mắt tới? Câu trả lời sẽ được gợi mở khi: Hồ sơ của bạn được đóng dấu <b>Đã Xác Thực</b> bởi vLance.vn.</p>
                    <p><b>Lợi ích của bạn là gì nào?</b></p>
                    <p>✓ Hồ sơ được “làm mới” để trở nên hấp dẫn, uy tín hơn.</p>
                    <p>✓ Được lên top vị trí đầu, nổi bật trong hàng ngàn freelancer khác.</p>
                    <p>✓ Thu hút, khiến hàng chú ý tìm kiếm và lựa chọn, kể cả những những khách hàng khó tính nhất.</p>
                    <p>✓ Cơ hội tăng thu nhập, những khoản thù lao “khủng” và xứng dáng.</p>
                    <p>Bạn hãy <a href="{{ url('fos_user_security_login') }}">đăng nhập</a> vào tài khoản trên vLance.vn, làm theo hướng dẫn để tăng cơ hội tìm kiếm cho hồ sơ của mình nhé. vLance.vn luôn đồng hành cùng thành công của bạn.</p>
                    <p>Chúng tôi sẽ gửi thông báo hồ sơ đã được xác thực tới bạn trong thời gian sớm nhất.</p>
                    <p>Để biết thêm chi tiết về tiện ích Xác Thực Hồ Sơ, vui lòng click <a href="{{ url("cms_page", {'slug':'xac-thuc-ho-so'}) }} ">vào đây</a></p>
                    <p style="margin-top: 15px;">Trân trọng,</p>
                    <p style="margin-bottom: 15px;"><strong>vLance team</strong></p>
                </div>
            </div>
            <!-- end content -->
        </div>
        <!-- Footer -->
        <footer style="display: block;clear: both;">
            <div class="footer-contact" style="background: #D8D8D8;font-size: 14px;width: 600px;margin: 0 auto;clear: both;">
                <div class="contact" style="margin: 0 auto;width: 458px;height: 85px;clear: both;">
                    <div style="line-height: 28px;float: left;margin-top: 18px;">Bạn cần trợ giúp? <strong>Liên hệ với chúng tôi</strong>
                        <br>
                        <a target="_blank" style="text-decoration: none;color: #0088cc;" href="mailto:hotro@vlance.vn">hotro@vlance.vn</a>
                    </div>

                    <ul class="img_face" style="float: right;list-style: none;margin-top: 31px;">
                        <li class="first" style="float: left;margin-left: 5px;"><a target="_blank" style="text-decoration: none;color: #0088cc;" href="https://www.facebook.com/vlance.vn"><img src="http://www.vlance.vn/newsletter/img/mail_facebook.png"></a></li>
                        <li class="last" style="float: left;margin-left: 5px;"><a target="_blank" style="text-decoration: none;color: #0088cc;" href="https://twitter.com/vlancevn"><img src="http://www.vlance.vn/newsletter/img/mail_tiw.png"></a></li>
                    </ul>

                </div>
            </div>

            <div class="footer-bottom" style="margin: 0 auto;width: 458px;font-size: 11px;clear: both;">
                <ul style="list-style: none;padding: 0px;clear: both;">
                    <li class="first" style="font-size: 11px;line-height: 20px;margin: 0px;">© 2013 - 2016 vLance, Ltd. - Tầng 4, số 2, ngõ 68, đường Nam Đồng, phường Nam Đồng, quận Đống Đa, Hà Nội - 024.6684.1818</li>
                </ul>
            </div>

        </footer>
    </body>
</html>
{% endblock %}