{% trans_default_domain 'vlance' %}
{% block subject %}
{% autoescape false %}
{{ "account.certificate.email.title.refuse"|trans }}
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
Chào bạn {{ account.fullName }},
Rất tiếc, hồ sơ freelancer của bạn trên hệ thống vLance.vn Chưa Được Xác thực. Bạn chưa cung cấp cho chúng tôi đầy đủ cơ sở để chứng thực các thông tin trong hồ sơ.

Để xác thực lại, bạn vui lòng click vào link dưới đây để hoàn thiện lại hồ sơ hoặc điền các thông tin liên quan và làm theo hướng dẫn:

{{ url('account_show_freelancer', {'hash': account.hash}) }}

Chúc bạn thành công!

Mọi thắc mắc, vui lòng gửi tới: hotro@vlance.vn
Hotline: 024.6684.1818

Trân trọng,

vLance team

© 2013 - 2016 Công ty TNHH vLance Việt Nam 
Địa chỉ: Tầng 4, số 2, ngõ 68, đường Nam Đồng, phường Nam Đồng, quận Đống Đa, Hà Nội, Việt Nam 
Email: xinchao@vlance.vn | Điện thoại: (+84) 6684 1818
{% endautoescape %}
{% endblock %}
{% block body_html %}
{% set account_url = url('account_show_freelancer', {'hash': account.hash}) %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="robots" content="noindex,nofollow">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <title>{{ "account.certificate.email.title.refuse"|trans }} - Vlance</title>
    </head>
    <body style="margin: 0px auto;padding: 0px;font-family: 'Open sans', sans-serif;color: #303030;font-size: 14px;width: 600px;background: #F8F8F8;">
        <!-- Header -->
        <div class="wrapper" style="margin: 0 auto;width: 600px;padding: 0px;clear: both;">
            <div class="header" style="height: 140px;border-bottom: 1px solid #BDBDBD;">
                <div class="logo" style="text-align: center;height: 140px;">
                    <a href="http://www.vlance.vn" style="height: 140px;">
                        <img src="http://www.vlance.vn/newsletter/img/mail_logo.png" alt="Logo vLance" style="width: 140px;height: 140px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="wrapper" style="margin: 0 auto;width: 460px;padding: 0px;clear: both;">
            <!-- content -->
            <div class="content" style="min-height: 350px;width: 475px;clear: both;">               

                <div class="content-after-button" style="clear: both;float: left;">
                    <p>
                        Xin chào {{ account.fullName }},
                    </p>
                    <p>Rất tiếc, hồ sơ freelancer của bạn trên hệ thống vLance.vn Chưa Được Xác thực.</p>
                    <p>Bạn chưa cung cấp cho chúng tôi đầy đủ cơ sở để chứng thực các thông tin trong hồ sơ.</p>
                    {% if message is defined and message != "" %}
                    <p>Và đây là một số gợi ý của chúng tôi:</p>
                    <p><i>{{ message|nl2br }}</i></p>
                    {% endif %}
                    <p>Để xác thực lại, bạn vui lòng hoàn thiện lại <a href="{{ account_url }}">hồ sơ</a> hoặc điền các thông tin liên quan và làm theo <a href="{{ url("cms_page", {'slug':'xac-thuc-ho-so'}) }}">hướng dẫn</a></p>
                    <p>Chúc bạn thành công!</p>
                    <p style="margin-top: 15px;">Trân trọng,</p>
                    <p style="margin-bottom: 15px;"><strong>vLance team</strong></p>
                </div>
            </div>
            <!-- end content -->
        </div>
        <!-- Footer -->
        <footer style="display: block;clear: both;">
            <div class="footer-contact" style="background: #D8D8D8;font-size: 14px;width: 600px;margin: 0 auto;clear: both;">
                <div class="contact" style="margin: 0 auto;width: 458px;height: 85px;clear: both;">
                    <div style="line-height: 28px;float: left;margin-top: 18px;">Bạn cần trợ giúp? <strong>Liên hệ với chúng tôi</strong>
                        <br>
                        <a target="_blank" style="text-decoration: none;color: #0088cc;" href="mailto:hotro@vlance.vn">hotro@vlance.vn</a>
                    </div>

                    <ul class="img_face" style="float: right;list-style: none;margin-top: 31px;">
                        <li class="first" style="float: left;margin-left: 5px;"><a target="_blank" style="text-decoration: none;color: #0088cc;" href="https://www.facebook.com/vlance.vn"><img src="http://www.vlance.vn/newsletter/img/mail_facebook.png"></a></li>
                        <li class="last" style="float: left;margin-left: 5px;"><a target="_blank" style="text-decoration: none;color: #0088cc;" href="https://twitter.com/vlancevn"><img src="http://www.vlance.vn/newsletter/img/mail_tiw.png"></a></li>
                    </ul>

                </div>
            </div>

            <div class="footer-bottom" style="margin: 0 auto;width: 458px;font-size: 11px;clear: both;">
                <ul style="list-style: none;padding: 0px;clear: both;">
                    <li class="first" style="font-size: 11px;line-height: 20px;margin: 0px;">© 2013 - 2016 vLance, Ltd. - Tầng 4, số 2, ngõ 68, đường Nam Đồng, phường Nam Đồng, quận Đống Đa, Hà Nội - 024.6684.1818</li>
                </ul>
            </div>

        </footer>
    </body>
</html>
{% endblock %}