{% trans_default_domain 'vlance' %}
{% block subject %}
{% autoescape false %}
Triển khai dịch vụ Xác Thực Thông Tin trên vlance.vn
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
Chào mừng bạn đến với tiện ích Xác Thực Hồ Sơ của vLance.vn.

Bạn có từng mơ ước: 1 công việc freelance tốt, 1 khoản thu nhập cao từ việc làm freelance, cơ hội cộng tác với những dự án lớn, những ekip chuyên nghiệp,...

Bạn có kiến thức chuyên môn cao, có nhiều kỹ năng tốt, có thể sử dụng nhiều phần mềm hỗ trợ và tin chắc rằng mình hoàn toàn phù hợp với vị trí công việc chủ dự án đang tìm kiếm. Vậy tại sao khách hàng vẫn không để mắt tới bạn? 

Tiện ích Xác Thực Hồ Sơ sẽ gợi mở cho bạn câu trả lời.

Lợi ích bạn nhận được là gì nào?
✓ Hồ sơ được “làm mới” để trở nên hấp dẫn, uy tín hơn.
✓ Được lên vị trí top đầu, nổi bật trong hàng ngàn freelancer khác.
✓ Thu hút hàng chú ý tìm kiếm và lựa chọn, kể cả những những khách hàng khó tính nhất.
✓ Cơ hội tăng thu nhập, những khoản thù lao “khủng” và xứng dáng.

Ngay từ lúc này, bạn có thể gửi yêu cầu xác thực đến cho chúng tôi để “nâng cấp” hồ sơ của mình, bạn đã sẵn sàng chưa? 

Để bắt đầu, hãy đăng nhập vào tài khoản trên vLance.vn, làm theo hướng dẫn để tăng cơ hội tìm kiếm cho hồ sơ của bạn nhé. 

Chúng tôi sẽ gửi thông báo hồ sơ đã được xác thực tới bạn trong thời gian sớm nhất. vLance.vn luôn đồng hành cùng thành công của bạn.

Để biết thêm chi tiết về tiện ích Xác Thực Hồ Sơ, vui lòng click vào link dưới đây
{{ url("cms_page", {'slug':'xac-thuc-ho-so'}) }} 
Trân trọng,
 
vLance team

© 2013 - 2016 Công ty TNHH vLance Việt Nam 
Địa chỉ: Tầng 4, số 2, ngõ 68, đường Nam Đồng, phường Nam Đồng, quận Đống Đa, Hà Nội, Việt Nam 
Email: xinchao@vlance.vn | Điện thoại: (+84) 6684 1818
{% endautoescape %}
{% endblock %}
{% block body_html %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="robots" content="noindex,nofollow">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <title>Triển khai dịch vụ Xác Thực Thông Tin trên vlance.vn - Vlance</title>
    </head>
    <body style="margin: 0px auto;padding: 0px;font-family: 'Open sans', sans-serif;color: #303030;font-size: 14px;width: 600px;background: #F8F8F8;">
        <!-- Header -->
        <div class="wrapper" style="margin: 0 auto;width: 600px;padding: 0px;clear: both;">
            <div class="header" style="height: 140px;border-bottom: 1px solid #BDBDBD;">
                <div class="logo" style="text-align: center;height: 140px;">
                    <a href="http://www.vlance.vn" style="height: 140px;">
                        <img src="http://www.vlance.vn/newsletter/img/mail_logo.png" alt="Logo vLance" style="width: 140px;height: 140px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="wrapper" style="margin: 0 auto;width: 460px;padding: 0px;clear: both;">
            <!-- content -->
            <div class="content" style="min-height: 350px;width: 475px;clear: both;">               

                <div class="content-after-button" style="clear: both;float: left;">
                    <p>Chào mừng bạn đến với tiện ích <b>Xác Thực Hồ Sơ</b> của vLance.vn.</p>
                    <p>Bạn có từng mơ ước: 1 công việc freelance tốt, 1 khoản thu nhập cao từ việc làm freelance, cơ hội cộng tác với những dự án lớn, những ekip chuyên nghiệp,...</p>
                    <p>Bạn có kiến thức chuyên môn cao, có nhiều kỹ năng tốt, có thể sử dụng nhiều phần mềm hỗ trợ và tin chắc rằng mình hoàn toàn phù hợp với vị trí công việc chủ dự án đang tìm kiếm. Vậy tại sao khách hàng vẫn không để mắt tới bạn?</p>
                    <p>Tiện ích <b>Xác Thực Hồ Sơ</b> sẽ gợi mở cho bạn câu trả lời.</p>
                    <p><b>Lợi ích của bạn là gì nào?</b></p>
                    <p>✓ Hồ sơ được <a href="{{ url("account_show_freelancer", {'hash':'do-phan-son-tung-1472'}) }}?mxths=01">“làm mới”</a> để trở nên hấp dẫn, uy tín hơn.</p>
                    <p>✓ Được lên <a href="{{ url("freelancer_list") }}?mxths=02">vị trí top đầu</a>, nổi bật trong hàng ngàn freelancer khác.</p>
                    <p>✓ Thu hút, khiến hàng chú ý tìm kiếm và lựa chọn, kể cả những những khách hàng khó tính nhất.</p>
                    <p>✓ Cơ hội tăng thu nhập, những khoản thù lao “khủng” và xứng dáng.</p>
                    <p><b><i>Ngay từ lúc này</i></b>, bạn có thể gửi yêu cầu xác thực đến cho chúng tôi để “nâng cấp” hồ sơ của mình, bạn đã sẵn sàng chưa? </p>
                    <p>Để bắt đầu, hãy <a href="{{ url('fos_user_security_login') }}?mxths=03">đăng nhập</a> vào tài khoản trên vLance.vn, làm theo hướng dẫn để tăng cơ hội tìm kiếm cho hồ sơ của bạn nhé.</p>
                    <p>Chúng tôi sẽ gửi thông báo hồ sơ đã được xác thực tới bạn trong thời gian sớm nhất. vLance.vn luôn đồng hành cùng thành công của bạn.</p>
                    <p>Để biết thêm chi tiết về tiện ích <b>Xác Thực Hồ Sơ</b>, vui lòng click <a href="{{ url("cms_page", {'slug':'xac-thuc-ho-so'}) }}?mxths=04">vào đây</a></p>
                    <p style="margin-top: 15px;">Trân trọng,</p>
                    <p style="margin-bottom: 15px;"><strong>vLance team</strong></p>
                </div>
            </div>
            <!-- end content -->
        </div>
        <!-- Footer -->
        <footer style="display: block;clear: both;">
            <div class="footer-contact" style="background: #D8D8D8;font-size: 14px;width: 600px;margin: 0 auto;clear: both;">
                <div class="contact" style="margin: 0 auto;width: 458px;height: 85px;clear: both;">
                    <div style="line-height: 28px;float: left;margin-top: 18px;">Bạn cần trợ giúp? <strong>Liên hệ với chúng tôi</strong>
                        <br>
                        <a target="_blank" style="text-decoration: none;color: #0088cc;" href="mailto:hotro@vlance.vn">hotro@vlance.vn</a>
                    </div>

                    <ul class="img_face" style="float: right;list-style: none;margin-top: 31px;">
                        <li class="first" style="float: left;margin-left: 5px;"><a target="_blank" style="text-decoration: none;color: #0088cc;" href="https://www.facebook.com/vlance.vn"><img src="http://www.vlance.vn/newsletter/img/mail_facebook.png"></a></li>
                        <li class="last" style="float: left;margin-left: 5px;"><a target="_blank" style="text-decoration: none;color: #0088cc;" href="https://twitter.com/vlancevn"><img src="http://www.vlance.vn/newsletter/img/mail_tiw.png"></a></li>
                    </ul>

                </div>
            </div>

            <div class="footer-bottom" style="margin: 0 auto;width: 458px;font-size: 11px;clear: both;">
                <ul style="list-style: none;padding: 0px;clear: both;">
                    <li class="first" style="font-size: 11px;line-height: 20px;margin: 0px;">© 2013 - 2016 vLance, Ltd. - Tầng 4, số 2, ngõ 68, đường Nam Đồng, phường Nam Đồng, quận Đống Đa, Hà Nội - 024.6684.1818</li>
                </ul>
            </div>
        </footer>
        <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=certification-nofification&cs=newsletter&cm=email&cn=certification-nofification"/>
    </body>
</html>
{% endblock %}