{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{% autoescape false %}
{{ 'registration.email.subject'|trans({ '%confirmationUrl%': confirmationUrl}) }}
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
{% endautoescape %}
{% endblock %}
{% block body_html %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="robots" content="noindex,nofollow">
		<meta http-equiv="X-UA-Compatible" content="IE=9">
        <title>Vlance - email</title>
    </head>
    <body style="margin: 0px;padding: 0px;font-family: 'Open sans', sans-serif;color: #303030;">
        <!-- Header -->
        <div class="wrapper" style="margin: 0 auto;width: 460px;padding: 0px;clear: both;">
            <div class="header" style="height: 140px;border-bottom: 1px solid #BDBDBD;">
                <div class="logo" style="float: left;height: 140px;">
                    <a href="http://www.vlance.vn" style="float: left;height: 140px;">
                        <img src="http://www.vlance.vn/newsletter/img/mail_logo.png" alt="Logo vLance" style="width: 140px;height: 140px;">
                    </a>
                </div>
            </div>
        </div>
            
        <!-- content -->
        <div class="wrapper" style="margin: 0 auto;width: 460px;padding: 0px;clear: both;">
            <div class="content" style="min-height: 300px;width: 475px;clear: both;font-size: 14px;">
                <div class="content-welcome" style="margin-top: 27px;">
                    Chào mừng bạn đến với <strong>vLance.vn</strong>!
                </div> 
                <div class="content-after-button" style="line-height: 24px;clear: both;float: left;margin-top: 28px;">
                    <div class="content-after-one" style="margin-bottom: 28px;">
                        <strong>vLance.vn</strong> là website việc làm tự do (freelance job) đầu tiên và lớn nhất tại Việt Nam, hứa hẹn mang đến một phong cách làm việc hoàn toàn mới.
                    </div>
                    <div style="margin-bottom: 28px;">
                        Để hoàn tất quá trình đăng ký mời bạn click vào link sau để kích hoạt tài khoản: <a href="{{ 'registration.email.url_regis'|trans({'%confirmationUrl%': confirmationUrl})|raw }}" style="text-decoration: none;color: #0088cc;">{{ 'registration.email.url_regis'|trans({'%confirmationUrl%': confirmationUrl})|raw }}</a>
                    </div>
                    <div>
                        Nếu liên kết trên không hoạt động hoặc có bất kỳ thắc mắc về quá trình đăng ký, vui lòng liên hệ với chúng tôi qua email: <a href="mailto:hotro@vlance.vn" style="text-decoration: none;color: #0088cc;">hotro@vlance.vn</a>
                    </div>
                </div>
                <div class="content-thank" style="margin-top: 28px;float: left;margin-bottom: 35px;">
                    <span>Chúc bạn một ngày tốt lành!</span>
                    <br>
                    <span>Trân trọng!</span>
                </div>
                
            </div>
        </div>
        <!-- end content -->
        
        <!-- content -->
        <div class="wrapper" style="margin: 0 auto;width: 460px;padding: 0px;clear: both;">
            <div class="content" style="min-height: 300px;width: 475px;clear: both;font-size: 14px;">
                <div class="content-welcome" style="margin-top: 27px;">
                    ----------------------
                    <br/>
                    <br/>
                    Welcome to <strong>vLance.vn</strong>!
                </div> 
                <div class="content-after-button" style="line-height: 24px;clear: both;float: left;margin-top: 28px;">
                    <div class="content-after-one" style="margin-bottom: 28px;">
                        <strong>vLance.vn</strong>  is the largest Online Freelancer Marketplace in Vietnam.
                    </div>
                    <div style="margin-bottom: 28px;">
                        Please click on this link to activate your account: <a href="{{ 'registration.email.url_regis'|trans({'%confirmationUrl%': confirmationUrl})|raw }}" style="text-decoration: none;color: #0088cc;">{{ 'registration.email.url_regis'|trans({'%confirmationUrl%': confirmationUrl})|raw }}</a>
                    </div>
                    <div>
                        Please contact us via <a href="mailto:hotro@vlance.vn" style="text-decoration: none;color: #0088cc;">hotro@vlance.vn</a> if you get any troubles.
                    </div>
                </div>
                <div class="content-thank" style="margin-top: 28px;float: left;margin-bottom: 35px;">
                    <span>Best regards,</span>
                </div>
                
            </div>
        </div>
        <!-- end content -->

        <!-- Footer -->
        <footer style="display: block;clear: both;">
            <div class="footer-contact" style="background: #D8D8D8;font-size: 14px;width: 600px;margin: 0 auto;clear: both;">
                <div class="contact" style="margin: 0 auto;width: 458px;height: 85px;clear: both;">
                    <div style="line-height: 28px;float: left;margin-top: 18px;">Bạn cần trợ giúp? <strong>Liên hệ với chúng tôi</strong>
                        <br>
                        <a target="_blank" style="text-decoration: none;color: #0088cc;" href="http://blog.vlance.vn">vLance's blog</a>
                    </div>
                    <ul class="img_face" style="float: right;list-style: none;margin-top: 31px;">
                        <li class="first" style="float: left;margin-left: 5px;"><a target="_blank" style="text-decoration: none;color: #0088cc;" href="https://www.facebook.com/vlance.vn"><img src="http://www.vlance.vn/newsletter/img/mail_facebook.png"></a></li>
                        <li class="last" style="float: left;margin-left: 5px;"><a target="_blank" style="text-decoration: none;color: #0088cc;" href="https://twitter.com/vlancevn"><img src="http://www.vlance.vn/newsletter/img/mail_tiw.png"></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom" style="margin: 0 auto;width: 458px;font-size: 11px;clear: both;">
                <ul style="list-style: none;padding: 0px;clear: both;">
                    <li class="first" style="font-size: 11px;line-height: 20px;margin: 0px;">© 2013 - 2016 vLance, Ltd. - Tầng 4, số 2, ngõ 68, đường Nam Đồng, phường Nam Đồng, quận Đống Đa, Hà Nội - 024.6684.1818</li>
                </ul>
            </div>
        </footer>
    </body>
</html>

{% endblock %}