{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{% autoescape false %}
{{ 'resetting.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
{% endautoescape %}
{% endblock %}
{% block body_html %}


<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="robots" content="noindex,nofollow">
		<meta http-equiv="X-UA-Compatible" content="IE=9">
        <title>Vlance - email</title>
		
        
    </head>
    <body style="margin: 0px auto;padding: 0px;font-family: 'Open sans', sans-serif;color: #303030;font-size: 14px;width: 600px;background: #F8F8F8;">
        <div class="wrapper" style="margin: 0 auto;width: 460px;padding: 0px;clear: both;">
            <!-- Header -->
            <div class="header" style="height: 120px;border-bottom: 1px solid #BDBDBD;">
                <div class="logo" style="float: left;height: 120px;">
                    <a href="#" style="float: left;height: 120px;">
                        <img src="http://www.vlance.vn/newsletter/img/mail_logo.png" alt="Logo vLance" style="width: 140px;height: 120px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="wrapper" style="margin: 0 auto;width: 460px;padding: 0px;clear: both;">
            <!-- content -->
            <div class="content" style="min-height: 350px;width: 475px;clear: both;font-size: 14px;">
                <div class="content-welcome" style="margin-top: 27px;">Xin chào 
                    <a style="text-decoration: none;color: #0088cc;" 
                       href="mailto:{{ 'resetting.email.message'|trans({'%username%': user.username})|raw }}">
                        {{ 'resetting.email.message'|trans({'%username%': user.username})|raw }}
                    </a>
                </div>

                <div class="content-after-welcome" style="line-height: 23px;margin-top: 32px;">
                    Chúng tôi đã nhận được yêu cầu của bạn!
                </div>

                <div class="content-after-button" style="line-height: 24px;clear: both;float: left;margin-top: 28px;">
                    <div class="content-after-one" style="margin-bottom: 28px;">
                        Vui lòng nhấn vào đường đẫn để lấy mật khẩu mới:
                        <a style="text-decoration: none;color: #0088cc;" href="{{ 'resetting.email.url_reset'|trans({'%confirmationUrl%': confirmationUrl}) }}">
                            {{ 'resetting.email.url_reset'|trans({'%confirmationUrl%': confirmationUrl}) }}
                        </a>
                    </div>
                    
                    <div>
                        <span>Nếu đường dẫn trên không hoạt động xin vui lòng liên hệ:</span>
                        <a style="text-decoration: none;color: #0088cc;" href="mailto:hotro@vlance.vn">hotro@vlance.vn</a>
                    </div>
                    
                </div>
                <div class="content-thank" style="margin-top: 28px;float: left;margin-bottom: 35px;">
                    <span><strong>vLance</strong> chúc bạn một ngày tốt lành!</span>
                    <br>
                    <span>Trân trọng!</span>
                </div>
                
            </div>
            <!-- end content -->
        </div>

            <!-- Footer -->
            <footer style="display: block;clear: both;">
                <div class="footer-contact" style="background: #D8D8D8;font-size: 14px;width: 600px;margin: 0 auto;clear: both;">
                    <div class="contact" style="margin: 0 auto;width: 458px;height: 85px;clear: both;">
                        <div style="line-height: 28px;float: left;margin-top: 18px;">Bạn cần trợ giúp? <strong>Liên hệ với chúng tôi</strong>
                            <br>
                            <a target="_blank" style="text-decoration: none;color: #0088cc;" href="http://blog.vlance.vn">Blog vLance</a>
                        </div>

                            <ul class="img_face" style="float: right;list-style: none;margin-top: 31px;">
                                <li class="first" style="float: left;margin-left: 5px;"><a target="_blank" style="text-decoration: none;color: #0088cc;" href="https://www.facebook.com/vlance.vn"><img src="http://www.vlance.vn/newsletter/img/mail_facebook.png"></a></li>
                                <li class="last" style="float: left;margin-left: 5px;"><a target="_blank" style="text-decoration: none;color: #0088cc;" href="https://twitter.com/vlancevn"><img src="http://www.vlance.vn/newsletter/img/mail_tiw.png"></a></li>
                            </ul>

                    </div>
                </div>
                
                <div class="footer-bottom" style="margin: 0 auto;width: 458px;font-size: 11px;clear: both;">
                    <ul style="list-style: none;padding: 0px;clear: both;">
                        <li class="first" style="font-size: 11px;line-height: 20px;margin: 0px;">© 2013 - 2016 vLance, Ltd. - Tầng 4, số 2, ngõ 68, đường Nam Đồng, phường Nam Đồng, quận Đống Đa, Hà Nội - 024.6684.1818</li>
                    </ul>
                </div>
                
            </footer>
		
    </body>
</html>





{% endblock %}
