{% extends "VlanceBaseBundle:Email:layout_email.html.twig" %}
{% block subject %}
{% autoescape false %}
[admin] [transaction] Việc {{transaction.job.title}} đang được nạp tiền.
{% endautoescape %}
{% endblock %}
{% block body_email %}
<div style="min-height: 350px;">    
        <div style="margin:0 auto;width:460px;padding:0px;clear:both">
            <div style="min-height:289px;width:475px;clear:both;font-size:14px">
                <div style="margin-top:27px">Chào admin,</div>  
                <div class="content-after-welcome" style="line-height:23px;margin-top:32px">
                    Khách hàng vừa thông báo đang nạp tiền cho một công việc trên vLance.<br />
                    Lưu ý: nếu khách hàng chuyển khoản thì phải 2-4 ngày sau mới vào đến tài khoản của vLance.
                </div>
                <div class="content-after-button" style="line-height: 24px;clear: both;float: left;margin-top: 28px;">
                    <div class="content-after-one" style="margin-bottom: 28px;">
                        Thông tin giao dịch tiền: <br />
                        <b>ID</b>: {{transaction.id}} <br />
                        <b>Link sửa giao dịch</b>: <a style="text-decoration: none;color: #0088cc;" href="{{ url('Vlance_PaymentBundle_AdminTransaction_edit', {'pk':transaction.id})}}">{{ url('Vlance_PaymentBundle_AdminTransaction_edit', {'pk':transaction.id})}}</a>
                    </div>
                    <div style="margin-bottom: 28px;">
                        Thông tin công việc : <br/>
                        <b>Id</b>: {{transaction.job.id}} <br/>
                        <b>Ngày đăng</b>: {{transaction.job.createdAt|date("m/d/Y") }}<br/>
                        <b>Ngân sách</b>: {{transaction.job.budget|number_format(0,',','.')}} VNĐ<br />
                        <b>Giá tiền freelancer thắng thầu</b>: {{transaction.job.budgetBided|number_format(0,',','.')}} VNĐ <br/>
                        <b>Số lượng bid</b>: {{transaction.job.bids|length}} <br/>
                        <b>Link xem công việc</b>: <a style="text-decoration: none;color: #0088cc;" href="{{url('job_show_freelance_job', {'hash': transaction.job.hash})}}">{{url('job_show_freelance_job', {'hash': transaction.job.hash})}}</a><br/>
                        <b>Link sửa công việc</b>: <a style="text-decoration: none;color: #0088cc;" href="{{url('Vlance_JobBundle_AdminJob_edit', {'pk': transaction.job.id})}}">{{url('Vlance_JobBundle_AdminJob_edit', {'pk': transaction.job.id})}}</a>
                    </div>
                    <div>
                        Thông tin khách hàng <br/>
                        <b>Id</b>: {{transaction.receiver.id}}<br/>
                        <b>Tên khách hàng</b>: {{transaction.receiver.fullName}}<br/>
                        <b>Link xem hồ sơ</b>: <a style="text-decoration: none;color: #0088cc;" href="{{url('account_show_freelancer', {'hash':transaction.receiver.hash})}}">{{url('account_show_freelancer', {'hash':transaction.receiver.hash})}}</a><br/>
                        <b>Link sửa hồ sơ</b>: <a style="text-decoration: none;color: #0088cc;" href="{{url('Vlance_AccountBundle_AdminAccount_edit', {'pk': transaction.receiver.id})}}">{{url('Vlance_AccountBundle_AdminAccount_edit', {'pk': transaction.receiver.id})}}</a>
                    </div>
                </div>
                <div style="margin-top:28px;float:left;margin-bottom:35px">
                    <span><strong>vLance</strong> chúc bạn một ngày tốt lành!</span>
                    <br>
                    <span>Trân trọng!</span>
                </div>
            </div>
    </div>
</div>
{% endblock %}
