{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
[admin] [ID:{{jid}}] Dự án {{jtitle}} cần đăng nổi bật lên fanpage.
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Chào admin,<br/>
    <br/>
    Khách hàng vừa thông báo đang nạp tiền cho một công việc trên vLance để được đăng lên fanpage vLance.<br/>
    <br/>
    Thông tin công việc: <br/>
    <b>ID</b>: {{jid}} <br/>
    <b>Title</b>: {{jtitle}} <br/>
    <b>Link</b>: {{jurl}}<br/>
    <br/>
    Chào thân ái Admin và quyết thắng!!<br/>
</p>
{% endblock %}
