{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Xác nhận "Đăng việc nổi bật và đăng lên fanpage vLance"
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{ payer.fullName }}</i>,<br/>
    <br/>
    Bạn vừa sử dụng <b>{{amount}} CREDIT</b>.<br/>
    Mục đích: Đăng nổi bật và đăng lên fanpage vLance dự án (#{{jid}}) <b>{{jtitle}}</b>.<br/>
    Dự án của bạn sẽ được đăng lên fanpage của vLance sớm nhất.<br/>
    <br/>
    Chúc bạn lựa chọn được freelancer như ý.<br/>
    Thân mến,<br/>
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=feature-job-credit&cs=transaction&cm=email&cn=sms"/>
{% endblock %}

                    
