{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Xác thực số điện thoại {{telephone}} thành công
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{ payer.fullName }}</i><br/>
    <br/>
    Chúc mừng bạn đã xác thực thành công số điện thoại <b>{{telephone}}</b>.<br/>
    Đồng thời tài khoản điện thoại di động của bạn vừa được trừ <b>{{amount}} VNĐ</b>.<br/>
    <br/>
    Chúc bạn có được nhiều khách hàng liên hệ.<br/>
    Thân mến,<br/>
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=verify-tel&cs=transaction&cm=email&cn=sms"/>
{% endblock %}

                    
