{% trans_default_domain 'vlance' %} 
{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Bạn không còn được chọn để làm dự án "{{ job.title }}" nữa
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <em>{{ account.fullName }}</em>,<br/>
    <br/>
    Chúng tôi xác nhận rằng bạn không còn được chọn để thực hiện dự án <a href="{{ url('job_show_freelance_job', {'hash': job.hash}) }}" style="text-decoration: none;color: #0088cc;">{{ job.title }}</a> nữa.<br/>
    <br/>
    Tuy nhiên, hiện tại vẫn còn rất nhiều dự án khác đang chờ bạn gửi chào giá và nhận việc:<br/>
    <b><a href="{{ url('freelance_job_list') }}" style="text-decoration: none;color: #0088cc;">» Xem các dự án đang nhận chào giá</a></b><br/>
    <br/>
    Chúc bạn có nhiều dự án mới thành công.<br/>
    <br/>
    Thân mến,
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=job--cancel-award--awarded-fl&cs=transaction&cm=email&cn=job"/>
{% endblock %}