{% trans_default_domain 'vlance' %} 
{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Xác nhận hủy chọn Freelancer cho dự án "{{ job.title }}"
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <em>{{ account.fullName }}</em>,<br/>
    <br/>
    Chúng tôi xác nhận rằng dự án <a href="{{ url('job_show_freelance_job', {'hash': job.hash}) }}" style="text-decoration: none;color: #0088cc;">{{ job.title }}</a> đã hủy chọn Freelancer.<br/>
    <br/>
    Ngay bây giờ bạn có thể giao việc cho một Freelancer khác tại <a href="{{ url('job_show_freelance_job', {'hash': job.hash}) }}" style="text-decoration: none;color: #0088cc;">ĐÂY</a>.<br/>
    <br/>
    Chúc bạn sớm tìm được Freelancer mới cho dự án của mình.<br/>
    <br/>
    Thân mến,
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=job--cancel-award--cl&cs=transaction&cm=email&cn=job"/>
{% endblock %}