{% trans_default_domain 'vlance' %} 
{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Khách hàng muốn chọn Freelancer khác cho dự án "{{ job.title }}" 
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <em>{{ account.fullName }}</em>,<br/>
    <br/>
    Khách hàng vừa hủy chọn Freelancer cho dự án <a href="{{ url('job_show_freelance_job', {'hash': job.hash}) }}" style="text-decoration: none;color: #0088cc;">{{ job.title }}</a>.<br/>
    <br/>
    Rất có thể khách hàng đang muốn tìm kiếm một Freelancer khác cho dự án này. Vì vậy, chúng tôi khuyên bạn nên kiểm tra các thông báo và email từ vLance thường xuyên để đảm bảo không bỏ lỡ các thông tin tiếp theo về dự án này.<br/>
    <br/>
    <em>Gợi ý: Nếu khách hàng đã từng trao đổi với bạn trước đây qua tin nhắn, thì đây là cơ hội tuyệt vời để bạn liên hệ lại với họ.</em><br/>
    <br/>
    Chúc bạn có nhiều dự án thành công.<br/>
    <br/>
    Thân mến,
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=job--cancel-award--other-fls&cs=transaction&cm=email&cn=job"/>
{% endblock %}