{% extends_admingenerated "VlanceCmsBundle:AdminCommunityPostEdit:form.html.twig" %}
{% block form_file %}
    {{ form_row(form['file']) }}
    <div>
        File đã lưu:
        {% if form.vars.value.path != "" %}
            <a href="{{ asset('uploads/community_post/admin/'~form.vars.value.path) }}">{{form.vars.value.path}}</a>
        {% else %}
            Chưa có
        {% endif %}
    </div>
{% endblock form_file %}