<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="robots" content="noindex,nofollow">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <title>Bạn đã sẵn sàng gây ấn tượng bằng hồ sơ</title>
    </head>
    <body style="margin: 0px auto;padding: 0px;font-family: 'Open sans', sans-serif;color: #303030;font-size: 14px;width: 600px;background: #F8F8F8;">
        <!-- Header -->
        <div class="wrapper" style="margin: 0 auto;width: 600px;padding: 0px;clear: both;">
            <div class="header" style="height: 140px;border-bottom: 1px solid #BDBDBD;">
                <div class="logo" style="text-align: center;height: 140px;">
                    <a href="http://www.vlance.vn" style="height: 140px;">
                        <img src="http://www.vlance.vn/newsletter/img/mail_logo.png" alt="Logo vLance" style="width: 140px;height: 140px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="wrapper" style="margin: 0 auto;width: 460px;padding: 0px;clear: both;">
            <!-- content -->
            <div class="content" style="min-height: 350px;width: 475px;clear: both;">               

                <div class="content-after-button" style="clear: both;float: left;">
                    <p>
                        Xin chào {{ account.fullName }},
                    </p>
                    <!-- Copy this block to poll content -->
                    <p>Chào mừng bạn đến với khảo sát mở tiện ích <b>Xác Thực Hồ Sơ</b> của vLance.vn.</p>
                    <p>Bạn có từng băn khoăn: Tại sao hồ sơ của tôi trông rất đầy đủ và chuyên nghiệp mà không được khách hàng để mắt tới?</p>
                    <p>Câu trả lời sẽ được gợi mở khi: Hồ sơ của bạn được <b>đóng dấu Đã Xác Thực</b> bởi vLance.vn.</p>
                    <p><b>Lợi ích bạn nhận được là gì nào?</b></p>
                    <ul style="list-style: none">
                        <li>✓ “Làm mới” hồ sơ để trở nên hấp dẫn, uy tín hơn.</li>
                        <li>✓ Được lên top vị trí đầu, nổi bật trong hàng ngàn freelancer khác.</li>
                        <li>✓ Thu hút, khiến khách hàng chú ý tìm kiếm và lựa chọn, kể cả những những khách hàng khó tính nhất.</li>
                        <li>✓ Cơ hội tăng thu nhập, những khoản thù lao “khủng” và xứng dáng.</li>
                    </ul>
                    <p>Nếu bạn đã sẵn sàng “nâng cấp” hồ sơ của mình, hãy click <a href="%acceptUrl%">đồng ý</a> để chúng tôi có thêm động lực hoàn thiện và sớm ra mắt tiện ích Xác Thực Hồ Sơ nhé. vLance.vn luôn đồng hành cùng thành công của bạn.</p>
                    <p>
                        <a target="_blank" style="text-decoration: none;font-weight: 600;display:inline-block;*display:inline;*zoom:1;padding:11px 19px;margin-bottom:0;font-size:14px;line-height:20px;text-align:center;vertical-align:middle;cursor:pointer;color: #000000;text-shadow: 0 1px 1px rgba(255, 255, 255, 1);background-color: #ffe222;background-image: -moz-linear-gradient(top, #ffe222, #ffcc04);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe222), to(#ffcc04));background-image: -webkit-linear-gradient(top, #ffe222, #ffcc04);background-image: -o-linear-gradient(top, #ffe222, #ffcc04);background-image: linear-gradient(to bottom, #ffe222, #ffcc04);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);border-color: #ffcc04 #ffcc04 #ffba10;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color: #ffcc04;filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;*margin-left:.3em;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);"
                           href="%acceptUrl%">Đồng ý, tôi đã sẵn sàng</a>
                    </p>
                    <!-- end poll content block -->
                    <p style="margin-top: 15px;">Trân trọng,</p>
                    <p style="margin: 0px;"><strong>vLance team</strong></p>
                </div>
            </div>
            <!-- end content -->
        </div>
        <!-- Footer -->
        <footer style="display: block;clear: both;">
            <div class="footer-contact" style="background: #D8D8D8;font-size: 14px;width: 600px;margin: 0 auto;clear: both;">
                <div class="contact" style="margin: 0 auto;width: 458px;height: 85px;clear: both;">
                    <div style="line-height: 28px;float: left;margin-top: 18px;">Bạn cần trợ giúp? <strong>Liên hệ với chúng tôi</strong>
                        <br>
                        <a target="_blank" style="text-decoration: none;color: #0088cc;" href="mailto:xinchao@vlance.vn">xinchao@vlance.vn</a>
                    </div>

                    <ul class="img_face" style="float: right;list-style: none;margin-top: 31px;">
                        <li class="first" style="float: left;margin-left: 5px;"><a target="_blank" style="text-decoration: none;color: #0088cc;" href="https://www.facebook.com/vlance.vn"><img src="http://www.vlance.vn/newsletter/img/mail_facebook.png"></a></li>
                        <li class="last" style="float: left;margin-left: 5px;"><a target="_blank" style="text-decoration: none;color: #0088cc;" href="https://twitter.com/vlancevn"><img src="http://www.vlance.vn/newsletter/img/mail_tiw.png"></a></li>
                    </ul>

                </div>
            </div>

            <div class="footer-bottom" style="margin: 0 auto;width: 458px;font-size: 11px;clear: both;">
                <ul style="list-style: none;padding: 0px;clear: both;">
                    <li class="first" style="font-size: 11px;line-height: 20px;margin: 0px;">© 2013-2016 vLance, Ltd. - Tầng 4, số 2, ngõ 68, đường Nam Đồng, phường Nam Đồng, quận Đống Đa, Hà Nội - 024.6684.1818</li>
                </ul>
            </div>

        </footer>

    </body>
</html>