{% trans_default_domain 'vlance' %} 
{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
{{ "job.deactive.freelancer.title"|trans }}
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <em>{{ account.fullName }}</em>,<br/>
    <br/>
    Bạn nhận được thông báo này vì bạn đã gửi chào giá cho dự án <a href="{{ url('job_show_freelance_job', {'hash': job.hash}) }}" style="text-decoration: none;color: #0088cc;">{{ job.title }}</a>.<br/>
    <br/>
    Rất tiếc là nội dung do chủ dự án đăng lên đã <b>không phù hợp với điều khoản sử dụng</b> của vLance.vn. Vì vậy để đảm bảo quyền lợi cho tất cả các freelancers, chúng tôi đã tạm khóa và ẩn dự án trên khỏi hệ thống.<br/>
    <br/>
    Tài khoản của bạn cũng như tất cả các freelancers khác sẽ không bị ảnh hưởng gì.<br/>
    <br/>
    Hiện tại vẫn còn rất nhiều dự án khác đang chờ bạn gửi chào giá và nhận việc:<br/>
    <b><a href="{{ url('freelance_job_list') }}" style="text-decoration: none;color: #0088cc;">» Xem các dự án đang nhận chào giá</a></b><br/>
    <br/>
    Thân mến,
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=job--hide-job--fls&cs=transaction&cm=email&cn=job"/>
{% endblock %}