{% trans_default_domain 'vlance' %} 
{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
{{ "job.deactive.email.title"|trans }}
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <em>{{ account.fullName }}</em>,<br/>
    <br/>
    Công việc bạn vừa đăng đã được chúng tôi gỡ xuống.<br/>
    <b>Tiêu đề</b>: <a href="{{ url('job_show_freelance_job', {'hash': job.hash}) }}" style="text-decoration: none;color: #0088cc;">{{ job.title }}</a><br/>
    <b>Lý do</b>: <em>{{ reason|trans }}</em><br/>
    <br/>
    {% if isBanned is defined and isBanned is not null %}
        Ngoài ra, <b>tài khoản của bạn sẽ bị hạn chế hoạt động đến <em>{{ account.bannedTo | date('H:s:i d/m/Y') }}</em></b><br/>
        <br/>
    {% endif %}
    vLance.vn hỗ trợ bạn tìm freelancer thực hiện theo dự án. Để tránh việc spam và gây phiền phức tới freelancer khác đang tìm việc, bạn vui lòng cân nhắc kỹ nội dung trước khi đăng.<br/>
    vLance hy vọng sẽ tiếp tục hợp tác với bạn trong thời gian tới.<br/>
    <br/>
    Bạn cần hỗ trợ hoặc tư vấn tuyển freelancer?<br/>
    Vui lòng liên hệ <a style="text-decoration:none;color:#0088cc;" href="mailto:hotro@vlance.vn">hotro@vlance.vn</a> hoặc Hotline: <b>024.6684.1818</b><br/>
    <br/>
    Thân mến,
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=job--hide-job--cl&cs=transaction&cm=email&cn=job"/>
{% endblock %}