<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Admin{% endblock %}</title>

    {% block scripts_head %}
        <script type="text/javascript" src="{{ asset('components/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('components/jquery-ui/ui/minified/jquery-ui.min.js') }}"></script>
        <!--[if lt IE 9]>
            <script src="{{ asset('components/html5shiv/dist/html5shiv.js') }}"></script>
        <![endif]-->
        <script type="text/javascript" src="{{ asset('js/backend.js') }}"></script>
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('components/bootstrap/css/bootstrap.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('components/bootstrap/css/bootstrap-theme.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('components/font-awesome/css/font-awesome.min.css') }}" type="text/css" media="all" />
        <!--[if lt IE 7]>
            <link rel="stylesheet" href="{{ asset('components/font-awesome/css/font-awesome-ie7.min') }}" type="text/css" media="all" />
        <![endif]-->        
        <link rel="stylesheet" href="{{ asset('bundles/admingeneratorgenerator/css/general.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/admingeneratorgenerator/css/profile.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/admingeneratorgenerator/css/nested-list.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/admingeneratorgenerator/css/bootstrap-extended.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/admingeneratorgenerator/css/bootstrap-extended.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('css/backend.css') }}" type="text/css" media="all" />
    {% endblock %}

    {% block icons %}
        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{{ asset('bundles/admingeneratorgenerator/ico/favicon.ico') }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-57-precomposed.png') }}">
    {% endblock %}
  </head>
  <body class="{{app.request.get('_route')}} {% if is_granted("ROLE_VLANCE_SUPER_ADMIN") %}{{ app.user.username }}{% endif %}">

    {% block navbar %}
      {% include 'VlanceBaseBundle::base_admin_navbar.html.twig' %}
    {% endblock navbar %}

    <div class="container-fluid">
      {% block flashes %}
        <div id="flashes" class="row">
          {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
              <div class="alert alert-{{ type }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage|raw }}
              </div>
            {% endfor %}
          {% endfor %}
        </div><!--/.row -->
      {% endblock %}

      {% block body %}
        <div class="row">
        </div><!--/.row -->
      {% endblock %}

      {% block footer %}
      <footer>
        <hr>
        <p>{% block footer_text %}&copy; 2013 - 2017 vLance.vn {{ ("now"|date('Y') > 2012) ? '2012 - ' ~ "now"|date('Y') : '2012' }}{% endblock %}</p>
      </footer>
      {% endblock %}
    </div> <!--/.container-fluid -->

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('components/bootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/admingenerator/general.js') }}"></script>
    {% endblock %}

  </body>
</html>
