{% trans_default_domain 'FOSUserBundle' %} 
{% block body_text %}
{% autoescape false %}
{% endautoescape %}
{% endblock %}
{% block body_html %}
<html>
    <head>
        <style>
            label{font-weight: bold}
            a{text-decoration: none;font-weight: 600;color: #0088CC;}
        </style>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="robots" content="noindex,nofollow">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <title>vlance.vn</title>
    </head>
    <body style="margin: 0px auto;padding: 0px;font-family: 'Open sans', sans-serif;font-size: 13px;width: 600px;">
        <!-- Header -->
        {% if signature is defined %}
        <div style="text-align: center;width: 570px;height: 115px;margin:auto;margin-bottom: 20px;">
            <a href="https://www.thuengay.vn/cong-cu/tao-chu-ky-email-chuyen-nghiep?ref=vlance_newletter" style="width: 570px;height: auto;">
                <img src="http://www.vlance.vn/newsletter/img/201705/banner-mail-cv-1.png" style="width: 570px;height: auto;border:1px solid #f5f5f5;">
            </a>
        </div>
        {% endif %}
        <div style="margin: 0 auto;width: 600px;padding: 0px;">
            <div style="height: 140px; margin: 0 auto;width: 460px;">
                <div style="text-align: center;height: 140px;">
                    <a href="http://www.vlance.vn" style="height: 140px;">
                        <img src="http://www.vlance.vn/newsletter/img/mail_logo.png" style="width: 140px;height: 140px;">
                    </a>
                </div>
            </div>
        </div>
         <!-- //end Header -->
        <!-- content -->
        <div style="margin: 0 auto;width: 600px;padding: 0px;">
            {% block body_email %}{% endblock %}
        </div>
        <!-- end content -->
        <!-- Footer -->
         <footer style="display: block;">
            <div style="width: 600px;margin: 0 auto;">
                <div style="height: 85px;clear: both;">
                    <div style="float: left;margin-top: 18px;">
                        Bạn cần trợ giúp? <strong>Liên hệ với chúng tôi</strong><br/>
                        Email: <a target="_blank" style="text-decoration: none;color: #429fdd;" href="mailto:hotro@vlance.vn">hotro@vlance.vn</a><br/>
                        Tel: 04-6684-1818
                    </div>
                    <ul class="img_face" style="float: right;list-style: none;margin-top: 18px;padding-left:0px;">
                        <li style="float: left;margin-left: 3px;">
                            <a target="_blank" style="text-decoration: none;" href="https://plus.google.com/+VlanceVn"><img src="http://www.vlance.vn/newsletter/img/mail_gplus.png"></a>
                        </li>
                        <li style="float: left;margin-left: 3px;">
                            <a target="_blank" style="text-decoration: none;" href="https://www.linkedin.com/groups/vLancevn-Làm-freelance-kiếm-thêm-4699959"><img src="http://www.vlance.vn/newsletter/img/mail_linkedin.png"></a>
                        </li>
                        <li style="float: left;margin-left: 3px;">
                            <a target="_blank" style="text-decoration: none;" href="https://www.facebook.com/vlance.vn"><img src="http://www.vlance.vn/newsletter/img/mail_facebook1.png"></a>
                        </li>
                        <li style="float: left;margin-left: 3px;">
                            <a target="_blank" style="text-decoration: none;" href="https://twitter.com/vlancevn"><img src="http://www.vlance.vn/newsletter/img/mail_tiw1.png"></a>
                        </li>
                    </ul>
                </div>
                <div style="font-size: 11px; text-align: center; margin-top: 20px;clear:both;">
                    © 2013 - 2017 vLance.vn<br/>
                    Địa chỉ: Tầng 4, số 2, ngõ 68, đường Nam Đồng, phường Nam Đồng, quận Đống Đa, Hà Nội.
                </div>
            </div>
        </footer>
        {% block ga_tracker %}{% endblock %}
    </body>
</html>
{% endblock %}