{% extends "VlanceBaseBundle:Email:layout_email.html.twig" %}
{% block subject %}
{% autoescape false %}
[vLance] Bạn nhận được lời mời chào giá trên vlance.vn
{% endautoescape %}
{% endblock %}
{% block body_email %}
<div style="min-height: 350px;">    
    <div style="margin:0 auto;padding:0px;clear:both">
        <div style="min-height:289px;clear:both;font-size:14px">
            <div style="margin-top:27px">Xin chào {{ freelancer.fullName }},</div>  
            <div style="line-height:23px;margin-top:32px">
                <strong>{{job.account.fullName}}</strong> vừa mời bạn vào gửi chào giá cho dự án {{ job.title }}. Hãy gửi chào giá cho khách hàng ngay để có thể sớm bắt đầu công việc.
            </div>
            <br>
            {% set job_url = url('job_show_freelance_job', {'hash': job.hash}) %}
            <div style="padding: 1px 20px 20px 20px; margin-bottom: 20px; background-color: #f5fafd; border: 1px solid #d8e8f2;border-bottom: 5px solid #d8e8f2;border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;">
                <h2 style="margin-top: 1.1em;margin-bottom: 0;">
                    <a href="{{ job_url }}?ref=ji1" target="_blank" style="color: #429fdd; text-transform: uppercase; font-weight: normal;text-decoration: none;">
                        {{ job.title }}
                    </a>
                </h2>
                <p style="font-size: 14px; font-style: italic; margin-top: 0.5em;">
                    {{ job.category.title }} | {{ job.budget|number_format(0, ",", ".") }} VNĐ | {{ job.city.name }}
                </p>
                <p>{{ job.description[:200]}}... <a href="{{ job_url }}?ref=ji1" target="_blank" style="text-decoration: none; color: #429fdd">Xem thêm</a></p>
                <p style="text-align: center; margin-top: 40px">
                    <a target="_blank" href="{{ job_url }}?ref=ji1" 
                       style="text-decoration: none; color: black; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; padding: 14px 22px 9px; background-color: #71b7e6; font-size: 16px; border-bottom: 4px solid #4292dd; text-transform: uppercase; color: #ffffff; text-shadow: 0px 1px 1px rgba(0,0,0,0.4);">
                        Gửi chào giá
                    </a>
                </p>
            </div>
            <div style="margin-top:28px;float:left;margin-bottom:35px">
                <span><strong>vLance</strong> chúc bạn chào giá thành công cho dự án này.</span>
                <br>
                <span>Trân trọng!</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=job-invite&cs=newsletter&cm=email&cn=job-invite"/>
    <img src="http://api.mixpanel.com/track/?data={{pixel_tracking}}&ip=1&img=1" width="1" height="1"/>
{% endblock %}