{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
[vLance.vn] Mời làm việc cho dự án "{{ job.title }}"
{% endautoescape %}
{% endblock %}
{% block body_email %}
{% set job_url = url('job_show_freelance_job', {'hash': job.hash}) %}
<p>
    Chào <b><i>{{ freelancer.fullName }}</i></b>,<br/>
    <br/>
    Khách hàng <b>{{job.account.fullName}}</b> vừa đăng một việc mới <a style="color:#429fdd;text-decoration: none; " href="{{ job_url }}?ref=ji2">{{ job.title }}</a>, và muốn mời bạn làm.<br/>
    <br/>
    Nếu bạn muốn nhận làm, hãy gửi chào giá ngay bây giờ nhé.<br/>
</p>
<div style="padding: 10px 30px 30px 30px;margin-bottom: 40px;background-color: #EAF5FF;border-radius: 4px;margin-top: 40px;">
    <h2 style="margin-top: 1.1em;margin-bottom: 0;">
        <a href="{{ job_url }}?ref=ji2" target="_blank" style="color: #222; text-transform: uppercase; font-weight: normal;text-decoration: none;">
            {{ job.title }}
        </a>
    </h2>
    <p style="color:#777; margin-top: 0.5em;">
        {{ job.category.title }} | {{ job.budget|number_format(0, ",", ".") }} VNĐ
    </p>
    <p>{{ job.description[:200]}}... <a href="{{ job_url }}?ref=ji2" target="_blank" style="text-decoration: none; color: #429fdd">Xem thêm</a></p>
    <p style="text-align: center; margin-top: 40px">
        <a target="_blank" href="{{ job_url }}?ref=ji2" 
           style="text-decoration: none; color: black; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; padding: 16px 40px 12px; background-color: #4292dd; font-size: 20px; text-transform: uppercase; color: #ffffff;">
            Gửi chào giá
        </a>
    </p>
</div>
<p>
    Chúc bạn thành công!<br/>
    <br/>
    Trân trọng!
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=job-invite&cs=newsletter&cm=email&cn=job-invite"/>
    <img src="http://api.mixpanel.com/track/?data={{pixel_tracking}}&ip=1&img=1" width="1" height="1"/>
{% endblock %}