{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
{{bid.account.fullName}} vừa gửi CV cho việc "{{job.title}}"
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    <p>
        Xin chào <i>{{job.account.fullName}}</i>,<br/>
        <br/>
        Bạn vừa nhận được CV mới cho việc <b>"{{job.title}}"</b>.<br/>
        Người gửi: {{bid.account.fullName}}.<br/>
        Thời gian: {{bid.createdAt|date("d/m/Y H:i:s")}}.
        <br/><br/>
        Vui lòng xem CV nhận được trên vLance.vn.
        <br/>
    </p>
    <p style="text-align: center">
        <br/><br/>
        <a href="{{url}}" 
            style="border-radius: 5px; text-align: center;text-shadow: 0px 1px 1px rgb(255, 255, 255); 
                    background-color: #f77d0e; padding: 17px 92px 17px 92px; text-decoration: none; color: #ffffff; width: 120px; 
                    margin-top: 10px;-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.05);
                    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.05);
                    box-shadow: inset 0 1px 0 rgba(255,255,255,0.75), 0 1px 2px rgba(0,0,0,0.05);text-shadow: none;">
            <strong style="font-size:18px;">Xem CV</strong>
        </a>
    </p>
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=bid-job&cs=transaction&cm=email&cn=bid"/>
{% endblock %}
