{% extends "VlanceBaseBundle:Email:layout_email.html.twig" %}
{% block subject %}
{% autoescape false %}
[admin][refund] Hệ thống vừa hoàn lại tiền cho dự án {{job.id}} - {{job.title}}.
{% endautoescape %}
{% endblock %}
{% block body_email %}
<div style="min-height: 350px;">    
        <div style="margin:0 auto;padding:0px;clear:both">
            <div style="min-height:289px;clear:both;font-size:14px">
                <div style="margin-top:27px">Chào admin,</div>  
                <div class="content-after-welcome" style="line-height:23px;margin-top:32px">
                    Hệ thống vừa hoàn lại tiền cho dự án {{job.id}} - {{job.title}}.
                </div>
                <div class="content-after-button" style="line-height: 24px;clear: both;float: left;margin-top: 28px;">
                    <div class="content-after-one" style="margin-bottom: 28px;">
                        Nội dung thông tin chi tiết dự án :<br />
                        <b>ID:</b> {{job.id}} <br />
                        <b>Tên dự án:</b> {{job.title}}<br/>
                        <b>Chi tiết:</b><br/>
                        {{job.description}}<br/>
                        <b>Ngày tạo:</b> {{job.createdAt|date('d/m/Y')}}<br/>
                        
                        <div>Link front end: <a style="text-decoration: none;color: #0088cc;" href="{{url('job_show_freelance_job', {'hash' : job.hash})}}">{{url('job_show_freelance_job', {'hash' : job.hash})}}</a></div>
                        <div>Link back end: <a style="text-decoration: none;color: #0088cc;" href="{{url('Vlance_JobBundle_AdminJob_edit',{'pk' : job.id})}}">{{url('Vlance_JobBundle_AdminJob_edit', {'pk': job.id})}}</a></div>
                    </div>
                    
                    <div>
                        Thông tin chuyển tiền : <br/>
                        <b>Id</b>: {{refunTrans.id}}<br/>
                        <b>Người nhận</b>: {{job.account.fullName}}<br/>
                        <b>Số tiền</b>: {{refunTrans.amount}} VNĐ<br/>
                        <b>Ghi chú</b>: {{refunTrans.comment}}<br/>
                        <b>Link sửa Transaction</b>: <a style="text-decoration: none;color: #0088cc;" href="{{url('Vlance_PaymentBundle_AdminTransaction_edit', {'pk': refunTrans.id})}}">{{url('Vlance_PaymentBundle_AdminTransaction_edit', {'pk': refunTrans.id})}}</a>
                    </div>
                </div>
                <div style="margin-top:28px;float:left;margin-bottom:35px">
                    <span><strong>vLance</strong> chúc bạn một ngày tốt lành!</span>
                    <br>
                    <span>Trân trọng!</span>
                </div>
            </div>
    </div>
</div>
{% endblock %}
