{% extends "VlanceBaseBundle:Email:layout_email.html.twig" %}
{% block subject %}
{% autoescape false %}
[admin][message] Hệ thống vừa nhận được tin nhắn mới của dự án {{job.id}} - {{job.title}}
{% endautoescape %}
{% endblock %}
{% block body_email %}
    <div style="min-height: 350px;">    
        <div style="margin:0 auto;padding:0px;clear:both">
            <div style="min-height:289px;clear:both;font-size:14px">
                <div style="margin-top:27px">Xin chào <i>admin</i>,</div>  
                <div class="content-after-welcome" style="line-height: 23px;margin-top: 32px;">
                    <div>Hệ thống vừa nhận được tin nhắn mới của dự án <strong>{{job.title}}</strong>. Nội dung chi tiết như sau: </div>
                    <div><strong>Nội dung: </strong></div>
                    <div>{{message.content}}</div>
                    <div><strong>Ngày gửi: </strong>{{message.createdAt|date('d/m/Y')}}</div>
                    <br />
                    <div>Link front end: <a href="{{url('workshop_bid', {'job_id' : job.id, 'bid' : bid.id})}}">{{url('workshop_bid', {'job_id' : job.id, 'bid' : bid.id})}}</a></div>
                    <div>Link back end: <a style="text-decoration: none;color: #0088cc;" href="{{url('Vlance_JobBundle_AdminMessage_edit', {'pk': message.id})}}">{{ url('Vlance_JobBundle_AdminMessage_edit', {'pk': message.id})}}</a></div>
                </div>
                
                <div style="margin-top:28px;float:left;margin-bottom:35px">
                    <span><strong>vLance</strong> chúc bạn một ngày tốt lành!</span>
                    <br>
                    <span>Trân trọng!</span>
                </div>
            </div>
    </div>
</div>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=message-new&cs=transaction&cm=email&cn=message"/>
{% endblock %}






                    
