{% extends "VlanceBaseBundle:Email:layout_email.html.twig" %}
{% block subject %}
{% autoescape false %}
[admin][invalid] Freelancer vừa thông báo dự án {{job.title}} không hợp lệ trên vLance.vn!
{% endautoescape %}
{% endblock %}
{% block body_email %}
    <div style="min-height: 350px;">    
        <div style="margin:0 auto;padding:0px;clear:both">
            <div style="min-height:289px;clear:both;font-size:14px">
                <div style="margin-top:27px">Xin chào <i>admin</i>,</div>  
                <div class="content-after-welcome" style="line-height: 23px;margin-top: 32px;">
                    Hệ thống vừa nhận được thông báo dự án <strong>{{job.title}}</strong> không hợp lệ.
                </div>
                <div>
                    Nội dung thông tin chi tiết dự án :<br />
                        <b>ID:</b> {{job.id}} <br />
                        <b>Tên dự án:</b> {{job.title}}<br/>
                        <b>Chi tiết:</b><br/>
                        {{job.description}}<br/>
                        <b>Ngân sách:</b> {{job.budget}} VNĐ<br/>
                        <div>
                            <strong>Địa điểm: </strong> 
                            {% if job.city is defined %}
                                {{job.city.name}}
                            {% endif %}
                        </div>
                        <b>Ngày tạo:</b> {{job.createdAt|date('d/m/Y')}}<br/>
                        
                        <div>Link front end: <a style="text-decoration: none;color: #0088cc;" href="{{url('job_show_freelance_job', {'hash' : job.hash})}}">{{url('job_show_freelance_job', {'hash' : job.hash})}}</a></div>
                        <div>Link back end: <a style="text-decoration: none;color: #0088cc;" href="{{url('Vlance_JobBundle_AdminJob_edit',{'pk' : job.id})}}">{{url('Vlance_JobBundle_AdminJob_edit', {'pk': job.id})}}</a></div>
                        <div>Nếu công việc không hợp lệ, hãy truy cập vào tài khoản amdin và ẩn công việc này.</div>
                </div>
                
                <div style="margin-top:28px;float:left;margin-bottom:35px">
                    <span><strong>vLance</strong> chúc bạn một ngày tốt lành!</span>
                    <br>
                    <span>Trân trọng!</span>
                </div>
            </div>
    </div>
</div>
{% endblock %}

