{% extends "VlanceBaseBundle:Email:layout_email.html.twig" %}
{% block subject %}
{% autoescape false %}
[admin] {{job.account.fullName}} xác nhận kết thúc công việc {{job.title}}.
{% endautoescape %}
{% endblock %}
{% block body_email %}
<div style="min-height: 350px;">    
        <div style="margin:0 auto;padding:0px;clear:both">
            <div style="min-height:289px;clear:both;font-size:14px">
                <div style="margin-top:27px">Chào admin,</div>  
                <div class="content-after-welcome" style="line-height:23px;margin-top:32px">
                    Khách hàng vừa xác nhận kết thúc công việc sau.
                </div>
                <div class="content-after-button" style="line-height: 24px;clear: both;float: left;margin-top: 28px;">
                    <div style="margin-bottom: 28px;">
                         Thông tin công việc: <br />
                        <b>ID</b>: {{job.id}} <br />
                        <b>Tên công việc</b>: {{job.title}}<br/>
                        <b>Ngày đăng:</b> {{job.createdAt|date('d/m/Y')}}<br/>
                        <b>Giá tiền freelancer thắng thầu</b>: {{job.budgetBided|number_format(0,',','.')}}<br/>
                        <b>Ngày nạp tiền</b>: 
                        {% for transaction in job.transactions %}
                            {% if transaction.type == 1 and transaction.status == 4  %}
                                {{transaction.createdAt|date('d/m/Y')}}
                            {% endif %}
                        {% endfor %}
                        <br/>
                        <b>Link xem workroom</b>: <a style="text-decoration: none;color: #0088cc;" href="{{url('workshop_bid', {'job_id': job.id, 'bid': bid.id})}}">{{url('workshop_bid', {'job_id': job.id, 'bid': bid.id})}}</a><br/>
                        <b>Link xem công viêc</b>:  <a style="text-decoration: none;color: #0088cc;" href="{{url('job_show_freelance_job', {'hash': job.hash})}}">{{url('job_show_freelance_job', {'hash': job.hash})}}</a>
                        <b>Link sửa công việc</b>: <a style="text-decoration: none;color: #0088cc;" href="{{ url('Vlance_JobBundle_AdminJob_edit', {'pk':job.id})}}">{{ url('Vlance_JobBundle_AdminJob_edit', {'pk':job.id})}}</a>
                    </div>
                    <div style="margin-bottom: 28px;">
                        Thông tin freelancer : <br/>
                        <b>Id</b>: {{freelancer.id}} <br/>
                        <b>Tên freelancer</b>: {{freelancer.fullName}}<br/>
                        <b>Link xem hồ sơ</b>: <a style="text-decoration: none;color: #0088cc;" href="{{url('account_show_freelancer', {'hash':freelancer.hash})}}">{{url('account_show_freelancer', {'hash':freelancer.hash})}}</a><br/>
                        <b>Link sửa hồ sơ</b>: <a style="text-decoration: none;color: #0088cc;" href="{{url('Vlance_AccountBundle_AdminAccount_edit', {'pk': freelancer.id})}}">{{url('Vlance_AccountBundle_AdminAccount_edit', {'pk': freelancer.id})}}</a>
                    </div>
                    <div>
                        Thông tin khách hàng : <br/>
                        <b>Id</b>:{{job.account.id}}<br/>
                        <b>Tên khách hàng</b>: {{job.account.fullName}}<br/>
                        <b>Link xem hồ sơ</b>: <a style="text-decoration: none;color: #0088cc;" href="{{url('account_show_freelancer', {'hash':job.account.hash})}}">{{url('account_show_freelancer', {'hash':job.account.hash})}}</a><br/>
                        <b>Link sửa hồ sơ</b>: <a style="text-decoration: none;color: #0088cc;" href="{{url('Vlance_AccountBundle_AdminAccount_edit', {'pk': job.account.id})}}">{{url('Vlance_AccountBundle_AdminAccount_edit', {'pk': job.account.id})}}</a>
                    </div>
                </div>
                <div style="margin-top:28px;float:left;margin-bottom:35px">
                    <span><strong>vLance</strong> chúc bạn một ngày tốt lành!</span>
                    <br>
                    <span>Trân trọng!</span>
                </div>
            </div>
    </div>
</div>
{% endblock %}
