{% extends "VlanceBaseBundle:Email:layout_email.html.twig" %}
{% block subject %}
{% autoescape false %}
[admin][error]Thông báo vi phạm lỗi của freelancer chào giá dự án {{job.title}}
{% endautoescape %}
{% endblock %}
{% block body_email %}
    <div style="min-height: 350px;">    
        <div style="margin:0 auto;padding:0px;clear:both">
            <div style="min-height:289px;clear:both;font-size:14px">
                <div style="margin-top:27px">Xin chào <i>admin</i>,</div>  
                 <div class="content-after-welcome" style="line-height: 23px;margin-top: 32px;">
                    Hệ thống vừa nhận được chào giá cho dự án <strong>{{job.title}}</strong>. Hệ thống đã kiểm tra và nghi ngờ chào giá đã vi phạm lỗi bảo mật thông tin.
                    Nội dung thông tin chào giá như sau:
                </div>
                <div>{{bid.description}}</div>
                <div><strong>Freelancer: </strong><a href="{{url('account_show_freelancer', {'hash' : bid.account.hash })}}">{{bid.account.fullName}}</a></div>
                <div><strong>Chào giá: </strong>{{bid.amount}} VNĐ</div>
                <div><strong>Ngày chào giá: </strong>{{bid.createdAt|date('d/m/Y')}}</div>
                <div><strong>Dự kiến hoàn thành: </strong>{{bid.duration}} ngày</div>
                <br />
                <div>Link front end: <a href="{{url('job_show_freelance_job', {'hash' : job.hash})}}">{{url('job_show_freelance_job', {'hash' : job.hash})}}</a></div>
                <div>Link back end: <a href="{{url('Vlance_JobBundle_AdminBid_edit',{'pk' : bid.id})}}">{{url('Vlance_JobBundle_AdminBid_edit', {'pk' : bid.id})}}</a></div>
            
                <div style="margin-top:28px;float:left;margin-bottom:35px">
                    <span><strong>vLance</strong> chúc bạn một ngày tốt lành!</span>
                    <br>
                    <span>Trân trọng!</span>
                </div>
            </div>
    </div>
</div>
{% endblock %}

