{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Có người chào giá mới cho dự án {{job.title}} của bạn trên vLance.vn!
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{job.account.fullName}}</i>,<br/>
    <br/>
    Vừa có thêm freelancer chào giá cho dự án của bạn trên vLance.vn.<br/>
    <br/>
    Chi tiết về thông tin chào giá, vui lòng xem tại
    <a style="text-decoration: none;color: #0088cc;" href="{{ url('job_show_freelance_job', {'hash': job.hash}) }}">{{url('job_show_freelance_job', {'hash': job.hash})}}</a><br/>
    <br/>
    <i><b>Gợi ý của vLance:</b> Hãy dành thời gian tham khảo những thông tin freelancer cung cấp trong hồ sơ cá nhân, những dự án họ đã làm với vLance và những nhận xét của các khách hàng trước đây về họ. Đó sẽ là những gợi ý vô cùng hữu ích để bạn chọn được freelancer ưng ý nhất cho dự án của mình.</i><br/>
    <br/>
    Nếu đường dẫn trên không hoạt động xin vui lòng liên hệ
    <a style="text-decoration: none;color: #0088cc;" href="mailto:hotro@vlance.vn">hotro@vlance.vn</a>.<br/>
    <br/>
    <b>vLance</b> chúc bạn một ngày tốt lành!<br/>
    <br/>
    Trân trọng!
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=bid-job&cs=transaction&cm=email&cn=bid"/>
{% endblock %}
