{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Khách hàng vừa nhận xét về chào giá của bạn trong dự án {{job.title}}
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{bid.account.fullName}}</i>,<br/>
    <br/>
    Chào giá của bạn trong dự án <b><a href="{{url}}">{{job.title}}</a></b> vừa được khách hàng đánh giá <b>{{rate.rating}} Sao</b>.<br/>
    {% if rate.rating < 3 %}
    Rất tiếc chào giá của bạn không được khách hàng đánh giá cao. <br/>
    {% elseif (rate.rating > 2 and rate.rating < 5) %}
    Chào giá của bạn được khách hàng đánh giá khá tốt nhưng cần hoàn thiện hơn nữa. <br/>
    {% elseif rate.rating == 5 %}
    Chúc mừng chào giá của bạn đã được khách hàng đánh giá cao. <br/>
    {% endif %}
    <br/>
    Chúc bạn một ngày tốt lành. <br/>
    <br/>
<p/>
{% endblock %}
{#{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=bid-job&cs=transaction&cm=email&cn=bid"/>
{% endblock %}#}
