{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Đã {{entity.b_time*24}} giờ trôi qua, Freelancer đang chờ bạn nạp tiền để thực hiện dự án.
{% endautoescape %}
{% endblock %}
{% block body_email %}  
    <p>
        Xin chào <i>{{entity.acc_name}}</i>,<br/>
        <br/>
        Dự án {{entity.j_title}} chọn được freelancer đã {{entity.b_time*24}} giờ rồi, freelancer đã sẵn sàng làm việc, bạn hãy <a style="text-decoration:none;color:#0088cc;" href="{{url('job_show_freelance_job', {'hash': entity.j_hash})}}#escrow_form">Đặt cọc cho Freelancer</a> để dự án được thực hiện đúng tiến độ.<br/>
        Bạn có gặp khó khăn gì trong việc nạp tiền không, nếu có hãy thông báo tới <a style="text-decoration:none;color:#0088cc;" href="mailto:hotro@vlance.vn">hotro@vlance</a> để vLance.vn hỗ trợ bạn.<br/>
        vLance.vn hỗ trợ bạn hoàn toàn <b>miễn phí trong toàn bộ dự án:</b><br/>
        <br/>
        <ul style="list-style-type: circle">
            <li><i>Ngay khi giao dịch thành công, vLance.vn sẽ gửi thông tin xác nhận tới freelancer để BẮT ĐẦU làm việc.</i></li> <br/>
            <li><i>vlance.vn sẽ giúp bạn soạn thảo cam kết để có những điều khoản chặt chẽ hơn với freelancer.</i></li><br/>
            <li><i>vLance.vn luôn đồng hành cùng dự án của bạn, nhắc nhở freelancer hoàn thành đúng tiến độ và đảm bảo kỷ luật trong suốt quá trình thực hiện.</i></li><br/>
            <li><i>Kết thúc dự án, bạn đánh giá freelancer dựa trên kết quả hoàn thành công việc.</i></li></br>
        </ul>
        Bạn có thể chọn một trong các hình thức nạp tiền sau:<br/>
        {% set money = entity.j_budgetbided / 21410 /(1 - 4.4/100)%}
        - Nếu bạn ở Hà Nội và muốn giao dịch trực tiếp với chúng tôi, hãy tới văn phòng vLance.vn tại địa chỉ: <br/>
        <i>Tầng 4, số 2, ngõ 68, đường Nam Đồng, phường Nam Đồng, quận Đống Đa, Hà Nội.</i><br/>
        Thời gian: Sáng 9h00 - 12h00, Chiều 13h00 - 17h30 từ thứ Hai đến thứ Sáu hàng tuần.<br/>
        - Nếu bạn có tài khoản ngân hàng, và muốn thực hiện giao dịch nhanh chóng, thuận tiện, hãy chuyển khoản tới <a style="text-decoration:none;color:#0088cc;" href="{{url('cms_page', {'slug': 'huong-dan-thanh-toan'})}}">tài khoản vLance.vn</a> và ghi rõ Tên & ID công việc trong giao dịch này.<br/>
        - Bạn cũng có thể thực hiện giao dịch qua tài khoản Paypal của vLance.vn: <b>invoice@vlance.vn</b>, số tiền được tính theo công thức sau: <b>Số tiền USD cần thanh toán = Giá trị dự án theo VND / 21.410 / (1 - 4,4%)</b>. Cụ thể ở dự án này bạn cần nạp <b>{{ money |number_format(2, ',', '.') }} USD</b> qua Paypal.<br/>
        <br/>
        <a style="text-decoration:none;color:#0088cc;" href="{{url('cms_page', {'slug': 'huong-dan-thanh-toan'})}}">Xem chi tiết cách thức thanh toán</a><br/>
        <br/>
        Mọi ý kiến đóng góp hay cần sự tư vấn, bạn vui lòng gửi tới: <a style="text-decoration:none;color:#0088cc;" href="mailto:hotro@vlance.vn">hotro@vlance.vn</a> <br/>
        Hotline: 024.6684.1818 <br/>
        <br/>
        Thân mến,
    <p/>        
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=request-deposit-client&cs=transaction&cm=email&cn=job"/>
{% endblock %}
