{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Yêu cầu hủy dự án {{job.title}} của bạn đã được chấp nhận.
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>   
    Xin chào <i>{{job.account.fullName}}</i>,<br/>
    <br/>
    vLance.vn đã xác nhận yêu cầu hủy dự án {{job.id}} - {{job.title}}.<br/>
    <br/>
    Bạn thanh toán cho freelancer số tiền: {{money_pay}} VNĐ.<br/>
    Ngay bây giờ, vLance.vn sẽ thông báo tới freelancer <i>{{freelancer.fullName}}</i>. <br/>
    Bạn vui lòng kiểm tra thông tin dự án tại <a style="text-decoration: none;color: #0088cc;" href="{{url('workshop_bid', {'job_id': job.id})}}">đây</a><br/>
    <br/>
    Mọi ý kiến đóng góp hay cần sự tư vấn, bạn vui lòng gửi tới: <a style="text-decoration:none;color:#0088cc;" href="mailto:hotro@vlance.vn">hotro@vlance.vn</a><br/>
    Hotline: 024.6684.1818<br/>
    <br/>
    Thân mến,
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=client-job-cancel&cs=transaction&cm=email&cn=job"/>
{% endblock %}
