{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Dự án {{entity.j_title}} đã hết hạn, chưa có freelancer nào chào giá.
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>    
    Xin chào <i>{{entity.acc_name}}</i>,<br/>
    <br/>
    Thật tiếc, Dự án {{entity.j_title}} đã hết hạn rồi, nhưng chưa có freelancer nào chào giá. <b>Vì sao vậy?</b><br/>
    <br/>
    Bạn có muốn <a style="text-decoration: none;color: #0088cc;" href="{{url('job_edit', {'id': entity.j_id})}}">gia hạn</a> thêm thời gian chào giá hoặc chỉnh sửa lại thông tin giới thiệu, mô tả cho dự án này không?<br/>
    <br/>
    Nếu bạn có bất cứ khó khăn nào hoặc cần hỗ trợ tìm freelancer, hãy gửi email tới: <a style="text-decoration:none;color:#0088cc;" href="mailto:hotro@vlance.vn">hotro@vlance.vn</a> để vLance.vn tư vấn và giúp bạn nhé. <br/>
    Hotline: 024.6684.1818<br/>
    <br/>
    Thân mếm,
<p/>
{% endblock %}
