{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Dự án {{entity.j_title}} hết hạn chào giá, bạn đã chọn được freelancer ưng ý chưa?
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{entity.acc_name}}</i>,<br/>
    <br/>
    Dự án {{entity.j_title}} đã hết hạn được {{entity.j_exprise}} phút rồi.<br/>
    <br/>
    Đã có {{entity.num_bid}} chào giá được gửi đến. Bạn đã chọn được freelancer tiềm năng nào cho dự án của mình chưa? <br/>
    Hãy vào <a style="text-decoration: none;color: #0088cc;" href="{{url('job_show_freelance_job', {'hash': entity.j_hash})}}">đây</a> để xem hồ sơ và chào giá của freelancer.<br/>
    <br/>
    Nếu vẫn chưa chọn được freelancer ưng ý, bạn có thể vui lòng cho vLance.vn biết <b>lý do</b> để chúng tôi hỗ trợ bạn nhiều hơn không?<br/>
    <br/>
    Mọi ý kiến đóng góp hay cần sự tư vấn, bạn vui lòng gửi tới: <a style="text-decoration:none;color:#0088cc;" href="mailto:hotro@vlance.vn">hotro@vlance.vn</a><br/>
    Hotline: 024.6684.1818<br/> 
    <br/>
    Thân mến,
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=job-expired-job-client&cs=transaction&cm=email&cn=job"/>
{% endblock %}
