{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
{% if bid.account.bannedTo is not null %}
Tạm khóa chức năng gửi chào giá
{% else %}
Chào giá đã vi phạm điều khoản sử dụng của vLance.vn
{% endif%}
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <b>{{ bid.account.fullName }}</b>, <br/>
    <br/>
    Chào giá của bạn cho công việc <a href="{{ url('job_show_freelance_job', {'hash': bid.job.hash}) }}">{{ bid.job.title }}</a> đã bị ẩn do vi phạm điều khoản hoạt động của vLance.vn.<br/>
    <br/>
    {% if bid.reason is not null %}
        Lý do: {{bid.reason}}<br/>
        <br/>
    {% endif %}
    {% if bid.account.bannedTo is not null %}
    Chúng tôi sẽ tạm khóa chức năng gửi chào giá của bạn cho đến <b>{{ bid.account.bannedTo | date('H:s:i d/m/Y') }}</b>.<br/>
    <br/>
    {% endif %}
    Cách xử lý chào giá vi phạm: <br/>
    - Dưới 3 lần vi phạm, sẽ bị tạm khóa gửi chào giá trong 2 ngày. <br/>
    - Từ 4 đến 5 lần vi phạm, sẽ bị tạm khóa gửi chào giá trong 7 ngày. <br/>
    - Trên 5 lần vi phạm, sẽ bị tạm khóa gửi chào giá trong 30 ngày. <br/>
    <br/>
    vLance.vn hy vọng được tiếp tục hợp tác với bạn trong thời gian tới.<br/>
    <br/>
    Trân trọng,<br/>
    <br/>
    <strong>vLance team</strong><br/>
    <br/>
</p>
{% endblock %}