{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Chào giá đã vi phạm điều khoản sử dụng của vLance.vn
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <b>{{ bid.account.fullName }}</b>, <br/>
    <br/>
    Chào giá của bạn cho công việc <a href="{{ url('job_show_freelance_job', {'hash': bid.job.hash}) }}">{{ bid.job.title }}</a> đã bị ẩn do vi phạm điều khoản hoạt động của vLance.vn. <br/>
    <br/>
    {% if bid.reason is not null %}
        Lý do: {{bid.reason}}<br/>
        <br/>
    {% endif %}
    Để tránh việc spam và gây phiền phức tới freelancer và khách hàng, bạn vui lòng cân nhắc kỹ nội dung trước khi đăng..<br/>
    <br/>
    vLance.vn hy vọng được tiếp tục hợp tác với bạn trong thời gian tới.<br/>
    <br/>
    Trân trọng,<br/>
    <br/>
    <strong>vLance team</strong><br/>
    <br/>
</p>
{% endblock %}