{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
 Rất tiếc, khách hàng đã yêu cầu hủy bỏ dự án {{job.title}}  
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{job.worker.fullName}}</i>,<br/>
    <br/>
    Khách hàng {{job.account.fullName}} đã yêu cầu hủy dự án {{job.id}} - {{job.title}}.<br/>
    <br/>
    Lí do : {{reson}}<br/>
    <br/>
    Bạn vui lòng kiểm tra thông tin dự án tại <a style="text-decoration: none;color: #0088cc;" href="{{url('workshop_bid', {'job_id': job.id})}}">đây</a><br/>
    Mọi ý kiến thắc mắc hay cần sự tư vấn, bạn vui lòng gửi tới: <a style="text-decoration:none;color:#0088cc;" href="mailto:hotro@vlance.vn">hotro@vlance.vn</a><br/>
    <br/>
    Hotline: 024.6684.1818 <br/>
    <br/>
    Thân mến,
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=freelancer-job-cancel&cs=transaction&cm=email&cn=job"/>
{% endblock %}
