{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Chúc mừng! Dự án "{{job.title}}" đã được nghiệm thu thành công!
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{freelancer.fullName}}</i>,<br/>
    <br/>
    <i>{{job.account.fullName}}</i> vừa xác nhận dự án <a style="font-weight:bold;font-style:italic;">{{job.title}}</a> đã được nghiệm thu thành công.<br/>
    <br/>
    Toàn bộ chi phí của dự án {{job.budgetBided}} VNĐ đã được hệ thống chuyển vào tài khoản của bạn trên vLance.vn. <br/>
    Kiểm tra thông tin tài khoản của bạn <a style="text-decoration: none;color: #0088cc;" href="{{url('transaction')}}" >tại đây</a>.<br/>
    <br/>
    Ngay bây giờ, bạn có thể nhận xét khách hàng {{job.account.fullName}} <a style="text-decoration: none;color: #0088cc;" href="{{url('workshop_bid', {'job_id' : job.id})}}" >tại đây</a>.<br/>
    Những nhận xét này sẽ giúp bạn và freelancer khác dễ dàng lựa chọn khách hàng uy tín trên <b>vLance.vn</b>.<br/>
    <br/>
    Cảm ơn bạn đã tin tưởng và sử dụng dịch vụ của <b>vLance.vn</b>.<br/>
    <b>vLance</b> chúc bạn một ngày tốt lành!<br/>
    <br/>
    Thân mến,
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=job-finished&cs=transaction&cm=email&cn=job"/>
{% endblock %}

