{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Dự án {{ job.id }} - {{ job.title }} đã được mở để nhận chào giá
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{ job.account.fullName }}</i>,<br/>
    <br/>
    Theo như yêu cầu của bạn, dự án {{ job.title }} đã được mở để nhận chào giá khác<br/>
    Bạn vui lòng kiểm tra thông tin dự án <a style="text-decoration: none;color: #0088cc;" href="{{ url('job_show_freelance_job', {'hash':job.hash})}}">tại đây</a><br/>
    <br/>
    Thân mến,
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=job-reopen&cs=transaction&cm=email&cn=job-reopen"/>
{% endblock %}

                    
