{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
    Chúc mừng! Dự án {{job.title}} của bạn đã được hoàn thành!
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p> 
    Xin chào <i>{{job.account.fullName}}</i>,<br/>
    <br/>
    <i>{{freelancer.fullName}}</i> vừa thông báo rằng dự án <a style="font-weight:bold;font-style:italic;">{{job.title}}</a> vừa được hoàn thành.<br/>
    <br/>    
    Nếu kết quả đã đạt yêu cầu, bạn vui lòng click vào&nbsp;<a style="text-decoration:none;color:#0088cc;" href="{{url('workshop_bid', {'job_id': job.id, 'bid': bid.id})}}?ap=hoan-thanh" target="_blank">đây</a> để xác nhận trong trang <i><b>Tin nhắn</b></i> của dự án. Chúng tôi sẽ tiến hành thanh toán với freelancer ngay sau khi được bạn xác nhận.<br/>
    Nếu dự án chưa đạt yêu cầu, bạn vẫn có thể tiếp tục làm việc với freelancer cho đến khi dự án thực sự hoàn thiện. <br/>
    <br/>
    Hoặc bạn có thể liên hệ ngay với chúng tôi để được hỗ trợ: <br><i style="text-align:center;">Email: <a style="text-decoration:none;color:#0088cc;">hotro@vlance.vn</a> - Điện thoại: 024.6684.1818</i><br/>
    <br/>
    <b>vLance</b> chúc bạn một ngày tốt lành!<br/>
    <br/>
    Trân trọng!
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=job-done-confirm&cs=transactional&cm=email&cn=job"/>
{% endblock %}