{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
[{{job.title}}] {{sender.fullName}} gửi bạn một tin nhắn mới.
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{message.receiver.fullName}}</i>,<br/>
    <br/>
    Bạn vừa nhận một tin nhắn mới của <b><i>{{sender.fullName}}</i></b> từ dự án <b><i>{{job.title}}</i></b>:<br/>
    <br/>
    {{summary}}... <a style="display: inline-block;text-decoration: none;color: #0088cc;" href="{{url('workshop_bid', {'job_id': job.id, 'bid': bid.id})}}">Xem tin đầy đủ</a><br/>
    <br/>
    <b>vLance</b> chúc bạn một ngày tốt lành!<br/>
    <br/>
    Trân trọng!
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=message-new&cs=transaction&cm=email&cn=message"/>
{% endblock %}






                    
