{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
 {{job.account.fullName}} vừa gửi yêu cầu làm lại dự án {{job.title}}.
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Chào <i>{{freelancer.fullName}}</i>,<br/>
    <br/>
    Rất tiếc, khách hàng {{job.account.fullName}} không chấp nhận yêu cầu kết thúc công việc của bạn.<br/>
    Bạn hãy tiếp tục làm việc với khách hàng {{job.account.fullName}} <a style="text-decoration: none;color: #0088cc;" href="{{url('workshop_bid', {'job_id' : job.id})}}" > tại đây</a>.<br/>
    <br/>
    Nếu bạn có bất cứ khó khăn nào hoặc cần hỗ trợ, hãy gửi email tới: <a style="text-decoration:none;color:#0088cc;" href="mailto:hotro@vlance.vn">hotro@vlance.vn</a> để vLance.vn tư vấn và giúp bạn nhé.<br/>
    Hotline: 024.6684.1818<br/>
    <br/>        
    <b>vLance</b> chúc bạn một ngày tốt lành!<br/>
    <br/>
    Trân trọng!
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=job-redo&cs=transaction&cm=email&cn=job"/>
{% endblock %}
