{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Việc mới dành cho bạn trên vLance.vn
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>    
    Xin chào <i>{{name}}</i>,<br/>
    <br/>
    Rất tiếc, dự án <b>{{job_name}}</b> bạn vừa khởi tạo trên vLance.vn đã vi phạm điều khoản của vLance và đã bị xoá khỏi hệ thống.<br/>
    <br/>
    Xem thêm điều khoản sử dụng của vLance.vn tại đây: <a href="http://vlance.vn/page/quy-dinh-bao-mat">http://vlance.vn/page/quy-dinh-bao-mat</a><br/>
    <br/>
    Khởi tạo lại dự án khác để tiếp tục làm việc trên vLance.vn tại đây 
    <a style="text-decoration: none;color: #0088cc;" href="{{url('job_new')}}">{{url('job_new')}}</a><br/>
    <br/>
    <b>vLance</b> chúc bạn một ngày tốt lành!<br/>
    <br>
    Trân trọng!
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=job-violated&cs=transaction&cm=email&cn=job"/>
{% endblock %}


                    
