{% extends "VlanceBaseBundle:Email:layout_email.html.twig" %}
{% block subject %}
{% autoescape false %}
[admin] [transaction] Yêu cầu rút tiền {{transaction.amount|number_format(0,',','.')}} VNĐ.
{% endautoescape %}
{% endblock %}
{% block body_email %}
<div style="min-height: 350px;">    
        <div style="margin:0 auto;width:460px;padding:0px;clear:both">
            <div style="min-height:289px;width:475px;clear:both;font-size:14px">
                <div style="margin-top:27px">Chào admin,</div>  
                <div class="content-after-welcome" style="line-height:23px;margin-top:32px">
                    Freelancer vừa gửi yêu cầu rút tiền.
                </div>
                <div class="content-after-button" style="line-height: 24px;clear: both;float: left;margin-top: 28px;">
                    <div class="content-after-one" style="margin-bottom: 28px;">
                        Thông tin lệnh rút tiền: <br />
                        <b>ID</b>: {{transaction.id}}<br/>
                        <b>Số tiền</b>: {{transaction.amount|number_format(0,',','.')}} VNĐ<br/>
                        <b>Ngày yêu cầu</b>: {{transaction.createdAt|date('d/m/Y')}}<br />
                        <b>Link sửa lệnh rút tiền</b>: <a style="text-decoration: none;color: #0088cc;" href="{{ url('Vlance_PaymentBundle_AdminTransaction_edit', {'pk':transaction.id})}}">{{ url('Vlance_PaymentBundle_AdminTransaction_edit', {'pk':transaction.id})}}</a>
                    </div>
                    <div>
                        Thông tin Freelancer: <br/>
                        <b>Id</b>:{{transaction.receiver.id}}<br/>
                        <b>Tên freelancer</b>: {{transaction.receiver.fullName}}<br/>
                        <b>Link xem hồ sơ</b>: <a style="text-decoration: none;color: #0088cc;" href="{{url('account_show_freelancer', {'hash':transaction.receiver.hash})}}">{{url('account_show_freelancer', {'hash':transaction.receiver.hash})}}</a><br/>
                        <b>Link sửa hồ sơ</b>: <a style="text-decoration: none;color: #0088cc;" href="{{url('Vlance_AccountBundle_AdminAccount_edit', {'pk': transaction.receiver.id})}}">{{url('Vlance_AccountBundle_AdminAccount_edit', {'pk': transaction.receiver.id})}}</a>
                    </div>
                </div>
                <div style="margin-top:28px;float:left;margin-bottom:35px">
                    <span><strong>vLance</strong> chúc bạn một ngày tốt lành!</span>
                    <br/>
                    <span>Trân trọng!</span>
                </div>
            </div>
    </div>
</div>
{% endblock %}
