{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
[vlance] Xác nhận chuyển tiền thành công
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{ acc.fullName }}</i>,<br/>
    <br/>
{#    vLance.vn đã chuyển tiền cho bạn thành công. {{ file_attach }}<br/>#}
    vLance vừa chuyển khoản cho bạn <b>{{transaction.amount|number_format(0,',','.')}} VNĐ</b> tới tài khoản sau đây:<br/><br/>
    {% for i in bank %}
        <i>{{ i }}</i> <br/>
    {% endfor %}
    <br/><br/>
    Bạn sẽ nhận được tiền trong khoảng 24 giờ đến 72 giờ kể từ khi thông báo này được gửi tới bạn.<br/>
    <br/>
    Cảm ơn bạn đã lựa chọn và sử dụng dịch vụ của vlance.vn.<br/>
    <br/>
    Chúc bạn một ngày tốt lành.<br/>
    Thân mến,
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=transaction-payment-freelancer&cs=transaction&cm=email&cn=bid"/>
{% endblock %}

                    
