{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
[vLance] Yêu cầu rút tiền thành công.
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Chào <i>{{transaction.receiver.fullName}}</i>,<br/>
    <br/>
    vLance đã nhận được yêu cầu rút <b>{{transaction.amount|number_format(0,',','.')}} VNĐ</b> của bạn.<br/>
    <br/>
    vLance sẽ giải quyết yêu cầu rút tiền của bạn trong vòng 5 ngày làm việc (không bao gồm ngày lễ, ngày tết, thứ 7 và Chủ Nhật).<br/>
    <br/>
    Xin cảm ơn <br/>
</p>
{% endblock %}
