{% block column_jobstatus %}
    {% spaceless %}
        {% if (field_value == "1") %}
            1-JOB_OPEN
        {% elseif (field_value == 2) %}
            2-JOB_AWARDED
        {% elseif (field_value == 3) %}
            3-JOB_WORKING
        {% elseif (field_value == 4) %}
            4-JOB_CLOSED
        {% elseif (field_value == 5) %}
            5-JOB_FINISH_REQUEST
        {% elseif (field_value == 6) %}
            6-JOB_FINISHED
        {% elseif (field_value == 7) %}
            7-JOB_CANCEL_REQUEST
        {% elseif (field_value == 8) %}
            8-JOB_CANCELED
        {% endif %}
    {% endspaceless %}
{% endblock %}
{% block column_jobpayment %}
    {% spaceless %}
        {% if (field_value == 0) %}
            0-WAITING_ESCROW
        {% elseif (field_value == 1) %}
            1-ESCROWING
        {% elseif (field_value == 2) %}
            2-ESCROWED
        {% elseif (field_value == 3) %}
            3-PAIED
        {% elseif (field_value == 4) %}
            4-REFUNED
        {% endif %}
    {% endspaceless %}
{% endblock %}
{% block column_transactiontype %}
    {% spaceless %}
        {% if (field_value == "1") %}
            1-DEPOSIT
        {% elseif (field_value == 11) %}
            11-DEPOSIT-UPFRONT
        {% elseif (field_value == 2) %}
            2-ESCROW
        {% elseif (field_value == 3) %}
            3-FEE
        {% elseif (field_value == 4) %}
            4-PAYMENT
        {% elseif (field_value == 5) %}
            5-WITHDRAW
        {% elseif (field_value == 6) %}
            6-REFUND
        {% elseif (field_value == 7) %}
            7-BUY-CREDIT
        {% elseif (field_value == 20) %}
            20-TOPUP-USERCASH
        {% endif %}
    {% endspaceless %}
{% endblock %}
{% block column_transactionstatus %}
    {% spaceless %}
        {% if (field_value == 1) %}
            1-WAITING_PAYMENT
        {% elseif (field_value == 2) %}
            2-PAIED
        {% elseif (field_value == 3) %}
            3-PROCESSING
        {% elseif (field_value == 4) %}
            4-TERMINATED
        {% endif %}
    {% endspaceless %}
{% endblock %}
{% block column_money %}
    {% spaceless %}
        {{ field_value | number_format(0, ',', '.') }}
    {% endspaceless %}
{% endblock %}
{% block column_massemailstatus %}
    {% spaceless %}
        {% if (field_value == 1) %}
            1-NEW
        {% elseif (field_value == 2) %}
            2-READY
        {% elseif (field_value == 3) %}
            3-PAUSED
        {% elseif (field_value == 4) %}
            4-RUNNING
        {% elseif (field_value == 5) %}
            5-COMPLETED
        {% endif %}
    {% endspaceless %}
{% endblock %}
{% block column_onepaytransactionservice %}
    {% spaceless %}
        {% if (field_value == 101) %}
            101-CONTACT_FREELANCER
        {% elseif (field_value == 102) %}
            102-CONTACT_CLIENT
        {% elseif (field_value == 103) %}
            103-FEATURE_JOB
        {% elseif (field_value == 104) %}
            104-FEATURE_BID
        {% elseif (field_value == 105) %}
            105-VERIFY_TEL
        {% endif %}
    {% endspaceless %}
{% endblock %}
{% block column_onepaytransactiontype %}
    {% spaceless %}
        {% if (field_value == 1) %}
            1-SMS-OTP
        {% elseif (field_value == 2) %}
            2-SMS+
        {% elseif (field_value == 3) %}
            3-BANK
        {% elseif (field_value == 4) %}
            4-CREDITCARD
        {% endif %}
    {% endspaceless %}
{% endblock %}
{% block column_onepaytransactionstatus %}
    {% spaceless %}
        {% if (field_value == 1) %}
            1-INITIAL
        {% elseif (field_value == 2) %}
            2-WAITCONFIRM
        {% elseif (field_value == 4) %}
            4-TERMINATED
        {% endif %}
    {% endspaceless %}
{% endblock %}
{% block column_creditexpensetype %}
    {% spaceless %}
        {% if (field_value == 1) %}
            1-Spend
        {% elseif (field_value == 2) %}
            2-Promo
        {% elseif (field_value == 3) %}
            3-Refund
        {% endif %}
    {% endspaceless %}
{% endblock %}
{% block column_creditexpensestatus %}
    {% spaceless %}
        {% if (field_value == 1) %}
            1-Waiting
        {% elseif (field_value == 2) %}
            2-Processing
        {% elseif (field_value == 3) %}
            <span style="color:red">3-Cancelled</span>
        {% elseif (field_value == 4) %}
            <span style="color:#00CC00">4-Success</span>
        {% endif %}
    {% endspaceless %}
{% endblock %}
{% block column_creditexpenseservice %}
    {% spaceless %}
        {% if (field_value == 101) %}
            101-Contact-FL
        {% elseif (field_value == 102) %}
            102-Contact-CL
        {% elseif (field_value == 103) %}
            103-FeatJob
        {% elseif (field_value == 104) %}
            104-FeatBid 
        {% elseif (field_value == 106) %}
            106-FeatFreelancer
        {% elseif (field_value == 108) %}
            108-BidLimit
        {% elseif (field_value == 109) %}
            109-RespWorkroom
        {% elseif (field_value == 110) %}
            110-FeatJobFP
        {% else %}
            Khác
        {% endif %}
    {% endspaceless %}
{% endblock %}
{% block column_creditbuytransactiontype %}
    {% spaceless %}
        {% if (field_value == 1) %}
            1-BUY
        {% elseif (field_value == 2) %}
            2-PROMO
        {% elseif (field_value == 3) %}
            3-REFUND
        {% elseif (field_value == 4) %}
            4-PROMO-REF-FRIEND
        {% endif %}
    {% endspaceless %}
{% endblock %}
{% block column_creditbuytransactionstatus %}
    {% spaceless %}
        {% if (field_value == 1) %}
            1-Waiting
        {% elseif (field_value == 2) %}
            2-Processing
        {% elseif (field_value == 3) %}
            <span style="color:red">3-Cancelled</span>
        {% elseif (field_value == 4) %}
            <span style="color:#00CC00">4-Success</span>
        {% endif %}
    {% endspaceless %}
{% endblock %}
{% block column_creditbuytransactionpaymentmethod %}
    {% spaceless %}
        {% if (field_value == 10) %}
            10-1Pay-OTP
        {% elseif (field_value == 11) %}
            11-1Pay-Bankcard
        {% elseif (field_value == 12) %}
            12-1Pay-Visa
        {% elseif (field_value == 20) %}
            20-BankTransfert
        {% elseif (field_value == 30) %}
            30-Paypal
        {% elseif (field_value == 40) %}
            40-Cash
        {% elseif (field_value == 50) %}
            50-Usercash
        {% elseif (field_value == 60) %}
            60-Other
        {% endif %}
    {% endspaceless %}
{% endblock %}