{% block accountpicker_widget %}
{% spaceless %}
    <script src="{{ asset('components/typeahead.js/typeahead.bundle.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('components/typeahead.js/handlebars-v4.0.5.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/admin/filter_widget/account_picker.js') }}" type="text/javascript"></script>
    <style>
        .twitter-typeahead {
            width: 100%;
        }
        #typeahead_account .empty-message {
            padding: 5px 10px;
            text-align: center;
        }
        .tt-query {
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
               -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }

        .tt-hint {
            color: #aaa;
        }

        .tt-menu {
            margin: 12px 0;
            padding: 8px 0;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            -webkit-border-radius: 8px;
               -moz-border-radius: 8px;
                    border-radius: 8px;
            -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
               -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
                    box-shadow: 0 5px 10px rgba(0,0,0,.2);
        }

        .tt-suggestion {
            padding: 3px 20px;
            white-space: nowrap;
        }

        .tt-suggestion:hover {
            cursor: pointer;
            color: #fff;
            background-color: #0097cf;
        }

        .tt-suggestion.tt-cursor {
            color: #fff;
            background-color: #0097cf;

        }

        .tt-suggestion p {
            margin: 0;
        }
    </style>
    <div id="typeahead_account">
        <input class="typeahead form-control input-sm form-control" type="text" placeholder="Nhập ID hoặc Email">
        <input class="bind-typeahead" type="hidden" {{ block('widget_attributes') }} {% if value is defined %}value="{{ value }}"{% endif %} />
    </div>
    
    <script type="text/javascript">
    /* <![CDATA[ */
        var url_account_json_typeahead = '{{url('account_json_typeahead_nostring')}}';
        var url_json_get_account = '{{url('account_json_get_account_noid')}}';
    /* ]]> */
    </script>
{% endspaceless %}
{% endblock %}

{% block jobpicker_widget %}
{% spaceless %}
    <script src="{{ asset('components/typeahead.js/typeahead.bundle.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('components/typeahead.js/handlebars-v4.0.5.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/admin/filter_widget/job_picker.js') }}" type="text/javascript"></script>
    <style>
        .twitter-typeahead {
            width: 100%;
        }
        #typeahead_job .empty-message {
            padding: 5px 10px;
            text-align: center;
        }
        .tt-query {
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
               -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }

        .tt-hint {
            color: #aaa;
        }

        .tt-menu {
            margin: 12px 0;
            padding: 8px 0;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            -webkit-border-radius: 8px;
               -moz-border-radius: 8px;
                    border-radius: 8px;
            -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
               -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
                    box-shadow: 0 5px 10px rgba(0,0,0,.2);
        }

        .tt-suggestion {
            padding: 3px 20px;
            white-space: nowrap;
        }

        .tt-suggestion:hover {
            cursor: pointer;
            color: #fff;
            background-color: #0097cf;
        }

        .tt-suggestion.tt-cursor {
            color: #fff;
            background-color: #0097cf;

        }

        .tt-suggestion p {
            margin: 0;
        }
    </style>
    <div id="typeahead_job">
        <input class="typeahead form-control input-sm form-control" type="text" placeholder="Nhập ID hoặc Tiêu đề Job">
        <input class="bind-typeahead" type="hidden" {{ block('widget_attributes') }} {% if value is defined %}value="{{ value }}"{% endif %} />
    </div>
    
    <script type="text/javascript">
    /* <![CDATA[ */
        var url_job_json_typeahead = '{{url('job_json_typeahead_nostring')}}';
        var url_json_get_job = '{{url('job_json_get_job_noid')}}';
    /* ]]> */
    </script>
{% endspaceless %}
{% endblock %}