{% trans_default_domain 'vlance' %}
{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
[vLance.vn] Xác nhận hoàn lại {{transaction.credit}} Credit
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{ transaction.payer.fullName }}</i>,<br/>
    <br/>
    vLance xin xác nhận hoàn lại Credit cho bạn:<br/>
    <ul>
        <li>Số lượng Credit: <b>{{transaction.credit}}</b></li>
        <li>Ngày thực hiện: <b>{{transaction.createdAt | date('H:s:i d/m/Y')}}</b></li>
    </ul>
    <br/>
    Số dư Credit hiện tại của bạn là: <b>{{transaction.creditAccount.balance}}</b><br/>
    Bạn có thể theo dõi số dư Credit của mình tại đây: <a href="http://www.vlance.vn/credit/balance">http://www.vlance.vn/credit/balance</a><br/>
    <br/>
    Chúc bạn có nhiều dự án thành công tại vLance.vn<br/>
    Thân mến,
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=pay-buy-credit-admin-topup&cs=transaction&cm=email&cn=buy-credit"/>
{% endblock %}

                    
