<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
<title>vLance.vn - Việc làm freelance dành cho Freelancer</title>
<link>http://www.vlance.vn</link>
<atom:link href="http://www.vlance.vn/rss.xml" rel="self" type="application/rss+xml" />
<description>Các việc làm freelance mới nhất đang cần tìm freelancers.</description>
<language>vi-vn</language>
<pubDate>{{date}}</pubDate>
<lastBuildDate>{{date}}</lastBuildDate>
<docs>http://feedvalidator.org/docs/rss2.html</docs>
<generator>vLance.vn Generator 1.0</generator>
<managingEditor>xinchao@vlance.vn (vLance.vn)</managingEditor>
<webMaster>xinchao@vlance.vn (vLance.vn)</webMaster>
<copyright>Copyright 2013 - 2016, vLance.vn</copyright>
<image>
<url>http://www.vlance.vn/newsletter/img/share_vlance_home.jpg</url>
<title>vLance.vn - Việc làm freelance dành cho Freelancer</title>
<link>http://www.vlance.vn</link>
</image>
{% for job in jobs %}
<item>
<title>{{job.title}}</title>
<link>{%if job.loc|replace({hostname:''}) == job.loc%}http://{{hostname}}{{job.loc}}{%else%}{{job.loc}}{%endif%}</link>
<description><![CDATA[{{job.description}}]]></description>
<pubDate>{{job.createdAt}}</pubDate>
<guid isPermaLink="false">Viec_freelance_{{job.id}}</guid>
</item>
{% endfor %}
</channel>
</rss>
