html, body {overflow-x: initial;}

/* Hide some feature on admin_job account */
body.vlance_admin_user_job {display:none;}
body.vlance_admin_user_job #main_navigation > li:not(:nth-child(3)){display:none;}
body.vlance_admin_user_job #main_navigation > li:nth-child(3) li:not(:first-child) {display:none;}
body.vlance_admin_user_job[class^="Vlance_JobBundle"] {display:initial;}

fieldset {border-radius: 4px;padding: 0px 20px 12px;margin-top: 20px;border: none;}
fieldset legend {color: #aaa;line-height: initial;}
label {margin-top: 8px;margin-bottom: initial;}

fieldset legend span {text-transform: uppercase; color: #5099C3;}
.form_field.field_datetime .controls > div > div {float: left; margin-right: 15px;}
.form_field.field_datetime .controls select {width: 70px; display: inline-block; padding: 6px 4px; margin-right: 2px;}

textarea.form-control {min-height: 150px;}
.pagination ul li a{font-size: 12px;}
.pagination ul li span{font-size: 12px;}
td.td_amount,
td.td_balance,
td.td_processingBalance {text-align: right;}

.btn-verify {background-image: linear-gradient(to bottom,#52ff00 0,#52ff00 100%); color: white;}
.btn-verify:hover {background-image: linear-gradient(to bottom,#45a518 0,#45a518 100%); color: white;}
.btn-decline {background-image: linear-gradient(to bottom,#ff0700 0,#ff0700 100%); color: white;};
.btn-decline:hover {background-image: linear-gradient(to bottom,#bd2d29 0,#bd2d29 100%); color: white;};

/* Account */
.Vlance_BaseBundle_AdminMassEmail_list > .container-fluid > .row > .col-md-9,
.Vlance_JobBundle_AdminJob_list > .container-fluid > .row > .col-md-9,
.Vlance_PaymentBundle_AdminCreditBuyTransaction_list > .container-fluid > .row > .col-md-9,
.Vlance_PaymentBundle_AdminCreditExpenseTransaction_list > .container-fluid > .row > .col-md-9 {width: 100%}

/* Transaction */
#edit_transaction_sendEmail{
     margin-top: 0;
    width: auto;
}
#edit_job_sendEmail{
    margin-top: 0;
    width: auto;
}
.td_text.td_description {
    max-width: 400px;
    overflow-x: hidden;
}

.hide {
    display: none;
}

.filters-list legend {cursor: pointer;}

a[data-original-title=Delete] {display: none;}
#table-list-Portfolio a[data-original-title=Delete] {display: initial;}

.field_checkbox label {min-width: 65px;}
.field_checkbox .controls {float: left;margin-top: 10px;}
.field_checkbox input[type=checkbox] {width: 16px;height: 16px;margin: 0 7px 0 0;}

/* Verify id */
.modal.popup{border:0;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;-webkit-box-shadow:0 3px 30px rgba(0,0,0,0.35);-moz-box-shadow:0 3px 30px rgba(0,0,0,0.35);box-shadow:0 3px 30px rgba(0,0,0,0.35); background-color: white; max-height: 600px; overflow-y: hidden;}
.modal-body{min-height: 100px; max-height:400px; text-align: center;}
.modal-body .reason-status{min-height: 140px;}
.modal-body textarea{width: 550px; min-height: 130px; margin-top: 10px; resize: none;}
.modal.fade.in {top: 10%; left: 30%; right: 30%;}
.modal-footer {margin-top: 60px;}
#popup-verify-ad.modal{max-height: 250px;}
#popup-verify-ad .modal-footer{margin-top: 0px;}
#popup-verify-ad .message-working{margin-top: 10px;}
#popup-noti.modal{border:0;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;-webkit-box-shadow:0 3px 30px rgba(0,0,0,0.35);-moz-box-shadow:0 3px 30px rgba(0,0,0,0.35);box-shadow:0 3px 30px rgba(0,0,0,0.35); background-color: white; max-height: 250px;}
#popup-noti .modal-body{min-height: 100px; max-height:250px; text-align: center; padding: 20px 20px 80px 20px;}
#popup-noti .modal-body input{width: 300px; margin-top: 10px;}
#popup-noti .modal-footer{margin-top: 0px;}

.row.object-actions-PersonId {position: fixed; right: 50px; z-index: 99999; bottom: 60px;}
/* End verify id */