// trang Partner accesstrade
.partner-accesstrade .container {margin:auto;}
.partner-accesstrade .jumbotron-accesstrade-section {background: url(/img/partner-accesstrade/bg_jumbotron.jpg) no-repeat; background-size:cover;text-align: center;}
.partner-accesstrade .profit-partner-section {background-color:#439fe0;color:#ffffff;}
.partner-accesstrade .separator {border:8px solid #e6e6e6;}

.jumbotron-accesstrade-section .container {width:620px;margin:auto;}
.jumbotron-accesstrade-section h1 {margin-top:96px;font-size:50px;color:#ffffff;font-family:'Open Sans',sans-serif;font-weight:300;}
.jumbotron-accesstrade-section span {font-weight:600;}
.jumbotron-accesstrade-section p {margin-top:24px;font-size:16px;color:#ffffff;}
.jumbotron-accesstrade-section .btn-accesstrade-register {background: #439fe0;margin-top:32px;padding: 18px 77px;font-size: 20px;color:#ffffff;border:0px;text-shadow: none;-webkit-box-shadow:none;box-shadow: none;}
.jumbotron-accesstrade-section .btn-accesstrade-register:hover {background: #56a9e3;}
.jumbotron-accesstrade-section .partner-logo {display:inline-block;margin-bottom:40px;}
.jumbotron-accesstrade-section .partner-logo p {margin-top:48px;font-size:12px;text-transform: uppercase;}
.jumbotron-accesstrade-section .partner-logo img {height:42px;width:183px;}

.guide-accesstrade-section .container {width:960px;margin:auto;text-align: center;height:512px;}
.guide-accesstrade-section h3 {margin:80px 0 42px;font-size:30px;font-weight:300;}
.guide-accesstrade-section ul {margin-left:0px;}
.guide-accesstrade-section .guide-step {background: url(../img/partner-accesstrade/guide-step-accesstrade.png) no-repeat;width:160px;height:160px;}
.guide-accesstrade-section .guide-step.step1-partner {background-position:0 0;}
.guide-accesstrade-section .guide-step.step2-partner {background-position: 0 -200px;margin-left:20px;}
.guide-accesstrade-section .guide-step.step3-partner {background-position: 0 -400px;margin-left:40px;}
.guide-accesstrade-section .guide-step.step4-partner {background-position: 0 -600px;margin-left:64px;}
.guide-accesstrade-section h4 {position:relative;top:175px}
.guide-accesstrade-section p {position:relative;top:175px}

.profit-partner-section .container {width:960px;padding-top:88px;padding-bottom:72px;}
.profit-partner-section h3 {margin-top:0px;margin-bottom:48px;font-size:30px;color:#ffffff;font-weight:300;}
.profit-partner-section ul {margin-left:0px;margin-bottom:0px;}
.profit-partner-section li {display: inline-block;}
.profit-partner-section .profit-text {margin-left:0px;}
.profit-partner-section .profit-text p {margin-bottom:24px;}
.profit-partner-section .fa-check {margin-left:0px;margin-right:7px;}
.profit-partner-section .profit-register {padding-left:65px;}
.profit-partner-section .btn-accesstrade-register {background: #1e78b9;margin-top:8px;margin-bottom:16px;padding: 18px 77px;font-size: 20px;color:#ffffff;border:0px;text-shadow: none;-webkit-box-shadow:none;box-shadow: none;}
.profit-partner-section .btn-accesstrade-register:hover {background:#3586c0;}

.carousel-caption-section .container {margin-top:120px;}
.carousel-caption-section .line-partner {background: url(../img/partner-accesstrade/line.png) no-repeat;height:3px;margin-bottom:32px;}
.carousel-caption-section p {color:#666666;}


@media (max-width: 976px) {
    .guide-accesstrade-section .container {width:750px;}
    .guide-accesstrade-section .guide-step.step2-partner {margin-left:5px;}
    .guide-accesstrade-section .guide-step.step3-partner {margin-left:10px;}
    .guide-accesstrade-section .guide-step.step4-partner {margin-left:16px;}
    .profit-partner-section .container {width:750px;}
    .profit-partner-section .profit-register {padding-left:0px;}
    .carousel-caption-section .container {width:750px;}
}

@media (max-width: 768px) {
    .guide-accesstrade-section .container {width:620px;height:700px;}
    .guide-accesstrade-section .guide-accesstrade.span3 {width:45%;margin-left:0px;height:250px;}
    .guide-accesstrade-section .guide-step, .guide-accesstrade-section .guide-step.step2-partner, .guide-accesstrade-section .guide-step.step3-partner, .guide-accesstrade-section .guide-step.step4-partner {margin:auto;}
    .guide-accesstrade-section .guide-step.step4-partner {float:none;}
    .profit-partner-section .container {width:620px;}
    .profit-partner-section .btn-accesstrade-register {padding:12px 46px;}
    .carousel-caption-section .container {width:620px;}
}

@media (max-width: 639px) {
    .jumbotron-accesstrade-section .container {width:320px;}
    .jumbotron-accesstrade-section h1 {font-size:35px;}
    .jumbotron-accesstrade-section p {line-height:28px;}
    .guide-accesstrade-section .container {width:320px;height:620px;}
    .guide-accesstrade-section h3 {margin:40px 0 15px;}
    .guide-accesstrade-section .guide-accesstrade.span3 {width:46%;margin-left:0px;height:205px;}
    .guide-accesstrade-section .guide-step {width:140px;background-size: 100%;}
    .guide-accesstrade-section .guide-step.step1-partner h4,.guide-accesstrade-section .guide-step.step1-partner p,.guide-accesstrade-section .guide-step.step2-partner h4,.guide-accesstrade-section .guide-step.step2-partner p {top: 154px;}
    .guide-accesstrade-section .guide-step.step2-partner {background-position-y: -172px;margin-left:32px;}
    .guide-accesstrade-section .guide-step.step3-partner {background-position-y: -316px;margin-left:0px;height:175px;}
    .guide-accesstrade-section .guide-step.step4-partner {background-position-y:-492px;margin-left: 32px;height:175px;}
    .guide-accesstrade-section .guide-step.step3-partner h4, .guide-accesstrade-section .guide-step.step3-partner p, .guide-accesstrade-section .guide-step.step4-partner h4, .guide-accesstrade-section .guide-step.step4-partner p {top:185px;}
    .profit-partner-section .container {width:320px;}
    .profit-partner-section .profit-text {width:100%;}
    .profit-partner-section .profit-register {width:100%;margin-left:0px;text-align: center;}
    .carousel-caption-section .container {width:320px;margin-top:50px;}
}