.ei-slider{
	position: relative;
	width: 100%;
	/*max-width: 1920px;*/
	height: 443px;
	margin: 0 auto;
}
.ei-slider .container{
    height: 443px;
    position: relative;
    top: 0;
}
.ei-slider img{margin-top: -614px !important;}
.ei-slider .ei-title img{margin-top: 8px !important;margin-left: 20px;}
.ei-slider .ei-title .center img{margin-top: 5px !important;width: 84px !important;height: 37px !important;}
.ei-slider .in-container{height: 100%;margin-top: 50px;}
.ei-slider-loading{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:999;
	background: rgba(0,0,0,0.9);
	color: #fff;
	text-align: center;
	line-height: 400px;
}
.ei-slider-large{
	height: 100%;
	width: 100%;
	position:relative;
	overflow: hidden;
    margin: 0px;
}
.ei-slider-large li{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.ei-slider-large li img{
	width: 100%;
}
.ei-title{
    width: 600px;
	right: 0;
	margin-right: 0;
	top: 10%;
}
.ei-title .left_text, .ei-title .right_img{
	width: 275px;float: left;
}
.ei-title .center_img{
    float: left;width: 84px;
}
.ei-title .left{
	text-align: left;width: 275px;
}
.ei-title .left label{
    cursor: initial;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Roboto Slab';
}
.ei-title .left p{line-height: 30px;font-weight: 300;font-size: 16px;}
.ei-title .left a{color: #ffffff;text-decoration: underline;font-family: 'Roboto Slab';}
.ei-title .right{
	text-align: left;width: 140px;
}
.ei-title .right img{margin-top: -15px !important;margin-left: 45px;}
.ei-title .right.right_one{
	text-align: left;width: 275px;height: 318px;
}
.ei-title .right.right_one img {
    margin-top: 8px !important;
    margin-left: 20px;
}
.ei-title .center{
    text-align: left;width: 84px;
}
.ei-title .left_text{
	font-size: 18px;
	color: #ffffff;
    opacity: 1 !important;
}
.ei-title .center_img{
    opacity: 1 !important;
}
.ei-title .right_img{
    opacity: 1 !important;
}
.ei-slider-thumbs{
	height: 13px;
	margin: 0 auto;
	position: relative;
}
.ei-slider-thumbs li{
	position: relative;
	float: left;
	height: 100%;list-style: none;
}
.ei-slider-thumbs li.ei-slider-element{
	top: 0px;
	left: 0px;
	position: absolute;
	height: 3px;
	z-index: 10;
	text-indent: -9000px;
	background: #000;
	background: rgba(255, 214, 0, 0.9);
}
.ei-slider-thumbs li a{
	display: block;
	text-indent: -9000px;
	background: #fff;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.ei-slider-thumbs li a:hover{
	background-color: #f0f0f0;
}
.ei-slider-thumbs li img{
	position: absolute;
	bottom: 50px;
	opacity: 0;
	z-index: 999;
	max-width: 100%;
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
	-webkit-box-reflect: 
        below 0px -webkit-gradient(
            linear, 
            left top, 
            left bottom, 
            from(transparent), 
            color-stop(50%, transparent), 
            to(rgba(255,255,255,0.3))
            );
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ei-slider-thumbs li:hover img{
	opacity: 1;
	bottom: 13px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
/*@media screen and (max-width: 830px) {
	.ei-title{
		position: absolute;
		right: 0px;
		margin-right: 0px;
		width: 100%;
		text-align: center;
		top: auto;
		bottom: 10px;
		background: #fff;
		background: rgba(255,255,255,0.9);
		padding: 5px 0;
	}
	.ei-title .left_text, .ei-title .right_img, .ei-title .center_img{
		text-align: center;
	}
	.ei-title .left_text{
		font-size: 20px;
		line-height: 24px;
	}
	.ei-title .right_img{
		font-size: 30px;
		line-height: 40px;
	}
}*/