/*
ok
        Bootstrap customizing config
        URL: http://twitter.github.io/bootstrap/customize.html

        Typography
        @sansFontFamily 'Open Sans', sans-serif
        @serifFontFamily 'Roboto Slab', serif
        @headingsFontFamily 'Roboto Slab', serif

*/

/* Font weight:
        100 (thin),
        300 (book/light),
        400 (regular),
        600 (semi-bold)
        700 (bold)
        800 (extra-bold)
*/

/*** homepage-thuengay ***/
.homepage-thuengay .home-banner {background:url(../img/thue-ngay/banner-top-thuengay.jpg) no-repeat;background-size: cover;height:480px;text-align: center;}
.homepage-thuengay .home-banner h1 {width:420px;margin:auto;margin-top:0px;padding-top:146px;padding-bottom:30px;font-size:50px;font-family: 'Open Sans',sans-serif;font-weight:300;line-height: 64px;letter-spacing: -0.06em;}
.homepage-thuengay .step-section.bl-gray {background:#f5f5f5;}
.homepage-thuengay .step-section .container {width:1020px;margin:auto;}
.homepage-thuengay .step-section .content-image {padding:88px 0px;}
.homepage-thuengay .step-section.bl-gray .content-image {text-align: center;}
.homepage-thuengay .step-section .content-text {width:480px;padding-top:136px;}
.step-section .content-text b {margin-bottom:8px;font-size:16px;font-weight:400;color:#666;text-transform: uppercase;}
.step-section .content-text h3 {margin-top:8px;margin-bottom:20px;font-size:40px;font-weight:300;color:#000;}
.step-section .content-text p {font-size:16px;color:#666666;line-height:28px;}
.homepage-thuengay .commitment-section {background:#0b8fc9;}
.homepage-thuengay .commitment-section .container {width:1200px;padding-top:75px;padding-bottom:96px;}
.homepage-thuengay .commitment-section .title {margin-top:0px;margin-bottom:55px;font-size:40px;line-height: 64px;letter-spacing: -0.05em;}
.homepage-thuengay .commitment-section .commit-step {text-align: center;letter-spacing: -0.03em;}
.commitment-section .container h3 {font-size:40px;line-height:64px;letter-spacing: -0.05em;color:#fff;text-align: center;}
.commitment-section .commit-step h4 {margin-top:20px;font-size:20px;font-weight:600;color:#fff;text-align: center;}
.commitment-section .commit-step p {width:260px;margin:auto;font-size:16px;color:#fff;line-height: 24px;letter-spacing: -0.03em;}
.homepage-thuengay .category-section {background: #f5f5f5;}
.homepage-thuengay .category-section .container {width:1200px;}
.category-section .category-header {height:80px;text-align: center;border-bottom:1px solid #e6e6e6;}
.category-section .category-header ul {margin-left:0px;padding-top:32px;display:inline-block;list-style: none;}
.category-section .category-header li {float:left;width:115px;font-size:16px;color:#666666;}
.category-section .category-header li.active {color:#000000;}
.category-section .category-body {padding-top:40px;padding-bottom:96px;}
.category-section .category-body .row-fluid {margin-bottom:24px;}
.category-section .category-body .category-package.span4 {width: 29.914894%;background: #ffffff;padding-bottom:16px;box-shadow: 0px 1px 1px 1px #ececec;-webkit-box-shadow:0px 1px 1px 1px #ececec;}
.category-section .category-body .category-package.span4:first-child {margin-left:30px;}
.category-section .category-body .category-package {margin-right:30px;margin-left:0px;}
.category-section .category-body .view-more {margin-top:34px;text-align: center;}
.category-package .package-image {background:url(/img/thue-ngay/sprites-thuengay.jpg) no-repeat;width:auto;height:255px;position:relative;}
.category-package .package-image.package-1 {background-position: 0 0;}
.category-package .package-image.package-2 {background-position: 0 -256px;}
.category-package .package-image.package-3 {background-position: 0 -512px;}
.category-package .package-image.package-4 {background-position: 0 -768px;}
.category-package .package-image.package-5 {background-position: 0 -1026px;}
.category-package .package-image.package-6 {background-position: 0 -1282px;}
.category-package .item-overlay-upper {background: #333333;position: absolute;bottom: 200%;top: 0;left: 0;right: 0;width: 358px;height: 255px;opacity:0;}
.category-package .package-image:hover .item-overlay-upper {opacity: 0.9;}
.category-package .item-overlay-inner {opacity: 0;position: absolute;top:16px;left:16px;}
.category-package .package-image:hover .item-overlay-inner {opacity: 1;}
.category-package .package-content {padding:0px 16px;}
.category-package .package-content h4 {margin-top:0px;margin-bottom:7px;padding-top:16px;}
.category-package .package-content h4 a {font-size:18px;font-weight:400;color:#000;}
.category-package .package-content .ellipsis {max-width:360px;margin-bottom:5px;color:#999999;line-height:20px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.category-package .package-bottom {margin-top:20px;}
.category-package .package-bottom .row-fluid {margin-bottom: 0px;}
.category-package .package-bottom .buget {padding-top:10px;font-size:36px;color:#1fa4ec;letter-spacing: -0.05em;}
.category-package .package-bottom span {padding-left:3px;font-size:14px;letter-spacing: initial;}
.category-package .package-bottom .button {width:42.425532%;margin-left:0px;text-align: right;}
.category-package .package-bottom .btn-vl-small {padding: 7px 9px;}
.package-bottom .button .fa-shopping-cart {margin-right:3px;margin-left:0px;}
.category-section .rating-block .rating-box {float:left;}
.category-section .rating-block span {margin-left:10px;}
.homepage-thuengay .reviews-section .review-client-title {margin-top:0px;padding-top:68px;}
.homepage-thuengay .review-client-title b {font-weight:600;}

/* footer*/
.footer-links-section.grey-tn {background:#e6e6e6;padding-top:50px;}
.footer-links-section.grey-tn .container {width:1200px;}
.footer-links-section.grey-tn .category-block {width: 18.404255%;}
.footer-links-section.grey-tn .right-footer-block {width: 79.468085%;}
.footer-links-section.grey-tn h4 ,.footer-links-section.grey-tn h4 a {font-weight:600;color:#666666;}
.footer-links-section.grey-tn li a {color:#666666;}
.bottom-logo-tn {background:#e6e6e6;color:#666666;}
.bottom-logo-tn .container {width:1200px;padding: 32px 0 10px;border-top:1px solid #cccccc;}
.bottom-logo-tn .row-fluid {margin-bottom:40px;}
.bottom-logo-tn .thuengay-logo {float:left;margin-right:30px;}
.bottom-logo-tn .thuengay-logo a {width: 112px;height: 50px;background: url('../img/thue-ngay/logo-thuengay-black.png') no-repeat;display: inline-block;}
.bottom-logo-tn .copyright p {margin-bottom:0px;font-size:13px;line-height:24px;}
.bottom-logo-tn .footer-rule ul {margin-left: 0px;}
.bottom-logo-tn .footer-rule ul li {display: inline-block;}
.bottom-logo-tn .footer-rule a {font-size: 12px;color: #666666;}
.bottom-logo-tn .footer-language {padding-right: 38px;text-align: right;}
.bottom-logo-tn .footer-language a {color: #666666;margin-right: 15px;}
.bottom-logo-tn .footer-payment {float: right;padding-right: 10px;}
.footer-payment  .nlh-partner li a {font-size: 28px;color: #666666;float: left;}
.nlh-partner ul li {list-style: none;}
.nlh-partner li a:hover {color:#cccccc;}
.bottom-logo-tn .address {margin-bottom:0px;font-size:12px;line-height:20px;}
a.vietcombank {background: url(../img/thue-ngay/vietcombank-normal.png) no-repeat;}
a.vietcombank:hover {background: url(../img/thue-ngay/vietcombank-hover.png) no-repeat;}
/*** end homepage-thuengay ***/

/* Page server list */
.header-sites-tn {background:#f2f2f2;}
.header-sites-tn .container {width:1200px;height:56px;}
.header-sites-tn a {position: relative;}
.header-sites-tn a.active {opacity: 1;}
.header-sites-tn a.active:after {border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 6px solid #ffffff;border-top: none;height: 0;width: 0;bottom: -1px;content: "";left: 30%;margin-left: -5px;position: absolute;}
.header-sites-tn .head-site-container a {background:url(/img/thue-ngay/sprites-header-tn.png) no-repeat;display:block;float:left;height:55px;opacity: 0.6;}
.header-sites-tn .head-site-container a.active {opacity: 1;}
.header-sites-tn a.header-sites-copywriter {background-position: 0 19px;width:190px;}
.header-sites-tn a.header-sites-translate {background-position: 0px -31px;width:200px;}
.header-sites-tn a.header-sites-design {background-position: 0px -81px;width:190px;}
.header-sites-tn a.header-sites-web-mobile {background-position: 0px -130px;width:220px;}
.header-sites-tn a.header-sites-accountant-law {background-position: 0px -182px;width:220px;}
.header-sites-tn a.header-sites-marketing {background-position: 0px -232px;width:170px;}
.header-categories-tn {height:54px;border-bottom: 1px solid #e6e6e6;}
.header-categories-tn .container {width:1200px;}
.header-categories-tn .header-categories-links {display:inline-block;margin-left:0px;margin-bottom:0px;padding-top:7px;box-sizing: border-box;}
.header-categories-tn li {float:left;list-style: none;}
.header-categories-tn .header-categories-main-link {display: block;padding:10px 32px 10px 0px;color:#000000;}
.header-categories-tn .header-categories-main-link:hover {color:#999999;} 
.service_list .page-section-content.theme-copywriter {background:url(/img/thue-ngay/banner-viet-lach.jpg) no-repeat;background-size: cover;height:225px;}
.service_list .page-section-content.theme-translate {background:url(/img/thue-ngay/banner-dich-thuat.jpg) no-repeat;background-size: cover;height:225px;}
.service_list .page-section-content .container {width:540px;padding:70px 0 56px;text-align: center;}
.service_list .page-section-content h1 {margin:0px;padding-bottom:16px;font-family:'Open Sans', sans-serif;font-size:30px;color:#fff;line-height:24px;letter-spacing: -0.03em;}
.service_list .page-section-content p {font-size:16px;color:#fff;line-height: 24px;letter-spacing: -0.02em;}
.service_list .block-content .container {width:1200px;padding-top:32px;}
.block-content .wrap-list-item .item-service {width:251px;margin-left:0px;padding:32px 15px;height:347px;}
.block-content .wrap-list-item .item-service:hover {box-shadow: 0px 1px 3px 1px #e6e6e6;}
.block-content .left-sidebar {width:13.893617%;}
.block-content .right-container {width:83.978723%;}
.block-content .item-content .post-title {min-height:40px;margin-bottom:4px;font-size:14px;font-weight:400;color:#000;line-height: 20px;letter-spacing: -0.02em;}
.item-content .post-title a {color:#000;}
.item-content .post-title a:hover {color:#1496dd;}
.block-content .item-price .amount-1 {font-size:20px;color:#1496dc;letter-spacing: -0.05em}
.block-content .item-price .amount-1 i {font-size:13px;font-style:normal;}
.block-content .item-price .amount-2 {font-size:13px;color:#999999;letter-spacing: -0.03em;position: relative;}
.block-content .item-price .amount-2 i {font-style:normal;}
.block-content .item-price .amount-2:after {border-bottom: 1px solid #666;content: "";left: 0;position: absolute;right: 0;top: 50%;}
.block-content .item-price .sale-off {padding-left:4px;padding-right:4px;background: #1496dc;font-size:13px;font-weight:400;color:#fff;}
.item-content .item-rating {display: inline-block;margin-top:8px;}
.item-content .item-rating .rating-box {float:left;margin-top:0px;}
.item-content .item-rating .count-user-rate {float:left;padding-left:5px;font-size:13px;color:#999999;}
.left-sidebar .vertical.accordin .item {margin-bottom:40px;}
.left-sidebar .item .title {padding-bottom:16px;font-size:16px;font-weight:600;color:#000000;border-bottom:1px solid #f0f0f0;}
.left-sidebar .item .content-item {padding-top:22px;}
.left-sidebar .content-item a {color:#999999;line-height: 24px;}
.left-sidebar .content-item a:hover {font-weight:600;color:#000000;}
.left-sidebar .content-item a:acitve {font-weight:600;color:#000000;}
.left-sidebar .content-item a.rating-content {display: inline-block;}
.left-sidebar a.rating-content .rating-box {opacity:0.6;}
.left-sidebar a.rating-content:hover .rating-box {opacity: 1;}
.left-sidebar .rating-content .rating-box {float:left;margin-top:2px;margin-right:5px;}
.right-container .catalog-status .catalog-status-title {padding-bottom:32px;font-size:16px;color:#999999;}
.right-container .catalog-status-filters {text-align: right;}
.right-container .catalog-status-filters .dropdown-toggle {font-size:16px;color:#000000;border:1px solid #d9d9d9;padding:5px 18px;border-radius: 3px;}
.catalog-status-filters .dropdown-menu {margin-top:10px;min-width: 180px;left:52px;border-radius:3px;}
.catalog-status-filters .dropdown-menu > li > a {color:#000000;text-align: left;}
.catalog-status-filters .dropdown-menu > li > a:hover {background-color:#1496dc;color:#ffffff;}

/* page show service */
.show-service-content .container {width:1200px;padding-top:56px;padding-bottom: 40px;}
.block-content-left .head-content-left {margin-bottom: 72px;}
.block-content-left .detail-service {margin-left:0px;padding-left:50px;}
.block-content-left .detail-service .title {margin:0px;padding-bottom: 8px;line-height: 24px;}
.block-content-left .detail-service .item-price {padding-top:24px;padding-bottom:24px;}
.block-content-left .info-pack-service {margin-left:0px;padding-left:50px;}
.block-content-left .info-pack-service .title {margin:0px;padding-bottom: 16px;font-size:26px;line-height: 26px;}
.block-content-left .info-pack-service h4 {margin-top:16px;margin-bottom:8px;font-size:16px;font-weight:600;color:#333333;}
.block-content-left .info-pack-service ul {margin-left:20px;color:#999999;}
.block-content-left .info-pack-service li {color:#000000;line-height: 24px;}
.detail-service .item-price .amount-1 {color:#999999;line-height: 26px;}
.detail-service .amount-1 b {font-size:24px;font-weight:400;color:#1496dc;line-height:26px;}
.detail-service .amount-1 i {padding-left:2px;font-size:13px;font-style: normal;}
.detail-service .item-price .amount-2 {position: relative;padding-left:3px;color:#999999;line-height: 26px;}
.detail-service .item-price .amount-2:after {border-bottom: 1px solid #999;content: "";left: 2px;;position: absolute;right: 0;top: 50%;}
.detail-service .item-price .sale-off {color:#999999;line-height: 26px;}
.detail-service .sale-off b {font-weight: 400;color:#000;}
.block-content-left .detail-service .time-approval {font-size:16px;color:#000000;}
.block-content-left .note-product {padding-left:40px;padding-right:40px;} 
.block-content-left .note-product .title {margin:0px;padding-bottom:16px;font-size: 20px;font-weight:600;line-height: 26px;color:#333333;}
.block-content-left .note-product .fa-check {padding-right:5px;color:#1496dc;}
.block-content-left .experience-service-fl {margin-top:32px;padding-top:38px;border-top:1px solid #e6e6e6;}
.block-content-left .experience-service-fl .title {margin:0px;padding-bottom:10px;font-size:20px;font-weight:600;color:#333333;line-height:20px;}
.block-content-left .experience-service-fl p {margin-bottom:16px;color:#000000;line-height: 24px;letter-spacing: -0.03em;}
.detail-service .review-star {padding-bottom:20px;border-bottom:1px solid #e6e6e6;}
.detail-service .review-star .rating-box {float:left;margin-top:0px;margin-right:5px;}
.detail-service .count-user-rate {color:#999999;letter-spacing: -0.02em;}
.show-service-content .note-product {background: #edf8ff;padding-top:32px;padding-bottom:40px;}
.show-service-content .achievements-fl {background:#fff9f3;width:570px;padding:32px 40px;}
.show-service-content .achievements-fl .achi-featured.fea-1, .show-service-content .achievements-fl .achi-featured.fea-2 {padding-bottom:16px;}
.achievements-fl .achi-featured p {display: inline;padding-left:10px;font-weight:600;}
.show-service-content .block-reviews {padding-top:40px;padding-bottom:40px;}
.block-reviews .title {margin-top:0px;margin-bottom:0px;padding-bottom:24px;font-size:20px;font-weight:600;color:#333333;}
.block-reviews .reviews-cl {margin-bottom:32px;}
.block-reviews .reviews-cl .avata {width:75px;margin-right:20px;}
.block-reviews .content-cl .name-client {margin-right:7px;font-size:14px;font-weight:600;color:#000000;float:left;}
.block-reviews .content-cl .rating-box {margin-top:0px;}
.block-reviews .content-cl .time-post {text-align: right;color:#999;}
.show-service-content .blog-introduce-more {border-top: 1px solid #e6e6e6;}
.blog-introduce-more .title {margin:0px;padding-top:40px;font-size:20px;font-weight:600;line-height: 20px;color:#333333;}
.slide-view-item .slide-item {width:230px;}
.slide-view-item .item-content .post-title {font-size:14px;font-weight:400;color:#000000;}
.slide-view-item .slick-next:before {content: initial;}
.slide-view-item .slick-prev:before {content: initial;}
.slide-view-item .slick-next.slick-arrow {background:url(/img/thue-ngay/chevron-slide.png) no-repeat;background-position: 0px 0px;}
.slide-view-item .slick-next.slick-arrow:hover {background-position: -30px 0px;}
.slide-view-item .slick-prev.slick-arrow {background:url(/img/thue-ngay/chevron-slide.png) no-repeat;background-position: 0px -30px;}
.slide-view-item .slick-prev.slick-arrow:hover {background-position: -30px -30px;}
.block-introduce-more .title {font-size:20px;font-weight:600;}
.item-content .item-price .amount-1 a {font-size:20px;color:#1496dc;letter-spacing: -0.05em;}
.item-content .item-price .amount-1 i {padding-left:2px;font-size:13px;font-style: normal;color:#1496dc;}
.item-content .item-price .amount-2 {position:relative;color:#999999;}
.item-content .item-price .amount-2:after {border-bottom: 1px solid #999999;content: "";left: 0;position: absolute;right: 0;top: 50%;}
.item-content .item-price .sale-off {padding:3px 5px;background:#1496dc;color:#fff;}
.slide-item .item-rating .rating-box {background-size: 21%;width:70px;margin-top: 2px;}
.show-service-content .block-content-left {width:70.468085%;}
.show-service-content .block-add-to-cart {width:27.404255319148934%;padding:20px;box-shadow: 0px 1px 4px 1px #e6e6e6;-webkit-box-shadow: 0px 1px 4px 1px #e6e6e6;}
.show-service-content .block-add-to-cart .checkout {padding-bottom:14px;border-bottom: 1px solid #e6e6e6;}
.show-service-content .block-add-to-cart .span3 {text-align: right;}
.block-add-to-cart .service-pack {margin-bottom:32px;}
.block-add-to-cart .service-pack span {font-size:30px;line-height: 24px;color:#000000;letter-spacing: -0.03em;}
.block-add-to-cart .service-pack b {padding-left:20px;font-weight: 400;font-style: normal;}
.block-add-to-cart .service-pack .price {padding-top:5px;text-align: center;letter-spacing: -0.03em;}
.block-add-to-cart .quantity {margin-top:3px;text-align: right;}
.block-add-to-cart .quantity .dropdown {display: inline-block;width:100%;padding:0px 20px;font-size: 20px;color:#000000;line-height: 24px;}
.block-add-to-cart .dropdown-toggle .fa-angle-down {padding-left:30px;}
.block-add-to-cart .quantity .dropdown-menu {min-width:89px;margin-top:10px;left:-14px;}
.block-add-to-cart .dropdown-menu li {text-align: left;}
.block-add-to-cart .dropdown-menu > li > a:hover {background-color: #0081c2;color:#fff;}
.block-add-to-cart .service-total-paid {text-align: right;}
.block-add-to-cart .service-total-paid .total-money {padding-top:16px;font-size:24px;line-height: 24px;}
.block-add-to-cart .total-money i {font-size:13px;font-style: normal;}
.block-add-to-cart .service-total-paid p {margin-bottom: 16px;color:#999999;line-height: 24px;}
.block-add-to-cart .service-total-paid b {font-weight:400;}
.block-questions .container {padding-top:40px;border-top:1px solid #e6e6e6;}
.block-questions .title {padding-bottom:24px;font-size:20px;font-weight: 600;color:#333333;line-height: 20px;}
.block-questions .section-ask-questions {margin-bottom:24px;}
.section-ask-questions .vote-section {width:50px;list-style: none;text-align: center;}
.section-ask-questions .vote-answer a {background:url(/img/thue-ngay/arrow-slide.png) no-repeat;list-style: none;width:14px;height:15px;}
.section-ask-questions .vote-answer .vote-up {display: inline-block;background-position: 0px 0px;}
.section-ask-questions .vote-answer .vote-up:hover {background-position: -30px 0px;transition: none;-moz-transition: none;-webkit-transition: none;-o-transition: none;}
.section-ask-questions .vote-answer .vote-down {display: inline-block;background-position: 0px -18px;height:20px;}
.section-ask-questions .vote-answer .vote-down:hover {background-position: -30px -20px;transition: none;-moz-transition: none;-webkit-transition: none;-o-transition: none;}
.section-ask-questions .vote-answer .vote-number {padding:10px 0px;;}
.section-ask-questions .section-content-right p {margin-bottom:0px;font-size:14px;color:#000000;line-height:20px;}
.section-ask-questions .section-content-right .time-post {color:#999999;line-height: 20px;}
.section-send-question h4 {margin-top: 0px;font-size: 14px;font-weight:600;line-height: 20px;}
.block-questions .section-send-question {padding-left:30px;}
.block-questions .section-send-question form {margin-bottom:10px;}
.section-send-question #form_send_question {width:330px;min-height: 80px;}

/* trang thanh toan */
.page-payment-service {background: #ededed;}
.page-payment-service .container {width:820px;margin:auto;padding-top:48px;padding-bottom:120px;}
.page-payment-service .container .title {margin:0px;padding-bottom:48px;font-family: 'Open Sans', sans-serif;font-size:30px;font-weight:400;color:#000000;text-align: center;}
.page-payment-service .block-step1 {padding-bottom: 48px;}
.page-payment-service .block-step1 .title {padding-bottom:16px;font-size:20px;font-weight:400;text-align: left;}
.page-payment-service .section-step1-top {background: #f5f5f5;padding:20px 30px 6px;border:1px solid #e6e6e6;}
.page-payment-service .section-step1-top p {margin-bottom: 0px;line-height: 20px;}
.page-payment-service .section-step1-content .row-fluid {width:758px;background:#fff;padding:20px 30px 12px;border:1px solid #e6e6e6;border-top:0px;}
.page-payment-service .section-step1-content h3 {margin:0px;padding-bottom:8px;font-size:16px;font-weight:600;line-height:20px;}
.page-payment-service .section-step1-content p {color:#000;}
.section-promotion .code-promotion h3 {margin:0px;padding-top:32px;padding-bottom:10px;font-size:14px;font-weight:600;line-height: 20px;}
.section-promotion .code-promotion .controls {float:left;padding-right:10px;}
.section-promotion .payment-service {background:#fff;padding:30px;border:1px solid #e6e6e6;border-top:0px;}
.payment-service .total-money {text-align: right;}
.payment-service .vat-money {color:#999999;text-align: right;}
.payment-service .discount-money {color:#ff6600;text-align: right;}
.payment-service .pay-money {font-size:16px;font-weight:600;text-align: right;}

.page-payment-service .block-step2 .title {font-size:20px;padding-bottom: 16px;text-align: left;}
.block-step2 .payment-international {background: #fff;padding-left: 20px;border:1px solid #e6e6e6;}
.block-step2 .payment-international p,.block-step2 .payment-bank-vn p,.block-step2 .payment-paypal p {margin-bottom:0px;line-height:20px;}
.block-step2 .payment-international .img-interna {text-align: right;}
.block-step2 .payment-international label.radio {margin-bottom:0px;padding:16px 30px 16px 20px;}
.block-step2 .payment-bank-vn {background: #fff;padding-left: 20px;border:1px solid #e6e6e6;border-top:0px;}
.block-step2 .payment-bank-vn .img-bank {text-align: right;}
.block-step2 .payment-bank-vn label.radio {margin-bottom:0px;padding:16px 30px 16px 20px;}
.block-step2 .payment-paypal {background: #fff;padding-left:20px;border:1px solid #e6e6e6;border-top:0px;}
.block-step2 .payment-paypal label.radio {margin-bottom:0px;padding:16px 30px 16px 20px;}
.block-step2 .payment-paypal .img-paypal {text-align: right;}
.block-step2 .payment-transfer {background: #fff;padding-left:20px;border:1px solid #e6e6e6;border-top:0px;}
.block-step2 .payment-transfer .img-transfer {text-align: right;}
.block-step2 .payment-transfer label.radio {margin-bottom:0px;padding:16px 30px 16px 20px;}
.block-step2 .payment-transfer.checked {background: #f5f5f5;}
.block-step2 .payment-transfer.checked .code-orders {width:730px;margin-left:22px;padding-top:20px;padding-bottom:24px;text-align: center;background: #ffffff;}
.payment-transfer.checked .code-orders p {width:370px;margin:auto;padding-bottom: 16px;font-size:16px;line-height:24px;color:#000000;}
.payment-transfer.checked .code-orders b {font-size:30px;font-weight:700;text-transform: uppercase;color:#1996d7;}
.block-step2 .payment-transfer.checked .note-transfer {padding-top:10px;padding-bottom:40px;padding-left:22px;}
.payment-transfer.checked .note-transfer i {color:#999999;}
.payment-transfer.checked .note-transfer b {font-weight: 600;}
.block-step2 .payment-transfer.checked .info-transfer {padding-left:22px;}
.payment-transfer.checked .info-transfer .span2 {width:90px;color:#000000;text-align: right;}
.payment-transfer.checked .info-transfer .span9 {color:#000000;}
.payment-transfer .block-info-bank.closed{display: none;}
.page-payment-service .section-commit {padding:16px 20px 48px;}
.page-payment-service .section-commit h3 {margin:0px;padding-bottom:8px;font-size:16px;font-weight: 600;color:#666666;line-height:20px;}
.page-payment-service .section-commit p {margin-bottom:0px;color:#666666;letter-spacing: -0.02em;}
.page-payment-service .fotter-payment {width:354px;margin:auto;text-align: center;}
.page-payment-service .fotter-payment .button {padding-bottom:8px;}
.page-payment-service .fotter-payment p {padding:0px 20px;font-size:13px;color:#999999;line-height:18px;}
.fotter-payment .button input#btn-pay {width:304px;}
/* pop-up */
.overlay-service-form {background:#fff;width:532px;height:234px;margin-left:266px;position: absolute;z-index:100;box-shadow: 0 2px 5px 1px #dadada;-webkit-box-shadow: 0 2px 5px 1px #dadada;-moz-box-shadow: 0 2px 5px 1px #dadada;left:10%;}
.overlay-service-form .payment-header {background: #f0f0f0;padding:0px 20px;height:50px;}
.overlay-service-form .payment-header h3 {margin:0px;padding-top:5px;font-size:14px;font-weight:600;}
.overlay-service-form .payment-header .close {padding-top:15px;font-size:30px;}
.overlay-service-form .payment-body {padding:32px 20px 25px;}
.overlay-service-form .payment-body p {margin-bottom:0px;font-size:14px;font-weight:400;letter-spacing: -0.02em;line-height: 26px;}
.overlay-service-form .button {text-align: center;;}

/* trang chọn đối tác */
.page-choose-fl {background: #eeeeee;padding-top:56px;padding:48px;}
.page-choose-fl .title {margin:0px;padding-bottom:8px;font-family: 'Open Sans', sans-serif;font-size:30px;font-weight: 400;text-align: center;}
.page-choose-fl .block-payment-service {padding-bottom: 16px;box-shadow: 0px 3px 1px 1px #d9d9d9;-webkit-box-shadow: 0px 3px 1px 1px #d9d9d9;-moz-box-shadow:0px 3px 1px 1px #d9d9d9;}
.page-choose-fl .block-payment-service .container {width:800px;margin:auto;}
.page-choose-fl .title .fa-check-circle {color:#1996d7;}
.page-choose-fl .block-payment-service .title {padding-bottom:24px;font-size:14px;font-weight: 400;line-height:24px;color:#000;}
.block-payment-service .section-payment-info-top {padding:0px 20px;border-bottom:1px solid #cccccc;}
.block-payment-service .section-payment-content {padding-top:16px;border-bottom:1px solid #cccccc;}
.block-payment-service .section-payment-content h3 {margin:0px;padding-bottom:8px;font-size:16px;font-weight: 600;line-height: 20px;}
.block-payment-service .section-payment-content p {font-size:14px;}
.block-payment-service .section-payment-success {padding-top: 16px;}

.block-choose-partner .section-choose-partner-header {padding-top:56px;padding-bottom:35px;text-align: center;}
.block-choose-partner .section-choose-partner-header h3 {margin:0px;padding-bottom: 20px;font-size:16px;font-weight:700;color:#999999;line-height: 20px;}
.block-choose-partner .section-choose-partner-header h1 {line-height: 30px;}
.block-choose-partner .section-choose-partner-header p {margin-bottom:0px;padding-bottom:5px;}
.block-choose-partner .section-partner-content .container {width:1100px;margin:auto;}
.block-choose-partner .section-partner-content .option-one {padding-top:20px;padding-bottom:0px;box-shadow: 0px 1px 1px 1px #dddddd;-webkit-box-shadow: 0px 1px 1px 1px #dddddd;-moz-box-shadow:0px 1px 1px 1px #dddddd;background: #ffffff;}
.block-choose-partner .section-partner-content .option-one.checked {background: #4dafe2;}
.section-partner-content .option-one label.radio {margin-bottom:0px;margin:0px 20px;padding-bottom:16px;}
.section-partner-content .option-one label.radio p {margin-bottom:0px;color:#000;}
.section-partner-content .option-one label.radio b {font-style: oblique;}
.section-partner-content .option-one.checked label.radio p {color:#ffffff;}
.section-partner-content .option-one .note-option {padding:20px 40px;background: #f5f5f5;}
.section-partner-content .option-one .note-option p {margin-bottom:0px;color:#666666;}
.block-choose-partner .section-partner-content .option-two {margin-top:7px;padding-top:20px;padding-bottom:0px;box-shadow: 0px 1px 1px 1px #dddddd;-webkit-box-shadow: 0px 1px 1px 1px #dddddd;-moz-box-shadow:0px 1px 1px 1px #dddddd;background: #ffffff;}
.block-choose-partner .section-partner-content .option-two.checked {background: #4dafe2;}
.section-partner-content .option-two label.radio {margin-bottom:0px;margin:0px 20px;padding-bottom:16px;}
.section-partner-content .option-two label.radio p {margin-bottom:0px;color:#000;}
.section-partner-content .option-two.checked label.radio p {color:#ffffff;}
.section-partner-content .option-two .note-option {padding:20px 14px 20px 40px;background: #f5f5f5;}
.section-partner-content .option-two .note-option p {margin-bottom:0px;padding-top: 12px;color:#666666;}
.option-two .note-option.hidden {display: none;}
.option-two .note-option .img-partner {text-align: right;}
.option-two .img-partner i {padding-right:6px;}
.option-two .img-partner img {width:50px;}
.section-partner-content .option-two.checked .choose-partner-show {padding:20px 14px 20px 20px;background: #f5f5f5;}
.option-two.checked .choose-partner-show .partner-info {width:240px;margin-top:58px;margin-right:28px;margin-left:0px;padding:20px;background: #fff;text-align: center;box-shadow: 0px 1px 1px 1px #dddddd;-webkit-box-shadow: 0px 1px 1px 1px #dddddd;-moz-box-shadow:0px 1px 1px 1px #dddddd;}
.option-two.checked .choose-partner-show .partner-info:last-child {margin-right:0px;}
.choose-partner-show .button .btn-suitable {background: #ffffff;border:2px solid #4eb2e6;color:#4eb2e6;}
.choose-partner-show.hidden{display: none;}
.option-two.checked .choose-partner-show .partner-info.appropriate-fl {padding-top:38px;}
.partner-info .btn-chose-fl {background:#ffffff;color:#1996d7;border:2px solid #1996d7;text-shadow: none;-webkit-box-shadow:none;box-shadow: none;}
.partner-info .btn-chose-fl:hover {background: #1996d7;color:#fff;}
.partner-info.appropriate-fl .partner-hat p {background: #1996d7;padding: 7px 0 5px;margin-right: -20px;margin-left: -20px;margin-top:-70px;border-radius: 2px 2px 0px 0px;color: #FFF;}
.partner-info.appropriate-fl .partner-comment {padding-top:10px;}

.partner-info .partner-comment {padding-bottom:10px;border-bottom: 1px solid #e6e6e6;}
.partner-info .partner-comment .avata-fl img {width:160px;border:1px solid #e6e6e6;border-radius: 100px}
.partner-info .partner-comment .name-fl {padding-top:15px;;font-size:16px;text-transform: capitalize;}
.partner-info .rating-box {width:88px;float:left;display: inline-block;margin-top:0px;}
.partner-info .experience-partner {padding-top:10px;margin-bottom: 12px;border-bottom:1px solid #e6e6e6;}

.page-choose-fl .section-commit {width:820px;margin:auto;margin-top:10px;padding:28px 30px;background: #e6e6e6;}
.page-choose-fl .section-commit h3 {font-size:16px;font-weight: 600;color:#4c4c4c;}
.page-choose-fl .section-commit i {display:block;}
.page-choose-fl .fotter-payment {width:352px;margin:auto;margin-top:40px;text-align: center;}
.page-choose-fl .fotter-payment .button {margin-bottom: 10px;}
.page-choose-fl .fotter-payment p {font-size:14px;color:#999999;}

/* nav bar */
.one-column .main {min-height: initial;}
.navbar-static-top {min-height: initial;}
.nav-account > div {border:0px;}
.navbar.nav-thuengay .btn-connect {float: right;width: 320px;margin-top: 0px;margin-left: 0px;padding-top: 10px;}
.navbar-static-top.nav-thuengay {min-height:72px;}
.navbar-static-top.nav-thuengay .container {width: 1200px;}
.navbar-static-top.nav-thuengay .span2 {width: 90px;}
.navbar-static-top.nav-thuengay .menu-item:hover, .navbar-static-top.nav-thuengay .menu-item:active {background: none;}
.navbar-static-top.nav-thuengay .menu-item a {color: #333333;line-height: 72px;background: #fff;letter-spacing: -0.02em;box-shadow: none;-webkit-box-shadow: none;}
.navbar-static-top.nav-thuengay .menu-item a:hover {background: none;color:#1fa4ec;box-shadow: none;-webkit-box-shadow: none;}
.navbar-static-top.nav-thuengay .menu-item a:active {background: none;color:#1fa4ec;box-shadow: none;-webkit-box-shadow: none;}
.navbar-static-top.nav-thuengay .create-account-vlance a:hover {color:#1fa4ec;}
.nav-thuengay .login-vlance .create-account-vlance {margin-left: 0px;margin-right: 21px;padding-top: 15px;letter-spacing: -0.02em;float: right;}

.navbar-static-top.navbar-mini-tn {min-height: 65px;}
.navbar-static-top.navbar-mini-tn .container {width:1200px;}
.navbar-static-top.navbar-mini-tn .span4.span4-b {float:right;}
.navbar-static-top.navbar-mini-tn .span2 {width:90px;margin:0px;}
.navbar-static-top.navbar-mini-tn .menu-item a {line-height:72px;}
.navbar-static-top.navbar-mini-tn .menu-item a:hover,.navbar-static-top.navbar-mini-tn .menu-item a:active {background: none;color: #1fa4ec;box-shadow: none;-webkit-box-shadow: none;}
.navbar-static-top.navbar-mini-tn .menu-item:hover {background: none;}
.navbar-static-top.navbar-mini-tn .menu-item:active {background: none;}
