.login-float input {width: 282px;line-height: 36px;height: 36px;padding: 2px 8px 2px 8px;}
#big-search-block input, #big-search-block input:focus, #big-search-block input:active, #big-search-block input:hover {font-size: 24px; font-weight: 100; width: 770px; border-width: 0 1px 0 0; border-radius: 0;-moz-border-radius: 0;-webkit-border-radius: 0; border-color: #c4c4c4;-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; height: 40px; line-height: 40px; margin: 0 6px 0 0; padding: 0 10px;}
/*button dăng việc miễn phí ngay*/ 
.search-block #search-freelancer-txt { margin: 0;height: 30px;padding: 5px 10px 5px 10px;line-height: 32px;width: 325px;}
.search-block #search-freelancer-form button{height: 43px;}
.search-block .inner-content .btn-primary {padding-left: 7px;padding-right: 7px;}
.search-content .layered-block{width: 665px;}
#nav-search button{border: 1px solid #e8e8e8;padding-top: 3px;padding-bottom: 4px;margin-top: 1px;}
/*trang dang viec lam*/
.post-job .input-append input{float: left;line-height: 35px;padding: 5px 10px 5px 10px;height: 35px;}
.datepicker-widget.input-append .add-on {padding: 9px 11px 11px; line-height: 45px;float: left}
.nav-search input#nav-search-txt {font-size: 14px; border-color: #e8e8e8; border-right: 0; width: 260px;height: 24px;line-height: 24px; padding: 2px 8px 2px 8px ; margin: 0;min-height: 22px;}
.post-job .wrapper select{min-height: 25px;}
.post-job .control-group  input#vlance_jobbundle_jobtype_title{min-height: 20px;padding-top: 13px;padding-bottom: 13px;height: 20px;}

.subcategory li.sub-item i.span1{margin-top: 12px;}
.fr-profile .i16-briefcase{line-height: 20px;height: 20px;}
.subcategory li{line-height: 10px;}
/*ngăn cách giữa list freelancer*/
.search-results .row-result{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #DCDCDC;
}
.layered-block .block-content{margin-top: 0px;}
.fr-summary .history{width: 380px;}
.fr-summary .rating-block{width: 115px;}
/*footer*/
/*form bid*/
.form-bid .input-append input{float: left;width: 365px;height: 30px;}
.job_show .information-bidding .client-bidding-right{width: 168px;}
.navbar .btn-connect .btn {width: 88px;padding-left: 10px;padding-right: 10px;}
.login-float .button-group .btn-large{width: 146px;}
/*.one-column .main{height: 100%;}*/
.one-column #footer_content{height: 100%;}

/*Trang chủ fix input bị*/ 
.one-column.vlance_homepage .login-float .button-group .btn-large{width: 145px;}