.login-float input {width: 282px;line-height: 36px;height: 36px;padding: 2px 8px 2px 8px;}
#big-search-block input, #big-search-block input:focus, #big-search-block input:active, #big-search-block input:hover {font-size: 24px; font-weight: 100; width: 770px; border-width: 0 1px 0 0; border-radius: 0;-moz-border-radius: 0;-webkit-border-radius: 0; border-color: #c4c4c4;-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; height: 40px; line-height: 40px; margin: 0 6px 0 0; padding: 0 10px;}
.search-block #search-freelancer-txt { margin: 0;height: 44px;padding: 5px 10px 5px 10px;line-height: 34px;}
.post-job .input-append input{float: left;line-height: 35px;padding: 5px 10px 5px 10px}
.datepicker-widget.input-append .add-on {padding: 9px 11px 11px; line-height: 45px;float: left}
.nav-search input#nav-search-txt {font-size: 14px; border-color: #e8e8e8; border-right: 0; width: 260px;height: 24px;line-height: 24px; padding: 2px 8px 2px 8px ; margin: 0;min-height: 22px;}
.post-job .wrapper select{min-height: 25px;}
.post-job .control-group  input#vlance_jobbundle_jobtype_title{min-height: 20px;padding-top: 13px;padding-bottom: 13px;}
/*button dăng việc miễn phí ngay*/ 
.search-block .inner-content .btn-primary {padding-left: 7px;padding-right: 7px;}

/*ngăn cách giữa list freelancer*/
.search-results .row-result{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #DCDCDC;
}
.layered-block .block-content{margin-top: 0px;}
.navbar .btn-connect .btn {width: 88px;padding-left: 10px;padding-right: 10px;}