{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Chúc mừng bạn đã được chọn để thực hiện dự án "{{job.title}}"
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{ bid.account.fullName }}</i>,<br/>
    <br/>
    Chúc mừng bạn đã được lựa chọn để thực hiện dự án <a style="text-decoration: none;color: #0088cc;" href="{{ url('job_show_freelance_job', {'hash':job.hash})}}">{{ job.title }}</a>.<br/>
    Số tiền khách hàng đã nạp trước cho dự án: <b>{{ current_job_cash | number_format(0, ",", ".")}} VNĐ</b><br/>
    Số tiền khách hàng cần nạp thêm cho dự án: <b>{{ add_fund | number_format(0, ",", ".")}} VNĐ</b><br/>
    <br/>
    <b>BẠN CẦN LÀM GÌ BÂY GIỜ?</b><br/>
    <ol>
        <li>Chờ khách hàng nạp thêm <b>{{ add_fund | number_format(0, ",", ".")}} VNĐ</b> lên hệ thống vLance cho đủ số tiền cần đặt cọc cho dự án này.</li>
        <li>Ngay sau khi hệ thống nhận được đầy đủ tiền nạp cho dự án, bạn sẽ nhận được thông báo qua email. Khi đó bạn có thể yên tâm làm việc và được bảo đảm thanh toán khi hoàn tất dự án.</li>
        <li>Bạn cần thông báo ngay cho vLance nếu khách hàng yêu cầu bạn làm việc, hoặc làm thử việc khi chưa nạp tiền cho dự án qua vLance.</li>
    </ol>
    <br/>
    <i>
        <b>Bạn được lợi ích gì khi khách hàng nạp tiền và thanh toán qua vLance?</b><br/>
        <b>Lợi ích tức thì:</b><br/>
        - Bạn được vLance hỗ trợ qua email và điện thoại trong quá trình làm việc.<br/>
        - Bạn sẽ được đảm bảo thanh toán đầy đủ thù lao khi dự án hoàn thành.<br/>
        <b>Lợi ích về lâu dài:</b><br/>
        - Bạn được lưu trong hồ sơ làm việc các dự án thanh toán và hoàn thành qua vLance, giúp bạn tăng đáng kể cơ hội nhận được công việc tiếp theo.<br/>
        - Được xuất hiện trong danh sách những Freelancer được thuê nhiều nhất, giúp bạn được nhiều khách hàng chú ý đến hơn.<br/>
    </i>
    <br/>
    Thân mến,
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=bid-awarde&cs=transaction&cm=email&cn=bid"/>
{% endblock %}

                    
