{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Chúc mừng Dự án "{{ job.title }}" đã chọn được freelancer
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{ job.account.fullName }}</i>,<br/>
    <br/>
    Chúc mừng dự án <a style="text-decoration: none;color: #0088cc;" href="{{ url('job_show_freelance_job', {'hash':job.hash})}}">{{ job.title }}</a> đã chọn được freelancer thực hiện.<br/>
    <br/>
    Số tiền bạn đã nạp cho dự án: <b>{{ amount | number_format(0, ",", ".")}} VNĐ</b><br/>
    Số tiền còn dư so với bạn nạp ban đầu đã được chuyển vào ví vLance của bạn: <b>{{ refund | number_format(0, ",", ".")}} VNĐ</b>
    <br/>
    Ngay bây giờ, hệ thống sẽ thông báo để freelancer {{freelancer.fullName}} bắt đầu làm việc.<br/>
    <br/>
    Trong quá trình thực hiện công việc, nếu hai bạn phát sinh bất kỳ trao đổi cũng như cam kết nào khác, vui lòng gửi mail thông báo cho <a style="text-decoration:none;color:#0088cc;" href="mailto:hotro@vlance.vn">hotro@vlance.vn</a> thỏa thuận cuối cùng của hai bên, chúng tôi sẽ căn cứ vào đó để tiến hành hỗ trợ hai bên thực hiện cam kết.<br/>
    <br/>
    Thân mến,
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=bid-awarde&cs=transaction&cm=email&cn=bid"/>
    <img src="http://api.mixpanel.com/track/?data={{pixel_tracking}}&ip=1&img=1" width="1" height="1"/>
{% endblock %}

                    
