{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Dự án "{{job.title}}" đã được giao cho freelancer khác
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>    
    Xin chào <i>{{bid.account.fullName}}</i>,<br/>
    <br/>
    Dự án <em>{{job.title}}</em> đã được khách hàng giao cho một freelancer khác.<br/>
    <br/>
    Sau đây là những yếu tố có thể khiến cho chào giá của bạn không được khách hàng chọn:<br/>
    - Hồ sơ vLance của bạn chưa có nhiều thông tin, kinh nghiệm, hoặc chưa thể hiện đủ mức độ chuyên nghiệp. <a style="text-decoration: none;color: #0088cc;" href="{{url('account_show_freelancer', {'hash': bid.account.hash })}}?ref=not_awarded">Xem lại</a><br/>
    - Tài khoản của bạn chưa được xác thực. <a style="text-decoration: none;color: #0088cc;" href="{{url('account_verify_information')}}?ref=not_awarded">Xem lại</a><br/>
    - Thông điệp trong chào giá của bạn chưa thuyết phục được khách hàng hoặc bạn đã copy-paste chào giá và gửi cho nhiều dự án. <a style="text-decoration: none;color: #0088cc;" href="{{url('job_show_freelance_job', {'hash': job.hash })}}?ref=not_awarded">Xem lại</a><br/>
    <br/>
    {% set acc = bid.account %}
    {%  set cats = '' %}
    {% if acc.category %} 
        {% if acc.category.parent %}
            {% set cats = 'cpath_'~acc.category.parent.hash %}
        {% endif %}
        {% set cats = cats~'chash_'~acc.category.hash %}
    {% endif %}
    Theo thống kê của chúng tôi, các freelancer đã từng gửi hơn <b>10 chào giá</b>, có cơ hội được giao việc cao hơn gấp <b>4 lần</b> so với những người gửi ít hơn.<br/>
    <br/>
    Hãy tiếp tục gửi chào giá tới các dự án khác để tăng thêm cơ hội được nhận việc của bạn. <a style="text-decoration: none;color: #0088cc;" href="{{url('freelance_job_list', {'filters': cats })}}?ref=not_awarded">Xem các dự án phù hợp với tôi</a><br/>
    <br/>
    Chúc bạn may mắn và thành công.<br/>
    <br/>
    Thân mến,<br/>
    <br/>
    <br/>
    ---<br/>
    <b>Cần đọc ngay:</b><br/>
    - <a style="text-decoration: none;color: #0088cc;" href="http://www.vlance.vn/tro-giup/huong-dan-viet-chao-gia-cho-freelancer-moi-bat-dau-138">Hướng dẫn viết chào giá cho freelancer mới bắt đầu</a><br/>
    - <a style="text-decoration: none;color: #0088cc;" href="http://www.vlance.vn/tro-giup/nghe-thuat-chao-gia-3p-moi-khach-hang-khong-bo-qua-117">Nghệ thuật chào giá 3P – mọi khách hàng không thể bỏ qua</a><br/>
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=bid-decline&cs=transaction&cm=email&cn=bid"/>
{% endblock %}
       