{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Chúc mừng Dự án "{{ job.title }}" đã chọn được freelancer
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{ job.account.fullName }}</i>,<br/>
    <br/>
    Chúc mừng dự án <a style="text-decoration: none;color: #0088cc;" href="{{ url('job_show_freelance_job', {'hash':job.hash})}}">{{ job.title }}</a> đã chọn được freelancer thực hiện.<br/>
    <br/>
    Số tiền bạn đã nạp cho dự án: {{ current_job_cash | number_format(0, ",", ".")}} VNĐ<br/>
    Số tiền bạn cần nạp thêm cho dự án: <b>{{ add_fund | number_format(0, ",", ".")}} VNĐ</b><br/>
    <br/>
    Hãy <b>nạp tiền</b> cho dự án trên hệ thống của vLance.vn để freelancer có thể bắt đầu dự án.<br/>
    Bạn sẽ nhận được các dịch vụ hỗ trợ hoàn toàn miễn phí từ vLance.vn:<br/>
    <ul style="padding-left: 15px;">
        <li><i>Ngay sau khi nạp đủ số tiền, hệ thống sẽ tự động gửi thông báo tới freelancer để <b>BẮT ĐẦU</b> làm việc.</i></li>
        <li><i>Ngoài ra, vLance.vn sẽ giúp bạn soạn thảo cam kết để có những điều khoản chặt chẽ hơn với freelancer.</i></li>
        <li><i>Đội ngũ Hỗ trợ của vLance.vn luôn đồng hành cùng dự án của bạn, nhắc nhở freelancer hoàn thành đúng tiến độ và đảm bảo kỷ luật trong suốt quá trình thực hiện.</i></li>
        <li><i>Kết thúc dự án, bạn đánh giá freelancer dựa trên kết quả hoàn thành công việc.</i></li>
    </ul>

    <br/>
    <b>HÌNH THỨC NẠP TIỀN DỰ ÁN:</b><br/>
    <br/>
    {% set money_paypal = add_fund / paypal.currencyRate /(1 - paypal.paypalFee/100) %}
    <b>1. Giao dịch trực tiếp</b> - Nếu bạn ở Hà Nội hãy tới văn phòng vLance.vn để nạp tiền:<br/>
    <ul style="padding-left: 15px;">
        <li style="list-style: none;">Địa chỉ: <i>Tầng 4, số 2, ngõ 68, đường Nam Đồng, phường Nam Đồng, quận Đống Đa, Hà Nội</i></li>
        <li style="list-style: none;">Thời gian: <i>Sáng 9h00 - 12h00, Chiều 13h00 - 17h30 từ thứ Hai đến thứ Sáu hàng tuần.</i></li>
    </ul>

    <b>2. Chuyển khoản ngân hàng / ATM</b><br/>
    Hãy chuyển khoản tới tài khoản của vLance.vn theo thông tin bên dưới đây. Lưu ý ghi rõ mã số công việc sau trong nội dung chuyển khoản: <b style="color: #0088cc;">DVC{{ job.id }}</b>.<br/>
    Chủ tài khoản: <i><b>Trần Ngọc Tuân</b></i><br/>
    <ul style="padding-left: 15px;">
        <li style="list-style: none;"><i><b>Ngân Hàng TMCP Ngoại Thương - Vietcombank</b></i></li>
        <li style="list-style: none;">Số tài khoản: <i><b>0011004141791</b></i></li>
        <li style="list-style: none;">Chi nhánh: <i><b>Sở giao dịch Hà Nội</b></i></li>
    </ul>
    <ul style="padding-left: 15px;">
        <li style="list-style: none;"><i><b>Ngân hàng TMCP Á Châu - ACB</b></i></li>
        <li style="list-style: none;">Số tài khoản: <i><b>228085579</b></i></li>
        <li style="list-style: none;">Chi nhánh: <i><b>Hà Nội</b></i></li>
    </ul>
    <ul style="padding-left: 15px;">
        <li style="list-style: none;"><i><b>Ngân hàng TMCP Kỹ Thương - Techcombank</b></i></li>
        <li style="list-style: none;">Số tài khoản: <i><b>19030881539011</b></i></li>
        <li style="list-style: none;">Chi nhánh: <i><b>Hà Nội</b></i></li>
    </ul>

    <b>3. Chuyển tiền qua Paypal</b><br/>
    Lưu ý ghi rõ mã số công việc sau trong nội dung chuyển khoản: <b style="color: #0088cc;">DVC{{ job.id }}</b>.<br/>
    <ul style="padding-left: 15px;">
        <li style="list-style: none;">Hãy chuyển tiền tới tài khoản Paypal của vLance.vn: <span style="text-decoration: none;color: #0088cc;">invoice@vlance.vn</span></li>
        <li style="list-style: none;">Số tiền được tính theo công thức sau: <i>Số tiền USD cần thanh toán = Số tiền VND cần thanh toán / {{paypal.currencyRate | number_format(0, ',', '.')}} / (1 - {{paypal.paypalFee | number_format(1, ',', '.')}}%)</i>. Cụ thể bạn cần nạp <b>{{ money_paypal | number_format(2, ',', '.') }} USD</b> qua Paypal.</li>
    </ul>
    Xem thêm <a style="text-decoration: none;color: #0088cc;" href="{{ url('cms_page', {'slug':'huong-dan-thanh-toan'}) }}">các cách thức thanh toán</a>.<br/>
    <br/>
    Thân mến,
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=bid-awarde&cs=transaction&cm=email&cn=bid"/>
    <img src="http://api.mixpanel.com/track/?data={{pixel_tracking}}&ip=1&img=1" width="1" height="1"/>
{% endblock %}

                    
