{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Chúc mừng bạn đã được chọn để thực hiện dự án "{{job.title}}"
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{ bid.account.fullName }}</i>,<br/>
    <br/>
    Chúc mừng bạn đã được lựa chọn để thực hiện dự án <a style="text-decoration: none;color: #0088cc;" href="{{ url('job_show_freelance_job', {'hash':job.hash})}}">{{ job.title }}</a>.<br/>
    <br/>
    Số tiền đã được khách hàng nạp cho dự án này: <b>{{ amount | number_format(0, ",", ".") }} VNĐ</b>.<br/>
    <br/>
    Bạn có thể BẮT ĐẦU công việc ngay bây giờ. Mọi QUYỀN LỢI của bạn đã được đảm bảo, bạn hãy yên tâm làm việc.<br/>
    <br/>
    Trong quá trình thực hiện công việc, nếu hai bạn phát sinh bất kỳ trao đổi cũng như cam kết nào khác, vui lòng gửi mail thông báo cho <a style="text-decoration:none;color:#0088cc;" href="mailto:hotro@vlance.vn">hotro@vlance.vn</a> thỏa thuận cuối cùng của hai bên, chúng tôi sẽ căn cứ vào đó để tiến hành hỗ trợ hai bên thực hiện cam kết.<br/>
    <br/>
    Chúc bạn thành công!<br/>
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=bid-awarde&cs=transaction&cm=email&cn=bid"/>
{% endblock %}

                    
