{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Xác nhận đã đặt cọc cho dự án "{{job.title}}"
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{ client.fullName }}</i>,<br/>
    <br/>
    vLance xác nhận dự án của bạn đã được đặt cọc đầy đủ:<br/>
    - Dự án: <a style="text-decoration: none;color: #0088cc;" href="{{ url('job_show_freelance_job', {'hash':job.hash})}}">#{{ job.id }} - {{ job.title }}</a><br/>
    - Số tiền được nạp vào dự án: <b>{{ job.cash.balance | number_format(0, ",", ".")}} VNĐ</b><br/>
    - Số tiền còn dư sau lần nạp cuối đã được chuyển vào ví vLance của bạn: <b>{{ refund | number_format(0, ",", ".")}} VNĐ</b>
    <br/>
    Ngay bây giờ, bạn có thể bắt đầu trao đổi và làm việc với các freelancer đã gửi chào giá.<br/>
    <br/>
    Trong quá trình làm việc, nếu gặp bất kỳ khó khăn nào, vui lòng liên hệ <a style="text-decoration:none;color:#0088cc;" href="mailto:hotro@vlance.vn">hotro@vlance.vn</a> để được hỗ trợ.<br/>
    <br/>
    Trân trọng,
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=confirm_add_deposit_client&cs=transaction&cm=email&cn=transaction"/>
{% endblock %}

                    
