{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Xác nhận đã đặt cọc cho dự án "{{job.title}}"
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{ client.fullName }}</i>,<br/>
    <br/>
    vLance xác nhận cuộc thi của bạn đã được đặt cọc:<br/>
    - Cuộc thi: <a style="text-decoration: none;color: #0088cc;" href="{{ url('job_show_freelance_job', {'hash':job.hash})}}">#{{ job.id }} - {{ job.title }}</a><br/>
    - Số tiền nạp: <b>{{ transaction.amount | number_format(0, ",", ".")}} VNĐ</b><br/>
    <br/>
    Ngay bây giờ, bạn có thể bắt đầu nhận bài dự thi của freelancer.<br/>
    <br/>
    Trong quá trình làm việc, nếu gặp bất kỳ khó khăn nào, vui lòng liên hệ <a style="text-decoration:none;color:#0088cc;" href="mailto:hotro@vlance.vn">hotro@vlance.vn</a> để được hỗ trợ.<br/>
    <br/>
    Trân trọng,
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=transaction-deposited-freelancer-contest&cs=transaction&cm=email&cn=bid"/>
{% endblock %}