{% extends '::base.html.twig' %}

{% block body -%}
    <h1>MessageFile list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Filename</th>
                <th>Type</th>
                <th>Path</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('messagefile_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.filename }}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.path }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('messagefile_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('messagefile_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('messagefile_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
