<option value="">Nhập email người dùng</option>
{%- for account in accounts -%}
<option value="{{ account['id'] }}" {% if value is defined and value == account['id'] %}selected="selected"{% endif %}>{{ account['email'] }}</option>
{%- endfor -%}