<script type="text/javascript">
    $(document).ready(function() {
        $('#{{ id }}').select2({
            placeholder: "Nhập email người dùng",
            minimumInputLength: 5
        });
    });
</script>
