{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Chúc mừng bạn vừa nhận được 01 Credit từ vLance
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    <i>{{ inviter.fullName }}</i> thân mến,<br/>
    <br/>
    Bạn vừa <b>nhận thêm 01 Credit</b> từ vLance vì một người bạn của bạn <b>{{invitee.fullname}}</b> vừa đăng ký tài khoản thành công tại vLance.vn.<br/>
    <br/>
    Xin vui lòng kiểm tra <a style="text-decoration: none;color: #0088cc;" href="{{ url('credit_balance')}}">số dư Credit</a> của bạn trong phần quản lý tài khoản.<br/>
    <br/>
    Trân trọng,<br/>
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=offer-credit-invitor&cs=transaction&cm=email&cn=referral-friend"/>
{% endblock %}

                    
