{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Bạn vừa được tặng 1 Credit
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
   <i>{{ invitee.fullName }}</i> thân mến,<br/>
    <br/>
    Xin chúc mừng bạn đã kích hoạt tài khoản thành công và <b>nhận được 01 Credit</b> từ vLance.<br/>
    <br/>
    Xin vui lòng kiểm tra <a style="text-decoration: none;color: #0088cc;" href="{{ url('credit_balance')}}">số dư Credit</a> của bạn trong phần quản lý tài khoản.<br/>
    <br/>
    Trân trọng,<br/>
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=offer-credit-invitee&cs=transaction&cm=email&cn=referral-friend"/>
{% endblock %}

                    
