{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Chúc mừng {{invitee.fullname}} vừa nhận được 30 Credits từ vLance.vn
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chúc mừng <i>{{invitee.fullname}}</i>,<br/>
    <br/>
    Bạn vừa thuê được một freelancer tài năng để thực hiện thành công dự án đầu tiên trên vLance.vn. Chúng tôi xin tặng bạn món quà trị giá <b>30 Credits</b> để bạn có thể sử dụng cho những dự án về sau thành công hơn nữa.<br/>
    <br/>
    Xin vui lòng kiểm tra <a style="text-decoration: none;color: #0088cc;" href="{{ url('credit_balance')}}">số dư Credit</a> của bạn trong phần quản lý tài khoản.<br/>
    <br/>
    Trân trọng,<br/>
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=offer-credit-invitee-first-job-client&cs=transaction&cm=email&cn=referral-friend"/>
{% endblock %}

                    
