{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Chúc mừng {{invitor.fullname}} vừa nhận được 5 Credits từ vLance.vn
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chúc mừng <i>{{invitor.fullname}}</i>,<br/>
    <br/>
    Bạn vừa nhận thêm <b>5 Credits</b> vì {{invitee.fullname}} hoàn thành công việc đầu tiên {{job.title}} với kết quả tuyệt vời cho khách hàng.<br/>
    <br/>
    Xin vui lòng kiểm tra <a style="text-decoration: none;color: #0088cc;" href="{{ url('credit_balance')}}">số dư Credit</a> của bạn trong phần quản lý tài khoản.<br/>
    <br/>
    Trân trọng,<br/>
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=offer-credit-invitor-first-job-freelancer&cs=transaction&cm=email&cn=referral-friend"/>
{% endblock %}

                    
