{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Chúc mừng {{invitor.fullname}} vừa nhận được 30 Credits từ vLance.vn
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chúc mừng <i>{{invitor.fullname}}</i>,<br/>
    <br/>
    Bạn vừa <b>nhận thêm 30 Credits</b> từ vLance vì <b>{{invitee.fullname}}</b>  vừa thuê được freelancer tài năng và thực hiện thành công dự án đầu tiên trên vLance.vn.<br/>
    <br/>
    Xin vui lòng kiểm tra <a style="text-decoration: none;color: #0088cc;" href="{{ url('credit_balance')}}">số dư Credit</a> của bạn trong phần quản lý tài khoản.<br/>
    <br/>
    Trân trọng,<br/>
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=offer-credit-invitor-first-job-client&cs=transaction&cm=email&cn=referral-friend"/>
{% endblock %}

                    
