{% extends "VlanceBaseBundle:Email:layout_email.html.twig" %}
{% block subject %}
{% autoescape false %}
Thư mời tham gia vLance
{% endautoescape %}
{% endblock %}
{% block body_email %}
<div style="min-height: 350px;">    
    <div style="margin:0 auto;padding:0px;clear:both">
        <div style="min-height:660px;clear:both;font-size:18px;letter-spacing: -0.1px;">
            <h1 style="margin: auto;margin-bottom:40px;text-align: center;font-size:30px;font-weight:400;width:446px;">Mời bạn bè tham gia vLance để nhận quà lên tới<b> 30 Credits</b></h1>
            <p style="margin:0px auto 24px;width:520px;">Chào <b>{{account.fullname}}</b>,</p> 
            <p style="margin:0px auto 20px;width:520px;">
                Bạn sẽ <strong>nhận được món quà lên tới 30 Credits</strong> khi giới thiệu thành công một người bạn hoàn thành dự án đầu tiên của họ trên vLance.vn.
            </p>
            <img src="http://www.vlance.vn/newsletter/img/201603/bg-invite-email.png/" style="width:520px;margin:0px 40px;" title="invite_friend">
            <p style="margin:24px auto 10px;width:520px;">
                <b>Người được giới thiệu</b> cũng sẽ <b>nhận 1 phần quà tương ứng</b> với dự án đầu tiên. Hãy chia sẻ cho bạn bè của bạn cơ hội nhận quà này bằng cách bấm nút "Mời bạn".
            </p>
            <p style="margin:44px auto 24px; text-align:center;">
                <a href="{{iurl}}?ref=sugmail"
                    style="border-radius: 5px; text-align: center;text-shadow: 0px 1px 1px rgb(255, 255, 255); 
                            background-color: #f77d0e; padding: 15px 92px 15px 92px; text-decoration: none; color: #ffffff; width: 120px; 
                            margin-top: 10px;-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.05);
                            -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.05);
                            box-shadow: inset 0 1px 0 rgba(255,255,255,0.75), 0 1px 2px rgba(0,0,0,0.05);
                            border-color: #ffcc00 #ffcc00 #ffba10;">
                    <strong>Mời bạn</strong>
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
{% block ga_tracker %}
    {% if pixel_tracking is defined %}
        <img src="{{pixel_tracking.ga}}" width="1" height="1"/>
        <img src="{{pixel_tracking.mixpanel}}" width="1" height="1"/>
    {% endif %}
{% endblock %}