{% extends_admingenerated "VlancePaymentBundle:AdminCreditExpenseTransactionList:row.html.twig" %}
{% block list_td_column_creditAccount %}
    <a href="{{  url("account_show_freelancer", {'hash' : CreditExpenseTransaction.creditAccount.account.hash}) }}" target="_blank">#{{  CreditExpenseTransaction.creditAccount.account.id }}</a><br/>
    {{  CreditExpenseTransaction.creditAccount.account.email }}
{% endblock %}