{% extends "AdmingeneratorGeneratorBundle::base_admin_assetic_less.html.twig" %}
{% block stylesheets %}{{ parent() }}{% endblock stylesheets %}
{% block javascripts %}{{ parent() }}{% endblock javascripts %}
{% block title %}{{ parent() }} - {{ title }}{% endblock title %}
{% block body %}
{% block page_title %}
<header>
    <h1>{{ title }}</h1>
</header>
{% endblock page_title %}
<div class="row-fluid">
    <div class="span12">
        {% block form %}
        <form action="{{ path(actionRoute, actionParams) }}" method="post" class="admin_form">
            <input type="hidden" name="_csrf_token" value="{{ path(actionRoute, actionParams)|csrf_token }}"/>
                {% block form_buttons %}
            <div class="form-row">
                <label for="message">Phản hồi</label>
                <textarea name="message" id="message" cols="20" rows="6"></textarea>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    <i class="icon-ok"></i> {% trans from "vlance" %}admin.account.certificate.refuse.button.confirm{% endtrans %}
                </button>
                <a class="btn" href="{{ path("Vlance_AccountBundle_AdminAccount_list") }}">
                    <i class="icon-remove"></i> {% trans from "vlance" %}admin.account.certificate.refuse.button.cancel{% endtrans %}
                </a>

            </div>
                {% endblock form_buttons %}
        </form>
        {% endblock form %}
    </div>
</div>
{% endblock body %}
