{% extends "VlanceBaseBundle:Email/massemail:layout.html.twig" %}
{% block subject %}
{% autoescape false %}
{{subject}}
{% endautoescape %}
{% endblock %}
{% block body_email %}
<div style="min-height: 350px; padding: 0 0 60px; font-size: 16px;">               
    <div style="padding: 0 30px;">
        {{content|raw}}
    </div>
</div>
{% endblock %}
{% block ga_tracker %}
    {% if pixel_tracking is defined %}
        <img src="{{pixel_tracking.ga}}" width="1" height="1"/>
        <img src="{{pixel_tracking.mixpanel}}" width="1" height="1"/>
    {% endif %}
{% endblock %}