{% trans_default_domain 'vlance' %}
{% block subject %}
{% autoescape false %}
{{ 'message.notification.title'|trans({'%sender%': sender.fullName}) }}
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
{{ 'message.notification.content'|trans({'%sender%': sender.fullName, '%receiver%': receiver.fullName}) }}
{% endautoescape %}
{% endblock %}
{% block body_html %}
{% endblock %}
