{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{% autoescape false %}
{{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
{% endautoescape %}
{% endblock %}
{% block body_html %}
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="noindex,nofollow" />
		<meta http-equiv="X-UA-Compatible" content="IE=9" />
        <title>Vlance - email</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
        <style type="text/css" >
            body{margin: 0px;padding: 0px;font-family: 'Open sans', sans-serif;color: #303030;}
            .wrapper{margin: 0 auto;width: 458px; padding: 0px;}
            .header{width: 458px;height: 135px;border-bottom: 1px solid #BDBDBD;}
            .logo{margin-top: 15px;float: left;}
            .logo a{float:left;}
            .logo a img{width: 140px;height: 120px;}
            .content{min-height: 361px;width: 475px;clear: both;font-size: 14px;float: left;}
            .content-welcome{margin-top: 27px;}
            .content-after-welcome{line-height: 23px;margin-top: 32px;}
            .content-button{margin-top: 32px;float: left;}
            .content-button a{
                color: #353535;
                text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
                background-color: #ffe222;
                background-image: -moz-linear-gradient(top, #ffe222, #ffcc04);
                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe222), to(#ffcc04));
                background-image: -webkit-linear-gradient(top, #ffe222, #ffcc04);
                background-image: -o-linear-gradient(top, #ffe222, #ffcc04);
                background-image: linear-gradient(to bottom, #ffe222, #ffcc04);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
                border-color: #ffcc04 #ffcc04 #ffba10;
                border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
                filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

                border: 1px solid #D1B417;
                border-radius: 6px;
                padding: 11px 9px 11px 9px;
                float: left;
                color: #353535;
                font-family: 'Open sans', sans-serif;
                font-weight: 700;
                text-decoration: none;
            }
            .content-button a:active{
                color: #353535;
                background-color: #ffcc04;
                background-position: 0 -15px;
                background-image: none;
                outline: 0;
                -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
                -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
                box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
            }
            .content-button a:hover{background: #ffcc04}
            .content-after-button{line-height: 24px;clear: both;float: left;margin-top: 28px;}
            .content-after-one{margin-bottom: 28px;}
            .content-after-one img{width: 25px;height: 25px;}
            .content-after-button a{text-decoration: none;color: #0088cc;}
            .content-thank{margin-top: 28px;float: left;margin-bottom: 35px;}
        /*//    footer*/
            footer{display: block;clear: both;}
            .footer-contact{background: #D8D8D8;font-size: 14px;}
            .contact{margin: 0 auto;width: 458px;height: 85px;}
            .contact p{line-height: 28px;float: left;}
            .contact p a{text-decoration: none;color: #0088cc;}
            .img_face{float: right;list-style: none;margin-top: 31px;}
            .img_face li{float: left;margin-left: 5px;}
            .contact p b{font-weight: 800;}
            .footer-bottom{margin: 0 auto;width: 458px;min-height: 45px;font-size: 11px;}
            .footer-bottom ul{list-style: none;padding: 0px;float: left;margin-top: 13px;margin-bottom: 13px;}
            .footer-bottom ul li{float: left;font-size: 11px;}
            .footer-bottom ul li.separator{float: left;margin-left: 5px;margin-right: 5px;}
            .footer-bottom ul li a{color: #0f0f0f;text-decoration: none;font-size: 11px;}
            .footer-bottom ul.footer-bottom-all-right{list-style: none;padding: 0px;float: left;margin: 0px; clear: both;}
        </style>
    </head>
    <body>
        <div class="wrapper">
            <!-- Header -->
            <div class="header">
                <div class="logo"><a href="#"><img src="img/logo.png" alt="Làm freelancer, kiếm thêm thu nhập"/></a></div>
            </div>

            <!-- content -->
            <div class="content">
                <div class="content-welcome">Chào mừng bạn đến với <strong>vLance</strong>!</div>

                <div class="content-after-welcome">
                     {{ 'registration.email.message'|trans({'%username%': user.username}) }} 
                </div>

                <div class="content-after-button">
                    <div class="content-after-one">
                        Để hoàn tất quá trình đăng ký mời bạn <a href="{{ 'registration.email.url_regis'|trans({'%confirmationUrl%': confirmationUrl}) }}">nhấn vào đây</a> để kích hoạt tài khoản tại www.vLance.vn
                    </div>

                    <div>
                         {{ 'registration.email.url_regis'|trans({'%confirmationUrl%': confirmationUrl}) }}
                    </div>

                    <br>

                    <div>
                        Nếu liên kết trên không hoạt động xin vui lòng liên hệ với chúng tôi:
                        Qua địa chỉ Email: <a href="mailto:xinchao@vlance.vn">xinchao@vlance.vn</a>
                    </div>
                    
                </div>
                <div class="content-thank">
                    <strong>vLance chúc bạn một ngày tốt lành!</strong>
                    <br>
                    <span>Trân trọng.</span>
                </div>
                
            </div>
            <!-- end content -->
        </div>

            <!-- Footer -->
            <footer>
                <div class="footer-contact">
                    <div class="contact">
                        <p>Bạn cần trợ giúp? <strong>Liên hệ với chúng tôi</strong>
                            <br>
                            <a target="_blank" style="text-decoration: none;color: #0088cc;" href="http://blog.vlance.vn">Blog vLance</a>
                        </p>

                            <ul class="img_face">
                                <li class="first"><a target="_blank" style="text-decoration: none;color: #0088cc;" href="https://www.facebook.com/vlance.vn"><img src="img/mail_facebook.png"/></a></li>
                                <li class="last"><a target="_blank" style="text-decoration: none;color: #0088cc;" href="#"><img src="img/mail_tiw.png"/></a></li>
                            </ul>

                    </div>
                </div>
                
                <div class="footer-bottom">
                    <ul>
                        <li class="first">© 2013 - 2016 vLance, Inc.</li>
                    </ul>
                </div>
                
            </footer>
		
    </body>
</html>


{% endblock %}