{% extends "VlanceBaseBundle:Email:layout_email.html.twig" %}
{% block subject %}
{% autoescape false %}
[admin]Thông báo hủy bỏ công việc: {{job.title}} trên hệ thống vLance.vn
{% endautoescape %}
{% endblock %}
{% block body_email %}
    <div style="min-height: 350px;">    
        <div style="margin:0 auto;padding:0px;clear:both">
            <div style="min-height:289px;clear:both;font-size:14px">
                <div style="margin-top:27px">Chào admin,</div>  
                <div class="content-after-welcome" style="line-height:23px;margin-top:32px">
                    {{job.account.fullName}} vừa gửi yêu cầu hủy dự án {{job.title}}.
                </div>
                <div class="content-after-button" style="line-height: 24px;clear: both;float: left;margin-top: 28px;">
                    <div class="content-after-one" style="margin-bottom: 28px;">
                        Nội dung thông tin chi tiết công việc :<br />
                        <b>ID:</b> {{job.id}} <br />
                        <b>Tên dự án:</b> {{job.title}}<br/>
                        <b>Chi tiết:</b><br/>
                        {{job.description}}<br/>
                        <b>Ngân sách:</b> {{job.budget}} VNĐ<br/>
                        <div>
                            <strong>Kỹ năng: </strong>
                            {% for skill in job.skills %}
                                {{skill.title}}, 
                            {% endfor %}
                        </div>
                        <div>
                            <strong>Địa điểm: </strong> 
                            {% if job.city is defined %}
                                {{job.city.name}}
                            {% endif %}
                        </div>
                        <b>Ngày tạo:</b> {{job.createdAt|date('d/m/Y')}}<br/>
                        
                        <div>Link front end: <a style="text-decoration: none;color: #0088cc;" href="{{url('job_show_freelance_job', {'hash' : job.hash})}}">{{url('job_show_freelance_job', {'hash' : job.hash})}}</a></div>
                    </div>
                    
                    <div>
                        Thông tin khách hàng: <br/>
                        <b>Id</b>:{{job.account.id}}<br/>
                        <b>Tên khách hàng</b>: {{job.account.fullName}}<br/>
                        <b>Link xem hồ sơ</b>: <a style="text-decoration: none;color: #0088cc;" href="{{url('account_show_freelancer', {'hash':job.account.hash})}}">{{url('account_show_freelancer', {'hash':job.account.hash})}}</a><br/>
                        <b>Link sửa hồ sơ</b>: <a style="text-decoration: none;color: #0088cc;" href="{{url('Vlance_AccountBundle_AdminAccount_edit', {'pk': job.account.id})}}">{{url('Vlance_AccountBundle_AdminAccount_edit', {'pk': job.account.id})}}</a>
                    </div>
                    <div style="margin-bottom:28px">
                        Nếu bạn chấp nhận yêu cầu này, vui lòng click vào <a style="text-decoration:none;color:#0088cc;" href="{{url('Vlance_JobBundle_AdminJob_edit', {'pk': job.id})}}" target="_blank">đây</a> và chuyển trạng thái công việc thành <i><strong>JOB_CANCELED</strong></i>.
                    </div>
                </div>
                <div style="margin-top:28px;float:left;margin-bottom:35px">
                    <span><strong>vLance</strong> chúc bạn một ngày tốt lành!</span>
                    <br>
                    <span>Trân trọng!</span>
                </div>
            </div>
        </div>
    </div>   
{% endblock %}


