{% extends_admingenerated "VlanceCmsBundle:AdminCommunityPostList:row.html.twig" %}
{% block list_td_column_likes %}
    {% if CommunityPost.getLikes|length < 10 %}
        <p style="color: red;">{{CommunityPost.getLikes|length}}</p>
    {% endif %}
{% endblock %}

{% block list_td_column_view %}
    {% if CommunityPost.view < 100 %}
        <p style="color: red;">{{CommunityPost.view}}</p>
    {% endif %}
{% endblock %}

{% block list_td_column_tags %}
    {% for t in CommunityPost.getTags %}
        {{ t.title }}
    {% endfor %}
{% endblock %}
