{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Chúc mừng! Cuộc thi "{{contest.title}}" đã chọn được những bài dự thi
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{contest.account.fullName}}</i>,<br/>
    <br/>
    Cuộc thi <a style="font-weight:bold;font-style:italic;">{{contest.title}}</a> đã chọn được bài dự thi. Ngay bây giờ bạn đã có thể trao đổi với freelancer để tiếp tục bước tiếp theo của cuộc thi.<br/>
    <br/>
    Cảm ơn bạn đã lựa chọn và sử dụng dịch vụ của <b>vLance.vn</b>.<br/>
    <b>vLance</b> chúc bạn một ngày tốt lành!<br/>
    <br/>
    Thân mến,
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=client-contest-qualified&cs=transaction&cm=email&cn=contest"/>
{% endblock %}

