{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Chúc mừng! Cuộc thi "{{job.title}}" đã được trao thưởng.
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{job.account.fullName}}</i>,<br/>
    <br/>
    Bạn vừa xác nhận cuộc thi <a style="font-weight:bold;font-style:italic;">{{job.title}}</a> đã được trao thưởng. {{freelancer.fullName}} đã làm bạn hài lòng chưa?<br/>
    <br/>
    Ngay bây giờ, bạn có thể đánh giá và cho điểm <i>{{freelancer.fullName}}</i> <a style="text-decoration: none;color: #0088cc;" href="{{url('workshop_bid', {'job_id' : job.id})}}" >tại đây</a>.<br/>
    Điều này, giúp vLance.vn có thể đánh giá freelancer và hỗ trợ bạn tìm freelancer chất lượng cao trong lần hợp tác tiếp theo.<br/>
    <br/>
    Cảm ơn bạn đã lựa chọn và sử dụng dịch vụ của <b>vLance.vn</b>.<br/>
    <b>vLance</b> chúc bạn một ngày tốt lành!<br/>
    <br/>
    Thân mến,
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=client-contest-finished&cs=transaction&cm=email&cn=job"/>
{% endblock %}

