{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Chúc mừng! Bài dự thi cuộc thi "{{contest.title}}" của bạn đã được chọn
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{bid.account.fullName}}</i>,<br/>
    <br/>
    Bài dự thi cuộc thi <a style="font-weight:bold;font-style:italic;">{{contest.title}}</a> của bạn đã được chọn. Ngay bây giờ bạn có thể trao đổi với khách hàng để tiếp tục hoàn thiện bài dự thi của mình.<br/>
    <br/>
    Cảm ơn bạn đã lựa chọn và sử dụng dịch vụ của <b>vLance.vn</b>.<br/>
    <b>vLance</b> chúc bạn một ngày tốt lành!<br/>
    <br/>
    Thân mến,
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=freelancer-selected-contest&cs=transaction&cm=email&cn=contest"/>
{% endblock %}

