{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Cuộc thi {{contest.title}} đã chọn được bài dự thi, còn rất nhiều cuộc thi hấp dẫn khác đang chờ bạn.
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>    
    Xin chào <i>{{bid.account.fullName}}</i>,<br/>
    <br/>
    Tiếc quá, bài dự thi của bạn trong cuộc thi {{contest.title}} đã được chọn vào vòng tiếp theo nhưng thật tiếc đó chưa phải bài dự thi khách hàng ưng ý nhất để trao giải.<br/>
    <br/>
    Đừng bỏ cuộc! CƠ HỘI ở những cuộc thi hấp dẫn khác vẫn đang chờ bạn tại www.vLance.vn. Hãy TIẾP TỤC tham gia các cuộc thi thiết kế khác trên vLance.vn bạn nhé.<br/>
    <br/>
    Chúc bạn may mắn và thành công.<br/>
    <br/>
    Thân mến,
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=freelancer-notselected-contest&cs=transaction&cm=email&cn=contest"/>
{% endblock %}
