{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Chúc mừng! Cuộc thi "{{job.title}}" đã được nghiệm thu thành công!
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{freelancer.fullName}}</i>,<br/>
    <br/>
    <i>{{job.account.fullName}}</i> vừa xác nhận trao thưởng cho bài dự thi của bạn.<br/>
    <br/>
    Toàn bộ chi phí của dự án đã được hệ thống chuyển vào tài khoản của bạn trên vLance.vn. <br/>
    Kiểm tra thông tin tài khoản của bạn <a style="text-decoration: none;color: #0088cc;" href="{{url('transaction')}}" >tại đây</a>.<br/>
    <br/>
    Cảm ơn bạn đã tin tưởng và sử dụng dịch vụ của <b>vLance.vn</b>.<br/>
    <b>vLance</b> chúc bạn một ngày tốt lành!<br/>
    <br/>
    Thân mến,
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=contest-finished&cs=transaction&cm=email&cn=job"/>
{% endblock %}

