{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Hoàn tất kích hoạt tài khoản để nhận công việc đầu tiên
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>    
    Chào <i>{{account.fullName}}</i><br/>
    <br/>
    Bạn đang bỏ lỡ rất nhiều cơ hội kiếm thêm thu nhập mỗi ngày vì tài khoản của bạn vẫn chưa được kích hoạt.<br/>
    <br/>
    Để có thể bắt đầu nhận việc đầu tiên, bạn chỉ việc click vào link bên dưới đây để kích hoạt tài khoản của mình.
</p>    
<p style="text-align: center;"> 
    <br/>
    <a href="{{ url('fos_user_registration_confirm', {'token' : account.confirmationToken}) }}?ref=email-active-r1a" 
       style="border-radius: 4px; background-color: #0088cc; padding: 16px 28px 14px; text-decoration: none; color: #ffffff; 
                -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.05);
                -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.05);
                box-shadow: inset 0 1px 0 rgba(255,255,255,0.75), 0 1px 2px rgba(0,0,0,0.05);">
        Kích hoạt tài khoản để nhận việc
    </a><br/>
    <br/>   
</p>       
<p>   
    Chúc bạn tìm được những công việc yêu thích tại <a href="{{url('vlance_homepage')}}?ref=email-active-r1b" style="text-decoration: none;color: #0088cc;">vLance.vn</a><br/>
    Trân trọng,
</p>                        
{% endblock %}
{% block ga_tracker %}
    {% if pixel_tracking is defined %}
        <img src="{{pixel_tracking.ga}}" width="1" height="1"/>
        <img src="{{pixel_tracking.mixpanel}}" width="1" height="1"/>
    {% endif %}
{% endblock %}