{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Xác nhận thanh toán bằng SMS
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{ payer.fullName }}</i>,<br/>
    <br/>
    Bạn vừa sử dụng <b>{{amount}} CREDIT</b>.<br/>
    Mục đích: Đăng nổi hồ sơ <b>{{fname}}</b> (#{{fid}}) trong {{duration}} ngày.<br/>
    <br/>
    Chúc bạn sớm được khách hàng lựa chọn.<br/>
    Thân mến,<br/>
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=feature-freelancer&cs=transaction&cm=email&cn=sms"/>
{% endblock %}

                    
