{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Xác nhận đã đặt cọc tiền cho dự án {{job.title}}
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{ client.fullName }}</i>,<br/>
    <br/>
    Chúc mừng bạn đã đặt cọc thành công cho Dự án {{ job.id }} - {{ job.title }}. Hệ thống đã nhận được giao dịch.<br/>
    Số tiền nạp: {{ transaction.amount | number_format(0, ",", ".")}} VNĐ<br/>
    <br/>
    Bạn vui lòng kiểm tra thông tin dự án <a style="text-decoration: none;color: #0088cc;" href="{{ url('job_show_freelance_job', {'hash':job.hash})}}">tại đây</a>.<br/>
    Ngay bây giờ, hệ thống sẽ thông báo để freelancer {{freelancer.fullName}} bắt đầu làm việc.<br/>
    <br/>
    Trong quá trình thực hiện công việc, nếu hai bạn phát sinh bất kỳ trao đổi cũng như cam kết nào khác, vui lòng gửi mail thông báo cho <a style="text-decoration:none;color:#0088cc;" href="mailto:hotro@vlance.vn">vlance.vn</a> thỏa thuận cuối cùng của hai bên, chúng tôi sẽ căn cứ vào đó để tiến hành hỗ trợ hai bên thực hiện cam kết.<br/>
    <br/>
    Thân mến,
</p>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=transaction-deposited-freelancer&cs=transaction&cm=email&cn=bid"/>
{% endblock %}

                    
