{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
[admin] Tài khoản [{{account.id}}] yêu cầu nâng cấp VIP bằng ví vLance
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào Admin,<br/>
    <br/>
    Khách hàng đã yêu cầu nâng cấp tài khoản lên VIP. <br/>
    Khách hàng: [<b>{{account.id}}</b>] {{account.fullName}}.<br/>
    Link KH: <a href="http://www.vlance.vn/a/s/{{account.id}}">http://www.vlance.vn/a/s/{{account.id}}</a><br/>
    Gói VIP: <b>{{amount}}</b> VNĐ.<br/>
    <br/>
    Thân mến,
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=upgrade-account"/>
{% endblock %}

