{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Tài khoản [{{account.id}}] của bạn nâng cấp tài khoản bằng Ví vLance
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{account.fullName}}</i>,<br/>
    <br/>
    Bạn vừa gửi yêu cầu mua gói {% if account.typeVIP == 0 %} MINI {% endif %} VIP <b>{{amount}} VNĐ</b> để Nâng cấp tài khoản [<b>{{account.id}}</b>] trên vLance.vn. <br/>
    {#{% if account.typeVIP == 0 %}
        Bạn hãy truy cập lại <a href="http://www.vlance.vn/" target="_blank">vLance.vn</a> để chọn Lĩnh vực cho gói MINI VIP.<br>
    {% endif %}#}
{#    Tài khoản {% if account.typeVIP == 0 %} MINI {% endif %} VIP của bạn được sử dụng đến ngày <b>{{account.expiredDateVip|date("d-m-Y H:i:s")}}</b>.<br/>#}
    vLance sẽ nâng cấp tài khoản của bạn trong thời gian sớm nhất. <br/>
    <br/>
    Thân mến,
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=upgrade-account"/>
{% endblock %}
