{% extends "VlanceBaseBundle:Email:layout_email_big.html.twig" %}
{% block subject %}
{% autoescape false %}
Hủy thành công gói nâng cấp tài khoản [{{account.id}}]
{% endautoescape %}
{% endblock %}
{% block body_email %}
<p>
    Xin chào <i>{{account.fullName}}</i>,<br/>
    <br/>
    Bạn đã hủy gói {% if account.typeVIP == 0 %} MINI {% endif %} VIP <b>{{amount}} VNĐ</b> tài khoản [<b>{{account.id}}</b>] trên vLance.vn. <br/>
    {% if isRefund == 'refund' %}
        Tiền hoàn trả vào ví của bạn trên vLance.vn. <br/>
    {% endif %}    
    <br/>
    Để đăng ký lại gói VIP, bạn vui lòng truy cập <a href="http://www.vlance.vn/credit/balance" target="_blank">tại đây</a>.<br/><br/>
    Cảm ơn bạn đã sử dụng dịch vụ của vLance! <br/><br/>
    Thân mến,
<p/>
{% endblock %}
{% block ga_tracker %}
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-34003187-3&cid=34003187&t=event&ec=email&ea=open&el=upgrade-account-cancel"/>
{% endblock %}

